﻿@{
    ViewData["Title"] = "Search Result";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/lib/flatpickr/monthSelect.css" />
<link rel="stylesheet" href="~/css/bootstrap-datepicker.css" />

<div class="container full-width-container  personal-info">
    <div class="content">
        <div class="flex-row row">
            <div class="col-md-4"><h4>แบบฟอร์มการขอแต่งตั้งอาจารย์พิเศษ</h4></div>
            <div class="flex-row document-status"><p>สถานะเอกสาร :</p><p class="margin-left-10">บันทึกร่าง</p></div>

        </div>
        <div class="progress-createform">
            <div class="flex-row">
                <div class="head">
                    <a href="@Url.Action("PersonalInfo", "CreateForm")">
                        <div class="flex-column">
                            <div class="circle selected">1</div>
                            <div class="selected-descrip">ข้อมูลส่วนบุคคล</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("WorkandCourse", "CreateForm")">
                        <div class="flex-column">
                            <div class="circle selected">2</div>
                            <div class="selected-descrip">งานและหลักสูตร</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle selected">3</div>
                        <div class="selected-descrip">วุฒิการศึกษา</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">4</div>
                        <div class="descrip">ประสบการณ์</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">5</div>
                        <div class="descrip">ผลงานวิชาการ</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">6</div>
                        <div class="descrip">อื่นๆ</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form">
            <div class="flex-row">
                <div class="head-square"></div>
                <div class="topic-square">วุฒิการศึกษา</div>
            </div>
            <ul class="ul-nonstyle">
                <li>
                    <div class="item-square mb-4">รายการที่ 1</div>
                </li>
            </ul>
            <div class="flex-column ml-3">
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-4"><span style="color:red;">* </span>ระดับการศึกษา</p>

                            <select id="selLevelEdu" name="selLevelEdu">
                                <option value="">กรุณาเลือก</option>

                            </select>
                        </form>
                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-4">วุฒิการศึกษา</p>
                            <select id="selDegree" name="selDegree">
                                <option value="">กรุณาเลือก</option>
                            </select>
                        </form>
                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-4">สาขาที่จบการศึกษา</p>
                            <select id="selMajor" name="selMajor">
                                <option value="">กรุณาเลือก</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-4">สถานศึกษา</p>
                            <select id="selInstitution" name="selInstitution">
                                <option value="">กรุณาเลือก</option>
                            </select>
                        </form>
                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-10"><span style="color:red;">* </span>เดือนที่จบการศึกษา</p>
                            <input type="text" class="" name="txtMonth" id="txtMonth" />
                        </form>

                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-4"><span style="color:red;">* </span>ประเทศที่จบการศึกษา</p>
                            <select id="selCountry" name="selCountry">
                                <option value="">กรุณาเลือก</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>

            <div class="flex-row mt-3">
                <a href="#"><div class="border-button"><i class="fas fa-plus"></i>เพิ่มรายการ</div></a>
            </div>

            <div class="under-line-pink"></div>

            <table class="styled-table table-gray">
                <thead>
                    <tr>

                        <th>ระดับการศึกษา</th>
                        <th>วุฒิการศึกษา</th>
                        <th>สาขาที่จบการศึกษา</th>
                        <th>สถานศึกษา</th>
                        <th>เดือนที่จบการศึกษา</th>
                        <th>ประเทศที่จบการศึกษา</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ปริญญาโท</td>
                        <td>วิทยาศาสตรมหาบัณฑิต</td>
                        <td>สาขาวิชาเคมีทางการแพทย์</td>
                        <td>จุฬาลงกรณ์มหาวิทยาลัย</td>
                        <td>02/2545</td>
                        <td>ไทย</td>
                        <td class="flex-row table-icon">
                            <div class="edit-btn"><i class="fa fa-edit"></i></div>
                            <div class="delete-btn"><i class="fa fa-trash"></i></div>
                        </td>
                    </tr>
                    <tr class="active-row">
                        <td>ปริญญาตรี</td>
                        <td>แพทยศาสตรบัณฑิต</td>
                        <td>สาขาวิชาแพทยศาสตร์</td>
                        <td>จุฬาลงกรณ์มหาวิทยาลัย</td>
                        <td>05/2540</td>
                        <td>ไทย</td>
                        <td class="flex-row ">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group flex-row mt-2 mb-5">
                <a href="@Url.Action("WorkandCourse", "CreateForm")"><div class="secondary-btn"><p class="text-center">ย้อนกลับ</p></div></a>
                <a href="@Url.Action("Experience", "CreateForm")"><div class="primary-btn"><p class="text-center">ถัดไป</p></div></a>
            </div>
        </div>
    </div>
</div>

<script src="~/js/education.js"></script>
<script src="~/lib/flatpickr/monthSelect.js"></script>
<script src="~/lib/bootstrap-datepicker.min.js"></script>
<script src="~/lib/th/bootstrap-datepicker-thai.js"></script>
<script src="~/lib/th/bootstrap-datepicker-th.js"></script>

<script>
    $(function () {
        $('#txtMonth').datepicker({
            yearRange: '+443:+543',
            format: 'mm/yyyy',
            viewMode: "months",
            minViewMode: "months",
            language: 'th',
            autoClose: true
        });
        var currentDate = new Date();
        currentDate.setYear(currentDate.getFullYear() + 543);
        $('#txtMonth').datepicker("setDate", currentDate);


    });

    //$('.flatpickr').attr('maxlength', 10);
    //$('.flatpickr').attr('placeholder', 'MM/YYYY');
    //$('.flatpickr').attr('autocomplete', 'off');
    //$('.flatpickr').flatpickr({

    //    dateFormat: "m/Y",
    //    locale:"th",
    //    disableMobile: "true",
    //    allowInput: "true",
    //    onDayCreate: function (dObj, dStr, fp, dayElem) {
    //        console.log(dayElem);
    //    },
    //    plugins: [
    //        new monthSelectPlugin({
    //            shorthand: true, //defaults to false
    //            dateFormat: "m.Y", //defaults to "F Y"
    //            altFormat: "F Y", //defaults to "F Y"
    //            theme: "light" // defaults to "light"
    //        })
    //    ]

    //});
    //$('.flatpickr').toArray().forEach(function (field) {
    //    new Cleave(field, {
    //        date: true,
    //        //dateMin: '2020-01-01',
    //        //dateMax: '2025-01-01',
    //        delimiter: '/',
    //        datePattern: ['m', 'Y']

    //    });
    //});
</script>
