﻿@{
    ViewData["Title"] = "Search Result";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />

<div class="container full-width-container  personal-info">
    <div class="content">
        <div class="flex-row row">
            <div class="col-md-4"><h4>แบบฟอร์มการขอแต่งตั้งอาจารย์พิเศษ</h4></div>
            <div class="flex-row document-status"><p>สถานะเอกสาร :</p><p class="margin-left-10">บันทึกร่าง</p></div>

        </div>
        <div class="progress-createform">
            <div class="flex-row">
                <div class="head">
                    <a href="@Url.Action("PersonalInfo", "CreateForm")">
                        <div class="flex-column">
                            <div class="circle selected">1</div>
                            <div class="selected-descrip">ข้อมูลส่วนบุคคล</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("WorkandCourse", "CreateForm")">
                        <div class="flex-column">
                            <div class="circle selected">2</div>
                            <div class="selected-descrip">งานและหลักสูตร</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Education", "Education")">
                        <div class="flex-column">
                            <div class="circle selected">3</div>
                            <div class="selected-descrip">วุฒิการศึกษา</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Experience", "CreateForm")">
                        <div class="flex-column">
                            <div class="circle selected">4</div>
                            <div class="selected-descrip">ประสบการณ์</div>
                        </div>
                        </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle selected">5</div>
                        <div class="selected-descrip">ผลงานวิชาการ</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">6</div>
                        <div class="descrip">อื่นๆ</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form">
            <div class="flex-row ">
                <div class="head-square"></div>
                <div class="topic-square">
                    ผลงานทางวิชาการ 5 ปีย้อนหลัง
                </div>
            </div>
            <ul class="ul-nonstyle margin-top-10">
                <li>
                    <div class="item-square mb-3">รายการที่ 1</div>
                </li>
            </ul>
            @*---------------------------------------------------------------------------------*@
        <div class="tabset">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="tab1" aria-controls="tab1" checked>
            <label for="tab1">งานวิจัย</label>
            <!-- Tab 2 -->
            <input type="radio" name="tabset" id="tab2" aria-controls="tab2">
            <label for="tab2">บทความวิชาการ</label>
            <!-- Tab 3 -->
            <input type="radio" name="tabset" id="tab3" aria-controls="tab3">
            <label for="tab3">ตำรา</label>
            <!-- Tab 4 -->
            <input type="radio" name="tabset" id="tab4" aria-controls="tab4">
            <label for="tab4">หนังสือ</label>
            <!-- Tab 5 -->
            <input type="radio" name="tabset" id="tab5" aria-controls="tab5">
            <label for="tab5">ผลงานวิชาการรับใช้สังคม</label>
            <!-- Tab 6 -->
            <input type="radio" name="tabset" id="tab6" aria-controls="tab6">
            <label for="tab6">ผลงานวิชาการในลักษณะอื่น</label>
            <!-- Tab 7 -->
            <input type="radio" name="tabset" id="tab7" aria-controls="tab7">
            <label for="tab7">งานวิจัยอื่นๆ</label>

            <div class="tab-panels">
                <!-- Section 1 -->
                <section id="tab1" class="tab-panel">
                    <div class="flex-column ">
                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent flex-row">
                                <div class="width-50-percent pb-0">
                                    <div class="form-item">
                                        <form class="form-style-8">
                                            <p>ปีที่เผยแพร่/จัดประชุม</p>
                                            <select id="" name="">
                                                <option value="">2564</option>
                                                <option value="">2563</option>
                                                <option value="">2562</option>
                                                <option value="">2561</option>
                                                <option value="">2560</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="width-50-percent pb-0">
                                    <div class="form-item">
                                        <form class="form-style-8">
                                            <p>เดือนที่เผยแพร่/จัดประชุม</p>
                                            <select id="" name="">
                                                <option value="">01</option>
                                                <option value="">02</option>
                                                <option value="">03</option>
                                                <option value="">04</option>
                                                <option value="">05</option>
                                                <option value="">06</option>
                                                <option value="">07</option>
                                                <option value="">08</option>
                                                <option value="">09</option>
                                                <option value="">10</option>
                                                <option value="">11</option>
                                                <option value="">12</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent">
                                <div class="flex-column">
                                    <label>ประเภทผลงาน</label>
                                    <div class="disable flex-row">
                                        <input type="text" id="" name="" placeholder="งานวิจัย" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="width-50-percent">
                                <div class="form-item">
                                    <form class="form-style-8">
                                        <p>ประเภทงานวิจัย</p>
                                        <select id="" name="">
                                            <option value="">กรุณาเลือก</option>
                                            <option value="">บทความวิจัยในวารสาร</option>
                                            <option value="">รายงานการประชุมฉบับสมบูรณ</option>
                                            <option value="">รายงานวิจัยฉบับสมบูรณ์</option>
                                            <option value="">บทความวิจัยใน Monograph, Book Series</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="width-100-percent flex-row">
                            <div class="form-item">
                                <form class="form-style-8">
                                    <p>ชื่อผู้แต่ง/ผู้แต่งร่วม</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="width-100-percent flex-row pb-1">
                            <div class="form-item">
                                <form class="form-style-8">
                                    <p>ชื่อเรื่อง/ชื่อบทความ/ชื่อการประชุม</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="flex-row width-100-percent">
                            <div class="width-50-percent  pb-0">
                                <div class="form-item width-100-percent">
                                    <form class="form-style-8">
                                        <p>ชื่อวารสาร/ชื่อหนังสือ</p>
                                        <input type="text" name="" placeholder="" />
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent flex-row  pb-0">
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>ปีที่</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>เล่มที่</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>เลขหน้า</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent pb-1">
                                <div class="form-item">
                                    <form class="form-style-8">
                                        <p>ฐานข้อมูล</p>
                                        <select id="" name="">
                                            <option value="">กรุณาเลือก</option>
                                            <option value="">yy</option>
                                            <option value="">zz</option>
                                            <option value="">...</option>
                                            <option value="">SCOPUS</option>
                                            <option value="">TCI1</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent pb-1">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section 2 -->
                <section id="tab2" class="tab-panel">
                    <div class="flex-column ">
                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent flex-row">
                                <div class="width-50-percent pb-0">
                                    <div class="form-item">
                                        <form class="form-style-8">
                                            <p>ปีที่เผยแพร่/จัดประชุม</p>
                                            <select id="" name="">
                                                <option value="">2564</option>
                                                <option value="">2563</option>
                                                <option value="">2562</option>
                                                <option value="">2561</option>
                                                <option value="">2560</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="width-50-percent pb-0">
                                    <div class="form-item">
                                        <form class="form-style-8">
                                            <p>เดือนที่เผยแพร่/จัดประชุม</p>
                                            <select id="" name="">
                                                <option value="">01</option>
                                                <option value="">02</option>
                                                <option value="">03</option>
                                                <option value="">04</option>
                                                <option value="">05</option>
                                                <option value="">06</option>
                                                <option value="">07</option>
                                                <option value="">08</option>
                                                <option value="">09</option>
                                                <option value="">10</option>
                                                <option value="">11</option>
                                                <option value="">12</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent">
                                <div class="flex-column">
                                    <label>ประเภทผลงาน</label>
                                    <div class="disable flex-row">
                                        <input type="text" id="" name="" placeholder="บทความวิชาการ" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="width-50-percent">

                            </div>
                        </div>
                        <div class="width-100-percent flex-row">
                            <div class="form-item">
                                <form class="form-style-8">
                                    <p>ชื่อผู้แต่ง/ผู้แต่งร่วม</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="width-100-percent flex-row pb-1">
                            <div class="form-item">
                                <form class="form-style-8">
                                    <p>ชื่อเรื่อง/ชื่อบทความ/ชื่อการประชุม</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="flex-row width-100-percent">
                            <div class="width-50-percent  pb-0">
                                <div class="form-item width-100-percent">
                                    <form class="form-style-8">
                                        <p>ชื่อวารสาร/ชื่อหนังสือ</p>
                                        <input type="text" name="" placeholder="" />
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent flex-row  pb-0">
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>ปีที่</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>เล่มที่</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>เลขหน้า</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent pb-1">
                                <div class="form-item">
                                    <form class="form-style-8">
                                        <p>ฐานข้อมูล</p>
                                        <select id="" name="">
                                            <option value="">กรุณาเลือก</option>
                                            <option value="">yy</option>
                                            <option value="">zz</option>
                                            <option value="">...</option>
                                            <option value="">SCOPUS</option>
                                            <option value="">TCI1</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent pb-1">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section 3 -->
                <section id="tab3" class="tab-panel">
                    <div class="flex-column ">
                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent flex-row">
                                <div class="width-50-percent pb-0">
                                    <div class="form-item">
                                        <form class="form-style-8">
                                            <p>ปีที่เผยแพร่/จัดประชุม</p>
                                            <select id="" name="">
                                                <option value="">2564</option>
                                                <option value="">2563</option>
                                                <option value="">2562</option>
                                                <option value="">2561</option>
                                                <option value="">2560</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="width-50-percent pb-0">
                                    <div class="form-item">
                                        <form class="form-style-8">
                                            <p>เดือนที่เผยแพร่/จัดประชุม</p>
                                            <select id="" name="">
                                                <option value="">01</option>
                                                <option value="">02</option>
                                                <option value="">03</option>
                                                <option value="">04</option>
                                                <option value="">05</option>
                                                <option value="">06</option>
                                                <option value="">07</option>
                                                <option value="">08</option>
                                                <option value="">09</option>
                                                <option value="">10</option>
                                                <option value="">11</option>
                                                <option value="">12</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent">
                                <div class="flex-column">
                                    <label>ประเภทผลงาน</label>
                                    <div class="disable flex-row">
                                        <input type="text" id="" name="" placeholder="ตำรา" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="width-50-percent">

                            </div>
                        </div>
                        <div class="width-100-percent flex-row">
                            <div class="form-item">
                                <form class="form-style-8">
                                    <p>ชื่อผู้แต่ง/ผู้แต่งร่วม</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="width-100-percent flex-row pb-1">
                            <div class="form-item">
                                <form class="form-style-8">
                                    <p>ชื่อเรื่อง/ชื่อบทความ/ชื่อการประชุม</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="flex-row width-100-percent">
                            <div class="width-50-percent  pb-0">
                                <div class="form-item width-100-percent">
                                    <form class="form-style-8">
                                        <p>ชื่อวารสาร/ชื่อหนังสือ</p>
                                        <input type="text" name="" placeholder="" />
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent flex-row  pb-0">
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>ปีที่</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>เล่มที่</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>เลขหน้า</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent pb-1">
                                <div class="form-item">
                                    <form class="form-style-8">
                                        <p>ฐานข้อมูล</p>
                                        <select id="" name="">
                                            <option value="">กรุณาเลือก</option>
                                            <option value="">yy</option>
                                            <option value="">zz</option>
                                            <option value="">...</option>
                                            <option value="">SCOPUS</option>
                                            <option value="">TCI1</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent pb-1">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section 4 -->
                <section id="tab4" class="tab-panel">
                    <div class="flex-column ">
                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent flex-row">
                                <div class="width-50-percent pb-0">
                                    <div class="form-item">
                                        <form class="form-style-8">
                                            <p>ปีที่เผยแพร่/จัดประชุม</p>
                                            <select id="" name="">
                                                <option value="">2564</option>
                                                <option value="">2563</option>
                                                <option value="">2562</option>
                                                <option value="">2561</option>
                                                <option value="">2560</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="width-50-percent pb-0">
                                    <div class="form-item">
                                        <form class="form-style-8">
                                            <p>เดือนที่เผยแพร่/จัดประชุม</p>
                                            <select id="" name="">
                                                <option value="">01</option>
                                                <option value="">02</option>
                                                <option value="">03</option>
                                                <option value="">04</option>
                                                <option value="">05</option>
                                                <option value="">06</option>
                                                <option value="">07</option>
                                                <option value="">08</option>
                                                <option value="">09</option>
                                                <option value="">10</option>
                                                <option value="">11</option>
                                                <option value="">12</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent">
                                <div class="flex-column">
                                    <label>ประเภทผลงาน</label>
                                    <div class="disable flex-row">
                                        <input type="text" id="" name="" placeholder="หนังสือ" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="width-50-percent">

                            </div>
                        </div>
                        <div class="width-100-percent flex-row">
                            <div class="form-item">
                                <form class="form-style-8">
                                    <p>ชื่อผู้แต่ง/ผู้แต่งร่วม</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="width-100-percent flex-row pb-1">
                            <div class="form-item">
                                <form class="form-style-8">
                                    <p>ชื่อเรื่อง/ชื่อบทความ/ชื่อการประชุม</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="flex-row width-100-percent">
                            <div class="width-50-percent  pb-0">
                                <div class="form-item width-100-percent">
                                    <form class="form-style-8">
                                        <p>ชื่อวารสาร/ชื่อหนังสือ</p>
                                        <input type="text" name="" placeholder="" />
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent flex-row  pb-0">
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>ปีที่</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>เล่มที่</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>เลขหน้า</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent pb-1">
                                <div class="form-item">
                                    <form class="form-style-8">
                                        <p>ฐานข้อมูล</p>
                                        <select id="" name="">
                                            <option value="">กรุณาเลือก</option>
                                            <option value="">yy</option>
                                            <option value="">zz</option>
                                            <option value="">...</option>
                                            <option value="">SCOPUS</option>
                                            <option value="">TCI1</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent pb-1">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section 5 -->
                <section id="tab5" class="tab-panel">
                    <div class="flex-column ">
                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent flex-row">
                                <div class="width-50-percent pb-0">
                                    <div class="form-item">
                                        <form class="form-style-8">
                                            <p>ปีที่เผยแพร่/จัดประชุม</p>
                                            <select id="" name="">
                                                <option value="">2564</option>
                                                <option value="">2563</option>
                                                <option value="">2562</option>
                                                <option value="">2561</option>
                                                <option value="">2560</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="width-50-percent pb-0">
                                    <div class="form-item">
                                        <form class="form-style-8">
                                            <p>เดือนที่เผยแพร่/จัดประชุม</p>
                                            <select id="" name="">
                                                <option value="">01</option>
                                                <option value="">02</option>
                                                <option value="">03</option>
                                                <option value="">04</option>
                                                <option value="">05</option>
                                                <option value="">06</option>
                                                <option value="">07</option>
                                                <option value="">08</option>
                                                <option value="">09</option>
                                                <option value="">10</option>
                                                <option value="">11</option>
                                                <option value="">12</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent">
                                <div class="flex-column">
                                    <label>ประเภทผลงาน</label>
                                    <div class="disable flex-row">
                                        <input type="text" id="" name="" placeholder="ผลงานวิชาการรับใช้สังคม" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="width-50-percent">

                            </div>
                        </div>
                        <div class="width-100-percent flex-row">
                            <div class="form-item">
                                <form class="form-style-8">
                                    <p>ชื่อผู้แต่ง/ผู้แต่งร่วม</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="width-100-percent flex-row pb-1">
                            <div class="form-item">
                                <form class="form-style-8">
                                    <p>ชื่อเรื่อง/ชื่อบทความ/ชื่อการประชุม</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="flex-row width-100-percent">
                            <div class="width-50-percent  pb-0">
                                <div class="form-item width-100-percent">
                                    <form class="form-style-8">
                                        <p>ชื่อวารสาร/ชื่อหนังสือ</p>
                                        <input type="text" name="" placeholder="" />
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent flex-row  pb-0">
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>ปีที่</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>เล่มที่</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>เลขหน้า</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent pb-1">
                                <div class="form-item">
                                    <form class="form-style-8">
                                        <p>ฐานข้อมูล</p>
                                        <select id="" name="">
                                            <option value="">กรุณาเลือก</option>
                                            <option value="">yy</option>
                                            <option value="">zz</option>
                                            <option value="">...</option>
                                            <option value="">SCOPUS</option>
                                            <option value="">TCI1</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent pb-1">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section 6 -->
                <section id="tab6" class="tab-panel">
                    <div class="flex-column ">
                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent flex-row">
                                <div class="width-50-percent pb-0">
                                    <div class="form-item">
                                        <form class="form-style-8">
                                            <p>ปีที่เผยแพร่/จัดประชุม</p>
                                            <select id="" name="">
                                                <option value="">2564</option>
                                                <option value="">2563</option>
                                                <option value="">2562</option>
                                                <option value="">2561</option>
                                                <option value="">2560</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="width-50-percent pb-0">
                                    <div class="form-item">
                                        <form class="form-style-8">
                                            <p>เดือนที่เผยแพร่/จัดประชุม</p>
                                            <select id="" name="">
                                                <option value="">01</option>
                                                <option value="">02</option>
                                                <option value="">03</option>
                                                <option value="">04</option>
                                                <option value="">05</option>
                                                <option value="">06</option>
                                                <option value="">07</option>
                                                <option value="">08</option>
                                                <option value="">09</option>
                                                <option value="">10</option>
                                                <option value="">11</option>
                                                <option value="">12</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent">
                                <div class="flex-column">
                                    <label>ประเภทผลงาน</label>
                                    <div class="disable flex-row">
                                        <input type="text" id="" name="" placeholder="ผลงานวิชาการในลักษณะอื่น" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="width-50-percent">

                            </div>
                        </div>
                        <div class="width-100-percent flex-row">
                            <div class="form-item">
                                <form class="form-style-8">
                                    <p>ชื่อผู้แต่ง/ผู้แต่งร่วม</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="width-100-percent flex-row pb-1">
                            <div class="form-item">
                                <form class="form-style-8">
                                    <p>ชื่อเรื่อง/ชื่อบทความ/ชื่อการประชุม</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="flex-row width-100-percent">
                            <div class="width-50-percent  pb-0">
                                <div class="form-item width-100-percent">
                                    <form class="form-style-8">
                                        <p>ชื่อวารสาร/ชื่อหนังสือ</p>
                                        <input type="text" name="" placeholder="" />
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent flex-row  pb-0">
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>ปีที่</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>เล่มที่</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>เลขหน้า</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent pb-1">
                                <div class="form-item">
                                    <form class="form-style-8">
                                        <p>ฐานข้อมูล</p>
                                        <select id="" name="">
                                            <option value="">กรุณาเลือก</option>
                                            <option value="">yy</option>
                                            <option value="">zz</option>
                                            <option value="">...</option>
                                            <option value="">SCOPUS</option>
                                            <option value="">TCI1</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent pb-1">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section 7 -->
                <section id="tab7" class="tab-panel">
                    <div class="flex-column ">
                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent flex-row">
                                <div class="width-50-percent pb-0">
                                    <div class="form-item">
                                        <form class="form-style-8">
                                            <p>ปีที่เผยแพร่/จัดประชุม</p>
                                            <select id="" name="">
                                                <option value="">2564</option>
                                                <option value="">2563</option>
                                                <option value="">2562</option>
                                                <option value="">2561</option>
                                                <option value="">2560</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="width-50-percent pb-0">
                                    <div class="form-item">
                                        <form class="form-style-8">
                                            <p>เดือนที่เผยแพร่/จัดประชุม</p>
                                            <select id="" name="">
                                                <option value="">01</option>
                                                <option value="">02</option>
                                                <option value="">03</option>
                                                <option value="">04</option>
                                                <option value="">05</option>
                                                <option value="">06</option>
                                                <option value="">07</option>
                                                <option value="">08</option>
                                                <option value="">09</option>
                                                <option value="">10</option>
                                                <option value="">11</option>
                                                <option value="">12</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent">
                                <div class="flex-column">
                                    <label>ประเภทผลงาน</label>
                                    <div class="disable flex-row">
                                        <input type="text" id="" name="" placeholder="งานวิจัยอื่นๆ" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="width-50-percent">

                            </div>
                        </div>
                        <div class="width-100-percent flex-row">
                            <div class="form-item">
                                <form class="form-style-8">
                                    <p>ชื่อผู้แต่ง/ผู้แต่งร่วม</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="width-100-percent flex-row pb-1">
                            <div class="form-item">
                                <form class="form-style-8">
                                    <p>ชื่อเรื่อง/ชื่อบทความ/ชื่อการประชุม</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="flex-row width-100-percent">
                            <div class="width-50-percent  pb-0">
                                <div class="form-item width-100-percent">
                                    <form class="form-style-8">
                                        <p>ชื่อวารสาร/ชื่อหนังสือ</p>
                                        <input type="text" name="" placeholder="" />
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent flex-row  pb-0">
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>ปีที่</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>เล่มที่</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                                <div class="width-33-percent">
                                    <div class="form-item width-100-percent">
                                        <form class="form-style-8">
                                            <p>เลขหน้า</p>
                                            <input type="text" name="" placeholder="" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent pb-1">
                                <div class="form-item">
                                    <form class="form-style-8">
                                        <p>ฐานข้อมูล</p>
                                        <select id="" name="">
                                            <option value="">กรุณาเลือก</option>
                                            <option value="">yy</option>
                                            <option value="">zz</option>
                                            <option value="">...</option>
                                            <option value="">SCOPUS</option>
                                            <option value="">TCI1</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent pb-1">
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            </div>





            @*<div class="flex-column ">
        <div class="width-100-percent flex-row">
            <div class="width-50-percent flex-row">
                <div class="width-50-percent pb-0">
                    <div class="form-item">
                        <form class="form-style-8">
                            <p>ปีที่เผยแพร่/จัดประชุม</p>
                            <select id="" name="">
                                <option value="">2564</option>
                                <option value="">2563</option>
                                <option value="">2562</option>
                                <option value="">2561</option>
                                <option value="">2560</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="width-50-percent pb-0">
                    <div class="form-item">
                        <form class="form-style-8">
                            <p>เดือนที่เผยแพร่/จัดประชุม</p>
                            <select id="" name="">
                                <option value="">01</option>
                                <option value="">02</option>
                                <option value="">03</option>
                                <option value="">04</option>
                                <option value="">05</option>
                                <option value="">06</option>
                                <option value="">07</option>
                                <option value="">08</option>
                                <option value="">09</option>
                                <option value="">10</option>
                                <option value="">11</option>
                                <option value="">12</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="width-100-percent flex-row">
            <div class="width-50-percent">
                <div class="form-item">
                    <form class="form-style-8">
                        <p>ประเภทผลงาน</p>
                        <select id="" name="">
                            <option value="">งานวิจัย</option>
                            <option value="">บทความวิชาการ</option>
                            <option value="">ตำรา</option>
                            <option value="">หนังสือ</option>
                            <option value="">ผลงานวิชาการรับใช้สังคม</option>
                            <option value="">ผลงานวิชาการในลักษณะอื่น</option>
                            <option value="">งานวิจัยอื่นๆ</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="width-50-percent">
                <div class="form-item">
                    <form class="form-style-8">
                        <p>ประเภทงานวิจัย</p>
                        <select id="" name="">
                            <option value="">กรุณาเลือก</option>
                            <option value="">บทความวิจัยในวารสาร</option>
                            <option value="">รายงานการประชุมฉบับสมบูรณ</option>
                            <option value="">รายงานวิจัยฉบับสมบูรณ์</option>
                            <option value="">บทความวิจัยใน Monograph, Book Series</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
            <div class="width-100-percent flex-row">
                <div class="form-item">
                    <form class="form-style-8">
                        <p>ชื่อผู้แต่ง/ผู้แต่งร่วม</p>
                        <input type="text" name="" placeholder="" />
                    </form>
                </div>
            </div>
            <div class="width-100-percent flex-row pb-1">
                <div class="form-item">
                    <form class="form-style-8">
                        <p>ชื่อเรื่อง/ชื่อบทความ/ชื่อการประชุม</p>
                        <input type="text" name="" placeholder="" />
                    </form>
                </div>
            </div>
                <div class="flex-row width-100-percent">
                    <div class="width-50-percent  pb-0">
                        <div class="form-item width-100-percent">
                            <form class="form-style-8">
                                <p>ชื่อวารสาร/ชื่อหนังสือ</p>
                                <input type="text" name="" placeholder="" />
                            </form>
                        </div>
                    </div>
                        <div class="width-50-percent flex-row  pb-0">
                            <div class="width-33-percent">
                                <div class="form-item width-100-percent">
                                    <form class="form-style-8">
                                        <p>ปีที่</p>
                                        <input type="text" name="" placeholder="" />
                                    </form>
                                </div>
                            </div>
                            <div class="width-33-percent">
                                <div class="form-item width-100-percent">
                                    <form class="form-style-8">
                                        <p>เล่มที่</p>
                                        <input type="text" name="" placeholder="" />
                                    </form>
                                </div>
                            </div>
                            <div class="width-33-percent">
                                <div class="form-item width-100-percent">
                                    <form class="form-style-8">
                                        <p>เลขหน้า</p>
                                        <input type="text" name="" placeholder="" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="width-100-percent flex-row">
                            <div class="width-50-percent pb-1">
                                <div class="form-item">
                                    <form class="form-style-8">
                                        <p>ฐานข้อมูล</p>
                                        <select id="" name="">
                                            <option value="">กรุณาเลือก</option>
                                            <option value="">yy</option>
                                            <option value="">zz</option>
                                            <option value="">...</option>
                                            <option value="">SCOPUS</option>
                                            <option value="">TCI1</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="width-50-percent pb-1">
                            </div>
                        </div>
                    </div>*@


            <a href="#"><div class="border-button mt-3"><i class="fas fa-plus"></i>เพิ่มรายการ</div></a>
            <div class="under-line-pink"></div>

            <table class="styled-table table-gray" style="display:block;">
                <thead>
                    <tr>
                        <th>ปีที่เผยแพร่/จัดประชุม</th>
                        <th>เดือนที่เผยแพร่/จัดประชุม</th>
                        <th>ประเภทผลงาน</th>
                        <th>ประเภทงานวิจัย</th>
                        <th>ชื่อผู้แต่ง</th>
                        <th>ชื่อเรื่อง/ชื่อบทความ/ชื่อการประชุม</th>

                        <th>ฐานข้อมูล</th>
                        <th>ชื่อวารสาร/ชื่อหนังสือ</th>
                        <th>ปีที่</th>
                        <th>เล่มที่</th>
                        <th>เลขหน้า</th>
                        <th>สถานที่จัดประชุม</th>
                        <th>ชื่อสำนักพิมพ์</th>
                        <th>รายละเอียดผลงาน</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="flex-row icon-group">
                            <div class="edit-btn"><i class="fa fa-edit"></i></div>
                            <div class="delete-btn"><i class="fa fa-trash"></i></div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        </div>
                </div>
                <div class="btn-group flex-row mt-5 mb-5">
                    <a href="@Url.Action("Experience", "CreateForm")"><div class="secondary-btn"><p class="text-center">ย้อนกลับ</p></div></a>
                    <a href="@Url.Action("Etc", "CreateForm")"><div class="primary-btn"><p class="text-center">ถัดไป</p></div></a>
                </div>

    
