﻿@{
    ViewData["Title"] = "Search Result";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />

<div class="container full-width-container  personal-info">
    <div class="content">
        <div class="flex-row row">
            <div class="col-md-4"><h4>แบบฟอร์มการขอแต่งตั้งอาจารย์พิเศษ</h4></div>
            <div class="flex-row document-status"><p>สถานะเอกสาร :</p><p class="margin-left-10">บันทึกร่าง</p></div>

        </div>
        <div class="progress-createform">
            <div class="flex-row">
                <div class="head">
                    <a href="@Url.Action("PersonalInfo", "CreateForm")">
                        <div class="flex-column">
                            <div class="circle selected">1</div>
                            <div class="selected-descrip">ข้อมูลส่วนบุคคล</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("WorkandCourse", "CreateForm")">
                        <div class="flex-column">
                            <div class="circle selected">2</div>
                            <div class="selected-descrip">งานและหลักสูตร</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Education", "Education")">
                        <div class="flex-column">
                            <div class="circle selected">3</div>
                            <div class="selected-descrip">วุฒิการศึกษา</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Experience", "CreateForm")">
                        <div class="flex-column">
                            <div class="circle selected">4</div>
                            <div class="selected-descrip">ประสบการณ์</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Article", "CreateForm")">
                        <div class="flex-column">
                            <div class="circle selected">5</div>
                            <div class="selected-descrip">ผลงานวิชาการ</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle selected">6</div>
                        <div class="selected-descrip">อื่นๆ</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form">
            <div class="flex-row ">
                <div class="head-square"></div>
                <div class="topic-square">เอกสารที่เกี่ยวข้อง</div>
                <a href="#"><div class="border-button ml-3 mb-1"><i class="fas fa-plus"></i>อัปโหลดไฟล์</div></a>
            </div>
            <div class="margin-top-10">
                <table class="styled-table">
                    <thead>
                        <tr>

                            <th>ประเภทเอกสาร</th>
                            <th>ชื่อเอกสาร</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CV</td>
                            <td><i class="fas fa-paperclip margin-right-10"></i>CV.pdf</td>
                            <td class="flex-row table-icon">
                                <div class="delete-btn"><i class="fa fa-trash"></i></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex-row ">
                <div class="head-square"></div>
                <div class="topic-square">อื่นๆ</div>
            </div>
            <div class="flex-column width-100-percent">
                <div class="form-item margin-top-10">
                    <form class="form-style-8">
                        <p>ระบุเหตุผลกรณีเสนอขอแต่งตั้งนอกระยะเวลาที่กำหนด</p>
                        <input style="width:100%" type="text" name="" placeholder="" />
                    </form>
                </div>
            </div>
            <div class="btn-group flex-row mt-5 mb-5">
                <a href="@Url.Action("Article", "CreateForm")"><div class="secondary-btn"><p class="text-center">ย้อนกลับ</p></div></a>
                <a href="@Url.Action("Preview", "CreateForm")"><div class="secondary-btn"><p class="text-center">แสดงรายละเอียดคำขอ</p></div></a>
                <a href="@Url.Action("Validation", "CreateForm")"><div class="primary-btn"><p class="text-center">ตรวจสอบ</p></div></a>
                <a href="@Url.Action("", "")"><div class="primary-btn" style="display:none;"><p class="text-center">ถัดไป</p></div></a>
            </div>
        </div>
    </div>
</div>