﻿@using CU.Constants;
@{
    ViewData["Title"] = "Search Result";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />

<div class="container full-width-container  personal-info">
    <div class="content">
        <div class="flex-row row">
            <div class="col-md-4"><h4>แบบฟอร์มการขอแต่งตั้งอาจารย์พิเศษ</h4></div>
            <div class="flex-row document-status"><p>สถานะเอกสาร :</p><p class="margin-left-10">บันทึกร่าง</p></div>

        </div>
        <div class="progress-createform">
            <div class="flex-row">
                <div class="head">
                    <a href="@Url.Action("PersonalInfo", "CreateForm")">
                        <div class="flex-column">
                            <div class="circle selected">1</div>
                            <div class="selected-descrip">ข้อมูลส่วนบุคคล</div>
                        </div>
                        </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("WorkandCourse", "CreateForm")">
                        <div class="flex-column">
                            <div class="circle selected">2</div>
                            <div class="selected-descrip">งานและหลักสูตร</div>
                        </div></a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Education", "Education")">
                        <div class="flex-column">
                            <div class="circle selected">3</div>
                            <div class="selected-descrip">วุฒิการศึกษา</div>
                        </div>
                        </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle selected">4</div>
                        <div class="selected-descrip">ประสบการณ์</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">5</div>
                        <div class="descrip">ผลงานวิชาการ</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">6</div>
                        <div class="descrip">อื่นๆ</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form">
                <div class="flex-row mt-4">
                    <div class="head-square"></div>
                    <div class="topic-square">ประสบการณ์การทำงานเกี่ยวกับวิชาที่สอน</div>
                    <div class="margin-left-10 flex-row" style="margin-top:7px;">รวมระยะเวลาประสบการณ์ทำงาน  <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight: bold;">1</div> ปี <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight: bold;">10</div> เดือน</div>
                </div>
                <ul class="ul-nonstyle">
                    <li>
                        <div class="item-square mb-4">รายการที่ 1</div>
                    </li>
                </ul>
                <div class="flex-column ml-3">
                    <div class="width-100-percent flex-row">
                        <div class="width-50-percent">
                            <form class="form-style-8">
                                <p class="lh-10 ml-1">ตำแหน่งงาน</p>
                                <input type="text" name="" placeholder="" />
                                @*<select id="" name="">
                        <option value="">กรุณาเลือก</option>
                        <option value="">yy</option>
                        <option value="">zz</option>
                        <option value="">...</option>
                    </select>*@
                            </form>
                        </div>
                        <div class="width-50-percent">
                            <form class="form-style-8 ">
                                <p class="lh-10">สถานที่ทำงาน</p>
                                <input type="text" name="" placeholder="" />
                            </form>
                        </div>

                    </div>
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent pb-0  flex-row">
                            <div class="w-50 pr-4">
                                <form class="form-style-8">
                                    <p>เดือนที่เริ่มทำงาน</p>
                                    <select id="status" name="status">
                                        <option selected>กรุณาเลือก</option>
                                        @{int x = 0;}
                                        @foreach (var type in AppConstant.MonthSelect)
                                        {
                                            <option value=@x>@type</option>
                                            x++;
                                        }
                                    </select>
                                </form>
                            </div>
                            <div class="w-50">
                                <form class="form-style-8">
                                    <p>ปีที่เริ่มทำงาน</p>
                                    @*<input type="text" name="" placeholder="yyyy" />*@
                                    <select id="StartYear" name="StartYear">
                                        <option selected>กรุณาเลือก</option>
                                        @{int y = DateTime.Now.Year + 543;}

                                        @for (var n = 0; n < AppConstant.YearCount; n++)
                                        {
                                            <option value=@y>@y</option>
                                            y--;
                                        }
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="width-33-percent pb-0 flex-row working-end">
                            <div class="w-50 pr-4">
                                <form class="form-style-8">
                                    <p>เดือนที่สิ้นสุดการทำงาน</p>
                                    @*<input type="text" name="" placeholder="mm" />*@
                                    <select id="status" name="status">
                                        <option selected>กรุณาเลือก</option>
                                        @{int m = 0;}
                                        @foreach (var type in AppConstant.MonthSelect)
                                        {
                                            <option value=@m>@type</option>
                                            m++;
                                        }
                                    </select>
                                </form>
                            </div>
                            <div class="w-50">
                                <form class="form-style-8">
                                    <p>ปีที่สิ้นสุดการทำงาน</p>
                                    @*<input type="text" name="" placeholder="yyyy" />*@
                                    <select id="EndYear" name="EndYear">
                                        <option selected>กรุณาเลือก</option>
                                        @{int j = DateTime.Now.Year + 543;}

                                        @for (var n = 0; n < AppConstant.YearCount; n++)
                                        {
                                            <option value=@j>@j</option>
                                            j--;
                                        }
                                    </select>
                                </form>
                            </div>
                        </div>

                        <div class="width-33-percent pb-0  flex-row">
                            <form class="form-style-8">
                                <p>ระยะเวลาที่ทำงาน</p>
                                <div class="disable flex-row">
                                    <input type="text" name="" placeholder="0 ปี 0 เดือน" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class=" flex-row pt-2">
                        <input type="checkbox" id="working" onclick="checkWorking()" name="" value="" /> <p class="pl-2">ปัจจุบันยังทำงานในตำแหน่งนี้อยู่</p>
                    </div>
                    <div class="flex-row mt-3">
                        <a href="#"><div class="border-button"><i class="fas fa-plus"></i>เพิ่มรายการ</div></a>
                    </div>
                    <div class="under-line-pink"></div>

                    <table class="styled-table table-gray">
                        <thead>
                            <tr>

                                <th>ตำแหน่งงาน</th>
                                <th>สถาบันหรือหน่วยงานที่ทำงาน</th>
                                <th>เดือนที่เริ่มทำงาน</th>
                                <th>เดือนที่สิ้นสุดการทำงาน</th>
                                <th>ระยะเวลาที่ทำงาน</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>นายแพทย์</td>
                                <td>โรงพยาบาลจุฬาลงกรณ์</td>
                                <td>02/2545</td>
                                <td>02/2546</td>
                                <td>1 ปี 0 เดือน</td>
                                <td class="flex-row table-icon">
                                    <div class="edit-btn"><i class="fa fa-edit"></i></div>
                                    <div class="delete-btn"><i class="fa fa-trash"></i></div>
                                </td>
                            </tr>
                            <tr class="active-row">
                                <td>นายแพทย์</td>
                                <td>โรงพยาบาลสมิติเวช สุขุมวิท</td>
                                <td>05/2544</td>
                                <td>05/2545</td>
                                <td>1 ปี 0 เดือน</td>
                                <td class="flex-row">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    @*----------------------------------------------------------------------------------------*@

                    <div class="flex-row">
                        <div class="head-square"></div>
                        <div class="topic-square">ประสบการณ์งานสอน</div>
                        <div class="ml-3 flex-row" style="margin-top:7px;">รวมระยะเวลางานสอน  <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight:bold;">6</div> ปี <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight:bold;">0</div> เดือน</div>
                    </div>
                    <ul class="ul-nonstyle">
                        <li>
                            <div class="item-square mb-4">รายการที่ 1</div>
                        </li>
                    </ul>
                    <div class="flex-column ml-3">
                        <div class="width-100-percent flex-row">
                            <div class="width-33-percent">
                                <form class="form-style-8">
                                    <p class="lh-10 ml-1">ตำแหน่งงาน</p>
                                    <input type="text" name="" placeholder="" />
                                    @*<select id="" name="">
                            <option value="">กรุณาเลือก</option>
                            <option value="">yy</option>
                            <option value="">zz</option>
                            <option value="">...</option>
                        </select>*@
                                </form>
                            </div>
                            <div class="width-33-percent">
                                <form class="form-style-8">
                                    <p class="lh-4">ระดับที่สอน</p>

                                    <select id="status" name="status">
                                        <option selected>กรุณาเลือก</option>
                                        @{int cnt = 0;}
                                        @foreach (var type in AppConstant.JobLevel)
                                        {
                                            <option value=@cnt>@type</option>
                                            cnt++;
                                        }
                                    </select>
                                </form>
                            </div>
                            <div class="width-33-percent">
                                <form class="form-style-8 ">
                                    <p class="lh-10">สถาบันหรือหน่วยงานที่สอน</p>
                                    <input type="text" name="" placeholder="" />
                                </form>
                            </div>
                        </div>
                        <div class="width-100-percent flex-row">
                            <div class="width-33-percent pb-0 flex-row">
                                <div class="w-50 pr-4">
                                    <form class="form-style-8">
                                        <p>เดือนที่เริ่มต้นการสอน</p>
                                        @*<input type="text" name="" placeholder="mm" />*@
                                        <select id="StartMonth" name="StartMonth">
                                            <option selected>กรุณาเลือก</option>
                                            @{int k = 0;}
                                            @foreach (var type in AppConstant.MonthSelect)
                                            {
                                                <option value=@k>@type</option>
                                                k++;
                                            }
                                        </select>
                                    </form>
                                </div>
                                <div class="w-50">
                                    <form class="form-style-8">
                                        <p>ปีที่เริ่มต้นการสอน</p>
                                        @*<input type="text" name="" placeholder="yyyy" />*@
                                        <select id="StartYear" name="StartYear">
                                            <option selected>กรุณาเลือก</option>
                                            @{int l = DateTime.Now.Year + 543;}

                                            @for (var n = 0; n < AppConstant.YearCount; n++)
                                            {
                                                <option value=@l>@l</option>
                                                l--;
                                            }
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="width-33-percent pb-0  flex-row teaching-end">
                                <div class="w-50 pr-4">
                                    <form class="form-style-8">
                                        <p>เดือนที่สิ้นสุดการสอน</p>
                                        <select id="status" name="status">
                                            <option selected>กรุณาเลือก</option>
                                            @{int i = 0;}
                                            @foreach (var type in AppConstant.MonthSelect)
                                            {
                                                <option value=@i>@type</option>
                                                i++;
                                            }
                                        </select>
                                    </form>
                                </div>
                                <div class="w-50">
                                    <form class="form-style-8">
                                        <p>ปีที่สิ้นสุดการสอน</p>
                                        @*<input type="text" name="" placeholder="yyyy" />*@
                                        <select id="EndYear" name="EndYear">
                                            <option selected>กรุณาเลือก</option>
                                            @{int h = DateTime.Now.Year + 543;}
                                            @for (var n = 0; n < AppConstant.YearCount; n++)
                                            {
                                                <option value=@h>@h</option>
                                                h--;
                                            }
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="width-33-percent pb-0 ">
                                <form class="form-style-8">
                                    <p>ระยะเวลาที่สอน</p>
                                    <div class="disable flex-row">
                                        <input type="text" name="" placeholder="0 ปี 0 เดือน" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class=" flex-row pt-2">
                            <input type="checkbox" id="teaching" onclick="checkTeaching()" name="" value="" /> <p class="pl-2">ปัจจุบันยังทำการสอนอยู่</p>
                        </div>
                        <a href="#"><div class="border-button"><i class="fas fa-plus"></i>เพิ่มรายการ</div></a>
                        <div class="under-line-pink"></div>

                        <table class="styled-table table-gray">
                            <thead>
                                <tr>
                                    <th>ตำแหน่งงาน</th>
                                    <th>ระดับที่สอน</th>
                                    <th>สถาบันหรือหน่วยงานที่สอน</th>
                                    <th>เดือนที่เริ่มต้น</th>
                                    <th>เดือนที่สิ้นสุดการสอน</th>
                                    <th>ระยะเวลาที่สอน</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>อาจารย์</td>
                                    <td>ปริญญาโท</td>
                                    <td>จุฬาลงกรณ์มหาวิทยาลัย</td>
                                    <td>01/2550</td>
                                    <td>01/2555</td>
                                    <td>5 ปี 0 เดือน</td>
                                    <td class="flex-row table-icon">
                                        <div class="edit-btn"><i class="fa fa-edit"></i></div>
                                        <div class="delete-btn"><i class="fa fa-trash"></i></div>
                                    </td>
                                </tr>
                                <tr class="active-row">
                                    <td>อาจารย์</td>
                                    <td>ปริญญาตรี</td>
                                    <td>จุฬาลงกรณ์มหาวิทยาลัย</td>
                                    <td>03/2548</td>
                                    <td>03/2549</td>
                                    <td>1 ปี 0 เดือน</td>
                                    <td class="flex-row">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn-group flex-row mt-3 mb-5">
                            <a href="@Url.Action("Education", "Education")"><div class="secondary-btn"><p class="text-center">ย้อนกลับ</p></div></a>
                            <a href="@Url.Action("Article", "CreateForm")"><div class="primary-btn"><p class="text-center">ถัดไป</p></div></a>
                        </div>

                    </div>
                </div>
        </div>
    </div>
</div>


<script>
    function checkTeaching() {
        // Get the checkbox
        var checkBox = document.getElementById("teaching");
        if (checkBox.checked == true) {
            $(".teaching-end").hide();
        } else {
            $(".teaching-end").show();
        }
    }

    function checkWorking() {
        // Get the checkbox
        var checkBox = document.getElementById("working");
        if (checkBox.checked == true) {
            $(".working-end").hide();
        } else {
            $(".working-end").show();
        }
    }


</script>