﻿@{
    ViewData["Title"] = "Create Form";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/lib/dtpickr/datepicker.css" />
<style>
    body {
        background-image: url("../../Image/background.png") !important;
    }
    
</style>
<div class="container full-width-container  createform">
    <div class="box p-4 pl-5">
        <div class="content">
            <div class="form-item flex-row">
                <p class="head-field">ประเภท</p>

                <form id="myForm" class="flex-row">
                    <input class="margin-right-10" type="radio" name="radioName" value="1" checked /><label class="margin-right-30">ไทย</label>  <br />
                    <input class="margin-right-10" type="radio" name="radioName" value="2" /><label> ชาวต่างประเทศ</label>  <br />
                </form>

                @*<label>
                <input type="radio" name="radioName" value="thai" checked />
                <span>ไทย</span>
            </label>
            <label>
                <input type="radio" name="radioName" value="inter" />
                <span>ต่างประเทศ</span>
            </label>*@
            </div>
            <div class="inter">
                <div class="form-item">
                    <form class="form-style-8">
                        <p><span style="color:red;">* </span>เลขที่หนังสือเดินทาง</p>
                        <input type="text" name="passportid" placeholder="" />
                    </form>
                </div>
                <div class="form-item">
                    <form class="form-style-8">
                        <p><span style="color:red;">* </span>ชื่อ</p>
                        <input type="text" name="name" placeholder="" />
                    </form>
                </div>
                <div class="form-item">
                    <form class="form-style-8">
                        <p><span style="color:red;">* </span>นามสกุล</p>
                        <input type="text" name="lastname" placeholder="" />
                    </form>
                </div>
                <div class="form-item">
                    <form class="form-style-8">
                        <p><span style="color:red;">* </span>วันเดือนปีเกิด</p>
                        <input type="text" name="txtbirthdate" id="txtbirthdate" placeholder="DD/MM/YYYY" />
                    </form>
                </div>
            </div>
            <div class="thai">
                <div class="form-item">
                    <form class="form-style-8">
                        <p><span style="color:red;">* </span>รหัสบัตรประชาชน</p>
                        <input type="text" name="personalid" placeholder="" />
                    </form>
                </div>
                </div>
            <div class="flex-row mt-4">
                <a href="@Url.Action("Index", "Menu")"><div class="back-btn mr-3"><i class="fas fa-arrow-left"></i></div></a>
                <a href="@Url.Action("SearchResult", "CreateForm")"><div class="btn">ตรวจสอบข้อมูล</div></a>
            </div>
                
            </div>
        </div>
</div>


<script src="~/lib/dtpickr/bootstrap-datepicker.js"></script>

<script>
    $(".thai").show();
    $(".inter").hide();

    $('#myForm input').on('change', function () {
        if ($('input[name=radioName]:checked', '#myForm').val() == 1) {
            $(".thai").show();
            $(".inter").hide();
        }
        else {
            $(".inter").show();
            $(".thai").hide();
        }
    });

    $(function () {
        $('#txtbirthdate').datepicker({
            language: 'en',
            format: 'dd/mm/yyyy',
        });

    });
    

</script>
