﻿@{
    ViewData["Title"] = "Search Result";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/lib/dtpickr/datepicker.css" />

<div class="container full-width-container createform personal-info" id="page-container">
    <div class="content" id="content-wrap">
        <div class="flex-row">
            <div><h4>แบบฟอร์มการขอแต่งตั้งอาจารย์พิเศษ</h4></div>
            <div class="flex-row document-status"><p>สถานะเอกสาร :</p><p class="ml-2">บันทึกร่าง</p></div>
        </div>
        <div class="progress-createform mt-3">
            <div class="flex-row">
                <div class="head">
                    <div class="flex-column">
                        <div class="circle selected">1</div>
                        <div class="selected-descrip">ข้อมูลส่วนบุคคล</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">2</div>
                        <div class="descrip">งานและหลักสูตร</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">3</div>
                        <div class="descrip">วุฒิการศึกษา</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">4</div>
                        <div class="descrip">ประสบการณ์</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">5</div>
                        <div class="descrip">ผลงานวิชาการ</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">6</div>
                        <div class="descrip">อื่นๆ</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form">
            <div class="flex-row">
                <div class="head-square"></div>
                <div class="topic-square">ข้อมูลส่วนบุคคล</div>
            </div>
            <div class="flex-row add-image">
                <div class="flex-column head-topic margin-right-10">
                    <p class="mb-0">รูปภาพโปรไฟล์</p>
                    <div class="add-image-square">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
                <div class="flex-column head-topic margin-right-10">
                    <p class="mb-0">รูปสำหรับออกบัตร</p>
                    <div class="add-image-square">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
                <div class="flex-column form-item">
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <form class="form-style-8">
                                <p class="lh-4 mb-6px"><span style="color:red;">* </span>คำนำหน้าชื่อ (ไทย)</p>
                                <input type="hidden" name="titleTH" id="titleTH" value="" />
                                <select id="selTitleTH" name="selTitleTH">
                                    <option value="">นาย</option>
                                    <option value="">นางสาว</option>
                                    <option value="">นาง</option>
                                    <option value="">...</option>
                                </select>
                            </form>
                        </div>
                        <div class="width-33-percent">
                            <form class="form-style-8">
                                <p><span style="color:red;">* </span>ชื่อ (ไทย)</p>
                                <input type="text" name="" placeholder="" />
                            </form>
                        </div>
                        <div class="width-33-percent">
                            <form class="form-style-8">
                                <p><span style="color:red;">* </span>นามสกุล (ไทย)</p>
                                <input type="text" name="lastname" placeholder="" />
                            </form>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@

                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <form class="form-style-8">
                                <p class="lh-4 mb-6px"><span style="color:red;">* </span>คำนำหน้าชื่อ (อังกฤษ)</p>
                                <input type="hidden" name="titleEng" id="titleEng" value="" />
                                <select id="selTitleEng" name="selTitleEng">
                                    <option value="">Mr</option>
                                    <option value="">Mrs</option>
                                    <option value="">Ms</option>
                                    <option value="">...</option>
                                </select>
                            </form>
                        </div>
                        <div class="width-33-percent">
                            <form class="form-style-8">
                                <p><span style="color:red;">* </span>ชื่อ (อังกฤษ)</p>
                                <input type="text" name="" placeholder="" />
                            </form>
                        </div>
                        <div class="width-33-percent">
                            <form class="form-style-8">
                                <p><span style="color:red;">* </span>นามสกุล (อังกฤษ)</p>
                                <input type="text" name="" placeholder="" />
                            </form>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@

                </div>
            </div>
            <div class="flex-column">
                <div class=""><span style="color:red;">หมายเหตุ </span> ระบบรองรับไฟล์ประเภท .jpg ขนาดไม่ต่ำกว่า 50 KB และไม่เกิน 200 KB</div>
                <div class="width-100-percent flex-row margin-top-30">
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-4">คำนำหน้าทางวิชาการ/วิชาชีพ (1)</p>
                            <input type="hidden" name="txtJobTitle" id="txtJobTitle" value="" />
                            <select id="selJobTitle" name="selJobTitle">
                                <option value="">กรุณาเลือก</option>
                               
                            </select>
                        </form>
                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-4">ยศทางทหาร</p>
                            <input type="hidden" value="" name="txtMilitaryTitle" id="txtMilitaryTitle" />
                            <select id="selMilitaryTitle" name="selMilitaryTitle">
                                <option value="">กรุณาเลือก</option>
                                
                            </select>
                        </form>
                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-4">คำนำหน้าทางวิชาการ/วิชาชีพ (2)</p>
                            <input type="hidden" value="" name="txtJobTitle2" id="txtJobTitle2" />
                            <select id="selJobTitle2" name="selJobTitle2">
                                <option value="">กรุณาเลือก</option>
                                
                            </select>
                        </form>
                    </div>
                </div>
                @*----------------------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-4">คำนำหน้าอื่น (ดร.)</p>
                            <input type="hidden" name="txtTitleOther" id="txtTitleOther" value="" />
                            <select id="selTitleOther" name="selTitleOther">
                                <option value="">กรุณาเลือก</option>
                               
                            </select>
                        </form>
                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-4">ราชทินนาม</p>
                            <input type="hidden" name="txtTitle3" id="txtTitle3" value="" />
                            <select id="selTitle3" name="selTitle3">
                                <option value="">กรุณาเลือก</option>
                               
                            </select>
                        </form>
                    </div>
                </div>
                @*----------------------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-4"><span style="color:red;">* </span>เพศ</p>
                            <select id="selGender" name="selGender">
                                <option value="-1">กรุณาเลือก</option>
                                <option value="1">ชาย</option>
                                <option value="2">หญิง</option>
                            </select>
                        </form>
                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p><span style="color:red;">* </span>วันเดือนปีเกิด</p>
                            <input class="lh-31" type="text" name="txtBirthDate" id="txtBirthDate" placeholder="DD/MM/YYYY" />
                        </form>
                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-4"><span style="color:red;">* </span>สัญชาติ</p>
                            <input type="hidden" name="txtCountry" id="txtCountry" value="" />
                            <select id="selCountry" name="selCountry">
                                <option value="">กรุณาเลือก</option>
                                
                            </select>
                        </form>
                    </div>
                </div>
                @*----------------------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p><span style="color:red;">* </span>เลขบัตรประชาชน</p>
                            <input type="text" name="txtIDCard" id="txtIDCard" placeholder="_-____-_____-__-_" />
                        </form>
                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p><span style="color:red;">* </span>วันที่ออกบัตรประชาชน</p>
                            <input class="input-medium" type="text" name="txtCardStartDate" id="txtCardStartDate" placeholder="DD/MM/YYYY"  />
                        </form>
                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p><span style="color:red;">* </span>วันหมดอายุบัตรประชาชน</p>
                            <input class="input-medium" type="text" name="txtCardEndDate" id="txtCardEndDate" placeholder="DD/MM/YYYY"  />
                        </form>
                    </div>
                </div>
                @*------------BANK ACCOUNT----------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p><span style="color:red;">* </span>เลขที่หนังสือเดินทาง (กรณีชาวต่างชาติ)</p>
                            <input type="text" name="" placeholder="" />
                        </form>
                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p><span style="color:red;">* </span>วันที่ออกเลขหนังสือเดินทาง</p>
                            <input class="" type="text" name="txtPassStartDate" id="txtPassStartDate" placeholder="DD/MM/YYYY" />
                        </form>
                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p><span style="color:red;">* </span>วันหมดอายุเลขหนังสือเดินทาง</p>
                            <input class="" type="text" name="txtEndStartDate" id="txtEndStartDate" placeholder="DD/MM/YYYY" />
                        </form>
                    </div>
                </div>
                @*----------------------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent pb-0">
                        <form class="form-style-8">
                            <p><span style="color:red;">* </span>อีเมลส่วนตัว</p>
                            <input type="text" name="txtEmail" id="txtEmail" placeholder="_@@_._" />
                        </form>
                    </div>
                    <div class="width-33-percent pb-0">
                        <form class="form-style-8">
                            <p>เบอร์โทรศัพท์มือถือ</p>
                            <input type="text" name="txtMobile" id="txtMobile" placeholder="___-___-____" />
                        </form>
                    </div>
                    <div class="width-33-percent pb-0">
                        <form class="form-style-8">
                            <p>เลขที่เสียภาษี</p>
                            <input type="text" name="txtTaxId" id="txtTaxId" placeholder="_-____-_____-__-_" />
                        </form>
                    </div>
                </div>
                @*--------------------------------------------------------------------------------------------*@
                <div class="flex-row mb-3" style="margin: 10px 0px 10px 0px;">
                    <div class="head-square"></div>
                    <div class="topic-square">ข้อมูลธนาคาร</div>
                    <div class="show-more-address tp-caption rev-btn rev-hiddenicon  rs-hover-ready rev-mre-btn" onclick="showmebank('bank-account');" href="javascript:;" id="clickybank" style="cursor:pointer"><i class="far fa-plus-square margin-left-10" style="color: #e25384;"></i></div>
                </div>
                <div class="width-100-percent bank-account" style="display: flex; display: none; " id="bank-account">
                    <div class="width-33-percent form-item">
                        <form class="form-style-8">
                            <p class="lh-4">ธนาคาร</p>
                            <input type="hidden" name="txtBank" id="txtBank" value="" />
                            <select id="selBank" name="selBank">
                                <option value="">xx</option>
                                <option value="">yy</option>
                                <option value="">zz</option>
                                <option value="">...</option>
                            </select>
                        </form>
                    </div>
                    <div class="width-33-percent form-item">
                        <form class="form-style-8">
                            <p class="lh-4">สาขา</p>
                            <input type="hidden" name="txtBranch" id="txtBranch" value="" />
                            <select id="selBranch" name="selBranch">
                                <option value="">กรุณาเลือก</option>
                            </select>
                        </form>
                    </div>
                    <div class="width-33-percent form-item">
                        <form class="form-style-8">
                            <p class="lh-4">เลขที่บัญชีธนาคาร</p>
                            <input type="text" name="" placeholder="" />
                        </form>
                    </div>
                </div>

                @*---------------------------------------------------------ที่อยู่ที่สามารถติดต่อได้-----------------------------------------------------------------------------------*@
                <div class="flex-row mb-3">
                    <div class="head-square"></div>
                    <div class="topic-square">ที่อยู่ที่สามารถติดต่อได้</div>
                    <div class="show-more-address tp-caption rev-btn rev-hiddenicon  rs-hover-ready rev-mre-btn" onclick="showmeaddress('contact-address');" href="javascript:;" id="clickyaddress" style="cursor:pointer"><i class="far fa-plus-square margin-left-10" style="color: #e25384;"></i></div>
                </div>
                <div class="contact-address flex-column" style="display: flex; display: none; " id="contact-address">
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent form-item">
                            <form class="form-style-8">
                                <p>อาคาร</p>
                                <input type="text" name="" placeholder="" />
                            </form>
                        </div>
                        <div class="width-33-percent form-item">
                            <form class="form-style-8">
                                <p>เลขที่ห้อง</p>
                                <input type="text" name="" placeholder="" />
                            </form>
                        </div>
                        <div class="width-33-percent form-item">
                            <form class="form-style-8">
                                <p>ชั้น</p>
                                <input type="text" name="" placeholder="" />
                            </form>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent form-item">
                            <form class="form-style-8">
                                <p>หมู่บ้าน</p>
                                <input type="text" name="" placeholder="" />
                            </form>
                        </div>
                        <div class="width-33-percent form-item">
                            <form class="form-style-8">
                                <p>บ้านเลขที่</p>
                                <input type="text" name="" placeholder="" />
                            </form>
                        </div>
                        <div class="width-33-percent form-item">
                            <form class="form-style-8">
                                <p>หมู่</p>
                                <input type="text" name="" placeholder="" />
                            </form>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent form-item">
                            <form class="form-style-8">
                                <p>ตรอก/ซอย</p>
                                <input type="text" name="" placeholder="" />
                            </form>
                        </div>
                        <div class="width-33-percent form-item">
                            <form class="form-style-8">
                                <p>ถนน</p>
                                <input type="text" name="" placeholder="" />
                            </form>
                        </div>
                        <div class="width-33-percent form-item">
                            <form class="form-style-8">
                                <p class="lh-4">ประเทศ</p>
                                <input type="hidden" name="txtCountryAddress" id="txtCountryAddress" />
                                <select id="selCountryAddress" name="selCountryAddress">
                                    <option value="">xx</option>
                                    <option value="">yy</option>
                                    <option value="">zz</option>
                                    <option value="">...</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent form-item">
                            <form class="form-style-8">
                                <p class="lh-4">จังหวัด</p>
                                <input type="hidden" name="txtCity" id="txtCity" value="" />
                                <select id="selCity" name="selCity">
                                    <option value=""></option>
                                </select>
                            </form>
                        </div>
                        <div class="width-33-percent form-item">
                            <form class="form-style-8">
                                <p class="lh-4">อำเภอ/เขต</p>
                                <input type="hidden" name="txtDistrict" id="txtDistrict" value="" />
                                <select id="selDistrict" name="selDistrict">
                                    <option value=""></option>

                                </select>
                            </form>
                        </div>
                        <div class="width-33-percent form-item">
                            <form class="form-style-8">
                                <p>ตำบล/แขวง</p>
                                <input type="hidden" name="txtSubDistrict" id="txtSubDistrict" value="" />
                                <select id="selSubDistrict" name="selSubDistrict">
                                    <option value=""></option>
                                </select>
                            </form>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent form-item">
                            <form class="form-style-8">
                                <p class="lh-4">รหัสไปรษณีย์</p>
                                <input type="text" name="txtPostCode" id="txtPostCode" placeholder="" readonly />

                            </form>
                        </div>
                        <div class="width-33-percent form-item">

                        </div>
                        <div class="width-33-percent form-item">

                        </div>
                    </div>
                </div>
                @*------------------END ADDRESS--------------------------------------------------------------------------*@

                <div class="flex-row status">
                    <form class="form-style-8">
                        <div class="flex-row margin-top-30">
                            <p>สถานภาพ</p>
                            <div class="flex-column margin-left-30">
                                <div class="flex-row sub-form">
                                    <input type="checkbox" id="" name="" value="">
                                    <p class="lh-18">ผู้เชี่ยวชาญเฉพาะ</p>
                                    <p class="ml-3"> ระบุมติ ครั้งที่ </p><input style="width: 70px; margin: 0px 20px 10px 10px; " type="text" name="" placeholder="" />
                                    <p> วันที่ </p><input style="width: 150px; margin: 0px 20px 10px 10px; " type="text" name="txtExpertDate" id="txtExpertDate" placeholder="DD/MM/YYYY" class="" />
                                    <p> วันที่เริ่มต้น </p><input style="width: 150px; margin: 0px 20px 10px 10px; " type="text" name="txtExpertStartDate" id = "txtExpertStartDate" placeholder="DD/MM/YYYY" class="" />
                                    <p> วันที่สิ้นสุด </p><input style="width: 150px; margin: 0px 20px 10px 10px; " type="text" name="txtExpertEndDate" id="txtExpertEndDate"placeholder="DD/MM/YYYY" class="" />
                                </div>
                                <div class="flex-row sub-form">
                                    <input type="checkbox" id="" name="" value="">
                                    <p class="lh-18">นักวิจัยพันธมิตร</p>
                                    <p class="ml-4"> ระบุมติ ครั้งที่ </p><input style="width: 70px; margin: 0px 20px 10px 10px; " type="text" name="" placeholder="" />
                                    <p> วันที่ </p><input style="width: 150px; margin: 0px 20px 10px 10px; " type="text" name="txtResearchDate" id="txtResearchDate" placeholder="DD/MM/YYYY" class="" />
                                    <p> วันที่เริ่มต้น </p><input style="width: 150px; margin: 0px 20px 10px 10px; " type="text" name="txtResearchStartDate" id="txtResearchStartDate" placeholder="DD/MM/YYYY" class="" />
                                    <p> วันที่สิ้นสุด </p><input style="width: 150px; margin: 0px 20px 10px 10px; " type="text" name="txtResearchEndDate" id="txtResearchEndDate" placeholder="DD/MM/YYYY" class="" />
                                </div>


                            </div>
                        </div>
                    </form>
                </div>
                <div class="btn-group flex-row mt-5 mb-5">
                    <a href="@Url.Action("SearchResult", "CreateForm")"><div class="secondary-btn"><p class="text-center">ย้อนกลับ</p></div></a>
                    <a href="@Url.Action("WorkandCourse", "CreateForm")"><div class="primary-btn"><p class="text-center">ถัดไป</p></div></a>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="~/js/cuerp.js"></script>
<script src="~/lib/jquery-inputmask/jquery.inputmask.js"></script>
<script src="~/lib/dtpickr/bootstrap-datepicker.js"></script>
<script src="~/lib/th/bootstrap-datepicker-thai.js"></script>
<script src="~/lib/th/bootstrap-datepicker-th.js"></script>

<script>


    $(document).ready(function () {
        $("#txtIDCard").inputmask({ "mask": "9-9999-99999-99-9" }); //specifying options
        $("#txtTaxId").inputmask({ "mask": "9-9999-99999-99-9" }); //specifying options
        $("#txtMobile").inputmask({ "mask": "999-999-9999" }); //specifying options

        $("#txtEmail").inputmask('email');
        $("#txtEmail").inputmask({
            'autoUnmask': true
        });
    });

    function showmeaddress(id) {
        var divid = document.getElementById(id);
        var clicky = document.getElementById("clickyaddress");
        if (divid.style.display == 'block') {
            divid.style.display = 'none';
            clicky.innerHTML = "<i class='far fa-plus-square margin-left-10' style='color: #e25384;'></i>";
        } else {
            divid.style.display = 'block';
            clicky.innerHTML = "<i class='far fa-minus-square margin-left-10' style='color: #e25384;'></i>";
        }
    }
    function showmebank(id) {
        var divid = document.getElementById(id);
        var clicky = document.getElementById("clickybank");
        if (divid.style.display == 'flex') {
            divid.style.display = 'none';
            clicky.innerHTML = "<i class='far fa-plus-square margin-left-10' style='color: #e25384;'></i>";
        } else {
            divid.style.display = 'flex';
            clicky.innerHTML = "<i class='far fa-minus-square margin-left-10' style='color: #e25384;'></i>";
        }
    }

    $(function () {
        $('#txtCardEndDate').datepicker({
            language: 'th-th',
            format: 'dd/mm/yyyy',
        });

        $('#txtCardStartDate').datepicker({
            language: 'th-th',
            format: 'dd/mm/yyyy',
        });        

        $('#txtBirthDate').datepicker({
            language: 'th-th',
            format: 'dd/mm/yyyy',
        });

        $('#txtPassStartDate').datepicker({
            language: 'th-th',
            format: 'dd/mm/yyyy',
        });

        $('#txtEndStartDate').datepicker({
            language: 'th-th',
            format: 'dd/mm/yyyy',
        });

        $('#txtExpertDate').datepicker({
            language: 'th-th',
            format: 'dd/mm/yyyy',
        });

        $('#txtExpertStartDate').datepicker({
            language: 'th-th',
            format: 'dd/mm/yyyy',
        });

        $('#txtExpertEndDate').datepicker({
            language: 'th-th',
            format: 'dd/mm/yyyy',
        });

        $('#txtResearchDate').datepicker({
            language: 'th-th',
            format: 'dd/mm/yyyy',
        });

        $('#txtResearchStartDate').datepicker({
            language: 'th-th',
            format: 'dd/mm/yyyy',
        });

        $('#txtResearchEndDate').datepicker({
            language: 'th-th',
            format: 'dd/mm/yyyy',
        });
        //var currentDate = new Date();
        //currentDate.setYear(currentDate.getFullYear() + 543);
        //$('#txtMonth').datepicker("setDate", currentDate);
    });

    
</script>


