﻿@{
    ViewData["Title"] = "Search Result";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />

<div class="container full-width-container createform personal-info preview ">
    <div class="content">
        <div class="flex-row">
            <div><h4>แบบฟอร์มการขอแต่งตั้งอาจารย์พิเศษ</h4></div>
            <div class="flex-row document-status"><p>สถานะเอกสาร :</p><p class="ml-2">บันทึกร่าง</p></div>
        </div>


        @*-------------------------------  1   PERSONAL INFO      ------------------------------------------------------------*@
        <div class="form">
            <div class="flex-row">
                <div class="head-square"></div>
                <div class="topic-square">ข้อมูลส่วนบุคคล</div>
            </div>
            <div class="flex-row add-image">
                <div class="flex-column head-topic margin-right-10">
                    <p class="mb-0">รูปภาพโปรไฟล์</p>
                    <div class="add-image-square">
                    </div>
                </div>
                <div class="flex-column head-topic margin-right-10">
                    <p class="mb-0">รูปสำหรับออกบัตร</p>
                    <div class="add-image-square">
                    </div>
                </div>
                <div class="flex-column form-item">
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>คำนำหน้าชื่อ (ไทย)</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="นาย" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>ชื่อ (ไทย)</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="ประเสริฐ" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>นามสกุล (ไทย)</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="ดีเลิศ" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@

                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>คำนำหน้าชื่อ (อังกฤษ)</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="Mr." disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>ชื่อ (อังกฤษ)</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="Prasert" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>นามสกุล (อังกฤษ)</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="Deelert" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@
                </div>
            </div>
            <div class="flex-column">

                <div class="width-100-percent flex-row margin-top-30">
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">คำนำหน้าทางวิชาการ/วิชาชีพ (1)</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">ยศทางทหาร</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">คำนำหน้าทางวิชาการ/วิชาชีพ (2)</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                @*----------------------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">คำนำหน้าอื่น (ดร.)</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">ราชทินนาม</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                @*----------------------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>เพศ</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="ชาย" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>เพศ</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="27/2/2535" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>สัญชาติ</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="ไทย" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                @*--------------ID NUMBER--------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>เลขบัตรประชาชน</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="1309827771823" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>วันที่ออกบัตรประชาชน</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="1/2/2555" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>วันหมดอายุบัตรประชาชน</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="1/2/2560" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                @*----------PASSPORT------------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row" style="display:none;">
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>เลขที่หนังสือเดินทาง (กรณีชาวต่างชาติ)</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="1309827771823" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>วันที่ออกเลขหนังสือเดินทาง</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="1/2/2555" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>วันหมดอายุเลขหนังสือเดินทาง</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="1/2/2560" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                @*----------------------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">อีเมลส่วนตัว</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="1/2/2560" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">เบอร์โทรศัพท์มือถือ</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">เลขที่เสียภาษี</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                @*---------BANK ACCOUNT-----------------------------------------------------------------------------------*@
                <div class="flex-row mb-3" style="margin: 10px 0px 10px 0px;">
                    <div class="head-square"></div>
                    <div class="topic-square">ข้อมูลธนาคาร</div>
                </div>
                <div class="width-100-percent bank-account" style="display: flex; " id="bank-account">
                    <div class="width-33-percent ">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">ธนาคาร</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">สาขา</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">เลขที่บัญชีธนาคาร</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                @*---------------------------------------------------------ที่อยู่ที่สามารถติดต่อได้-----------------------------------------------------------------------------------*@
                <div class="flex-row mb-3" style="margin: 10px 0px 10px 0px; ">
                    <div class="head-square"></div>
                    <div class="topic-square">ที่อยู่ที่สามารถติดต่อได้</div>
                </div>
                <div class="contact-address flex-column" style="display: flex;" id="contact-address">
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">อาคาร</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">เลขที่ห้อง</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">ชั้น</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">หมู่บ้าน</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">บ้านเลขที่</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">หมู่</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">ตรอก/ซอย</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">ถนน</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">จังหวัด</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">อำเภอ/เขต</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">ตำบล/แขวง</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">รหัสไปรษณีย์</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">ประเทศ</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">

                        </div>
                        <div class="width-33-percent">

                        </div>
                    </div>
                </div>
                @*------------------END ADDRESS--------------------------------------------------------------------------*@

                <div class="flex-column mt-3">
                    <p>สถานภาพ</p>
                    <div class="flex-row ml-3">
                        <div class="row">
                            <div class="col-md-2 flex-row pl-0 mw-11">
                                <input type="radio" id="" name="" value="" checked>
                                <p class="ml-2">นักวิจัยพันธมิตร</p>
                            </div>
                            <div class="col-md-2 mw-17">
                                <div class="flex-row">
                                    <p class="w-50 mb-0 pb-0">ระบุมติ ครั้งที่</p>
                                    <div class="disable flex-row w-50 ">
                                        <input class="pt-0 mt-0" type="text" id="" name="" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="flex-row">
                                    <p class="w-25 mb-0 pb-0">วันที่</p>
                                    <div class="disable flex-row w-75 ">
                                        <input class="pt-0 mt-0" type="text" id="" name="" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="flex-row">
                                    <p class="w-30 mb-0 pb-0">วันที่เริ่มต้น</p>
                                    <div class="disable flex-row w-55 ">
                                        <input class="pt-0 mt-0" type="text" id="" name="" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="flex-row">
                                    <p class="w-30 mb-0 pb-0">วันที่สิ้นสุด</p>
                                    <div class="disable flex-row w-55 ">
                                        <input class="pt-0 mt-0" type="text" id="" name="" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*-------------------------------   2   WORK AND COURSE   ------------------------------------------------------------*@
                <div class="flex-row mt-3">
                    <div class="head-square"></div>
                    <div class="topic-square">งานและหลักสูตร</div>
                </div>
                <table class="styled-table mt-3">
                    <thead>
                        <tr>

                            <th>หลักสูตรรายวิชา</th>
                            <th>
                                เกณฑ์มาตรฐาน
                                หลักสูตร
                            </th>
                            <th>
                                ชั่วโมงสอน
                                มากกว่า 50%
                            </th>
                            <th>ระยะเวลาที่สอน</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>หลักสูตรแพทยศาสตรบัณฑิต</td>
                            <td>ปี 2558</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*-------------------------------   3   EDUCATION   ------------------------------------------------------------*@
                <div class="flex-row mt-3">
                    <div class="head-square"></div>
                    <div class="topic-square">วุฒิการศึกษา</div>
                </div>
                <table class="styled-table mt-3">
                    <thead>
                        <tr>

                            <th>ระดับการศึกษา</th>
                            <th>วุฒิการศึกษา</th>
                            <th>สาขาที่จบการศึกษา</th>
                            <th>สถานศึกษา</th>
                            <th>เดือนที่จบการศึกษา</th>
                            <th>ประเทศที่จบการศึกษา</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ปริญญาโท</td>
                            <td>วิทยาศาสตรมหาบัณฑิต</td>
                            <td>สาขาวิชาเคมีทางการแพทย์</td>
                            <td>จุฬาลงกรณ์มหาวิทยาลัย</td>
                            <td>02/2545</td>
                            <td>ไทย</td>
                           
                        </tr>
                        <tr class="active-row">
                            <td>ปริญญาตรี</td>
                            <td>แพทยศาสตรบัณฑิต</td>
                            <td>สาขาวิชาแพทยศาสตร์</td>
                            <td>จุฬาลงกรณ์มหาวิทยาลัย</td>
                            <td>05/2540</td>
                            <td>ไทย</td>
                            
                        </tr>
                    </tbody>
                </table>
                @*-------------------------------   4   EXPERIENCE   ------------------------------------------------------------*@
            <div class="flex-row mt-3">
                <div class="head-square"></div>
                <div class="topic-square">ประสบการณ์การทำงานเกี่ยวกับวิชาที่สอน</div>
                <div class="margin-left-10 flex-row" style="margin-top:7px;">รวมระยะเวลาประสบการณ์ทำงาน  <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight: bold;">2</div> ปี <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight: bold;">0</div> เดือน</div>
            </div>
            <table class="styled-table mt-3">
                <thead>
                    <tr>

                        <th>ตำแหน่งงาน</th>
                        <th>สถาบันหรือหน่วยงานที่ทำงาน</th>
                        <th>เดือนที่เริ่มทำงาน</th>
                        <th>เดือนที่สิ้นสุดการทำงาน</th>
                        <th>ระยะเวลาที่ทำงาน</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>นายแพทย์</td>
                        <td>โรงพยาบาลจุฬาลงกรณ์</td>
                        <td>02/2545</td>
                        <td>02/2546</td>
                        <td>1 ปี 0 เดือน</td>
                        
                    </tr>
                    <tr class="active-row">
                        <td>นายแพทย์</td>
                        <td>โรงพยาบาลสมิติเวช สุขุมวิท</td>
                        <td>05/2544</td>
                        <td>05/2545</td>
                        <td>1 ปี 0 เดือน</td>
                        <td class="flex-row">
                        </td>
                    </tr>
                </tbody>
            </table>
                @*---------------------------------------------------------------------------------*@
            <div class="flex-row mt-3">
                <div class="head-square"></div>
                <div class="topic-square">ประสบการณ์งานสอน</div>
                <div class="ml-3 flex-row" style="margin-top:7px;">รวมระยะเวลางานสอน  <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight:bold;">6</div> ปี <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight:bold;">0</div> เดือน</div>
            </div>

                <table class="styled-table mt-3">
                            <thead>
                                <tr>
                                    <th>ตำแหน่งงาน</th>
                                    <th>ระดับที่สอน</th>
                                    <th>สถาบันหรือหน่วยงานที่สอน</th>
                                    <th>เดือนที่เริ่มต้น</th>
                                    <th>เดือนที่สิ้นสุดการสอน</th>
                                    <th>ระยะเวลาที่สอน</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>อาจารย์</td>
                                    <td>ปริญญาโท</td>
                                    <td>จุฬาลงกรณ์มหาวิทยาลัย</td>
                                    <td>01/2550</td>
                                    <td>01/2555</td>
                                    <td>5 ปี 0 เดือน</td>
                                    
                                </tr>
                                <tr class="active-row">
                                    <td>อาจารย์</td>
                                    <td>ปริญญาตรี</td>
                                    <td>จุฬาลงกรณ์มหาวิทยาลัย</td>
                                    <td>03/2548</td>
                                    <td>03/2549</td>
                                    <td>1 ปี 0 เดือน</td>
                                    <td class="flex-row">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                @*-------------------------------   5 Article   ------------------------------------------------------------*@
                <div class="flex-row mt-3 ">
                    <div class="head-square"></div>
                    <div class="topic-square">
                        ผลงานทางวิชาการ 5 ปีย้อนหลัง
                    </div>
                </div>
                <table class="styled-table  mt-3" style="display:block;">
                    <thead>
                        <tr>
                            <th>ปีที่เผยแพร่/จัดประชุม</th>
                            <th>เดือนที่เผยแพร่/จัดประชุม</th>
                            <th>ประเภทผลงาน</th>
                            <th>ประเภทงานวิจัย</th>
                            <th>ชื่อผู้แต่ง</th>
                            <th>ชื่อเรื่อง/ชื่อบทความ/ชื่อการประชุม</th>

                            <th>ฐานข้อมูล</th>
                            <th>ชื่อวารสาร/ชื่อหนังสือ</th>
                            <th>ปีที่</th>
                            <th>เล่มที่</th>
                            <th>เลขหน้า</th>
                            <th>สถานที่จัดประชุม</th>
                            <th>ชื่อสำนักพิมพ์</th>
                            <th>รายละเอียดผลงาน</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*-------------------------------   6   ETC   ------------------------------------------------------------*@
                <div class="flex-row mt-3">
                    <div class="head-square"></div>
                    <div class="topic-square">เอกสารที่เกี่ยวข้อง</div>
                </div>
                <table class="styled-table mt-3">
                    <thead>
                        <tr>
                            <th>ประเภทเอกสาร</th>
                            <th>ชื่อเอกสาร</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CV</td>
                            <td><i class="fas fa-paperclip margin-right-10"></i>CV.pdf</td>
                        </tr>
                    </tbody>
                </table>

                @*--------------------------*@
                <div class="flex-row mt-3">
                    <div class="head-square"></div>
                    <div class="topic-square">อื่นๆ</div>
                </div>
                <div class="width-100-percent mt-3">
                    <div class="flex-column">
                        <p class="mb-0 pb-0 overflow-visible">ระบุเหตุผลกรณีเสนอขอแต่งตั้งนอกระยะเวลาที่กำหนด</p>
                        <div class="disable flex-row">
                            <input type="text" id="" name="" placeholder="" disabled>
                        </div>
                    </div>
                </div>
                @*-----------------------------------------------------------------------------------*@
                <div class="btn-group flex-row mt-5 mb-5">
                    <a href="@Url.Action("Etc", "CreateForm")"><div class="primary-btn"><p class="text-center">ปิดเอกสาร</p></div></a>
                </div>
            </div>
        </div>
    </div>
        
    
</div>

<script>
    function showmeaddress(id) {
        var divid = document.getElementById(id);
        var clicky = document.getElementById("clickyaddress");
        if (divid.style.display == 'block') {
            divid.style.display = 'none';
            clicky.innerHTML = "<i class='far fa-plus-square margin-left-10' style='color: #e25384;'></i>";
        } else {
            divid.style.display = 'block';
            clicky.innerHTML = "<i class='far fa-minus-square margin-left-10' style='color: #e25384;'></i>";
        }
    }
    function showmebank(id) {
        var divid = document.getElementById(id);
        var clicky = document.getElementById("clickybank");
        if (divid.style.display == 'flex') {
            divid.style.display = 'none';
            clicky.innerHTML = "<i class='far fa-plus-square margin-left-10' style='color: #e25384;'></i>";
        } else {
            divid.style.display = 'flex';
            clicky.innerHTML = "<i class='far fa-minus-square margin-left-10' style='color: #e25384;'></i>";
        }
    }

</script>

