﻿@{
    ViewData["Title"] = "Search Result";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />

<div class="container full-width-container" style="background:white;">
    <div class="content">
        <a href="@Url.Action("PersonalInfo", "CreateForm")">
            <div class="round-icon-btn"><i class="fas fa-plus"></i><p>สร้างรายการใหม่</p></div>
        </a>
        <p class="head-text">ผลการตรวจสอบ</p>
        <div class="mb-2">
            <div class="flex-row">
                <p class="head-field">ประเภท</p>
                <p class="field">: ช่าวต่างชาติ</p>
            </div>
            <div class="flex-row">
                <p class="head-field">เลขที่หนังสือเดินทาง</p>
                <p class="field">: 1234567890</p>
            </div>
            <div class="flex-row">
                <p class="head-field">วันเดือนปีเกิด</p>
                <p class="field">: 28/6/2520</p>
            </div>
            <div class="flex-row">
                <p class="head-field">ชื่อ-นามสกุล</p>
                <p class="field">: อเล็กซานเดอร์ แม็ค</p>
            </div>
        </div>


        <table class="styled-table">
            <thead>
                <tr>
                    <th></th>
                    <th>เลขที่หนังสือเดินทาง</th>
                    <th>วันเดือนปีเกิด</th>
                    <th>ชื่อ-นามสกุล</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="radio" id="html" name="fav_language" value="HTML"></td>
                    <td>1234567890</td>
                    <td>28/06/2520</td>
                    <td>อเล็กซานเดอร์ แม็คเคอเรล</td>
                </tr>
                <tr class="active-row">
                    <td><input type="radio" id="html" name="fav_language" value="HTML"></td>
                    <td>1234567888</td>
                    <td>28/06/2520</td>
                    <td>อเล็กซ์ แม็คอินทอช</td>
                </tr>
                <tr class="active-row">
                    <td><input type="radio" id="html" name="fav_language" value="HTML"></td>
                    <td>1234567777</td>
                    <td>28/06/2520</td>
                    <td>เล็ก แม็ค</td>
                </tr>
            </tbody>
        </table>

        <div class="btn-group flex-row mt-3">
            <a href="@Url.Action("Index", "CreateForm")"><div class="secondary-btn"><p class="text-center">ย้อนกลับ</p></div></a>
            <a href="@Url.Action("PersonalInfo", "CreateForm")"><div class="primary-btn"><p class="text-center">เลือก</p></div></a>
        </div>


    </div>

</div>

