﻿@{
    ViewData["Title"] = "UploadExcel";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />
<style>
    body {
        background-image: url(../../Image/background.png) !important;
        background-repeat: no-repeat, no-repeat;
        display: flex;
        flex-direction: column;
    }
</style>

<div class="container full-width-container upload-excel">
    <div class="content">
        <div class="col-md-12 col-sm-12 col-xs-12 type-group ">
            <p class="head-text mb-3">นำเข้าข้อมูลผู้ใช้งาน</p>
            <div>
                <p class="mb-3 mr-2 font-18">นำเข้าข้อมูลจากไฟล์</p>
                <div class="flex-row row mb-2 ">
                    <div class="col-md-2">
                        <label for="namefile"><span style="color:red;">*</span>ไฟล์รายชื่อผู้ใช้</label>
                    </div>
                    <div class="col-md-2">
                        <input type="file" id="namefile" name="namefile">
                    </div>
                </div>
                <div class="flex-row row mb-5 mt-5">
                    <div class="col-md-2">
                        <label for="imagefile">นำเข้าข้อมูลรุปภาพ</label>
                    </div>
                    <div class="col-md-2">
                        <input type="file" id="imagefile" name="imagefile">
                    </div>
                </div>
                <div class="btn-group flex-row">
                    <a href="@Url.Action("Index", "Menu")"><div class="secondary-btn"><p class="text-center">ย้อนกลับ</p></div></a>
                    <a href=""><div class="primary-btn"><p class="text-center">ตรวจสอบการนำเข้า</p></div></a>
                </div>
            </div>
        </div>
        <!--
        <div class="pink-btn btn"><a data-toggle="modal" data-target=".modal-setting"><p style="color: white; ">ตรวจสอบการนำเข้า</p></a></div>

    -->
    </div>
</div>

