﻿@{
    ViewData["Title"] = "Search Result";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />

<div class="container full-width-container  personal-info validation">
    <div class="content">
        <div class="flex-row row">
            <div class="col-md-4"><h4>แบบฟอร์มการขอแต่งตั้งอาจารย์พิเศษ</h4></div>
            <div class="flex-row document-status"><p>สถานะเอกสาร :</p><p class="margin-left-10">บันทึกร่าง</p></div>

        </div>

        <div class="mt-2">
            <div class="flex-row ">
                <div class="head-square"></div>
                <div class="topic-square">ตรวจสอบเกณฑ์มาตรฐานหลักสูตร</div>
            </div>
            <div class="flex-row float-left mt-4">
                <p>
                    เป็น <span class="mx-2 pink-bold ">ผู้เชี่ยวชาญเฉพาะ</span>
                    ตาม มติครั้งที่<span class="mx-2 pink-bold "> 1/2560</span> ลงวันที่<span class="mx-2 pink-bold ">02/02/2560</span> <br />
                    มีผลตั้งแต่<span class="mx-2 pink-bold ">01/03/2560</span>ถึง<span class="mx-2 pink-bold ">01/03/2565</span>
                </p> 
            </div>
            <div class="mt-2">
                <table class="styled-table">
                    <thead>
                        <tr>

                            <th>หลักสูตร</th>
                            <th>เกณฑ์มาตรฐานหลักสูตร</th>
                            <th>ผ่านเกณฑ์/ไม่ผ่านเกณฑ์</th>
                            <th>หมายเหตุ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>หลักสูตรแพทยศาสตร์บัณฑิต</td>
                            <td>ปี 2558</td>
                            <td class="pass"><i style="color: #22cb84;" class="fas fa-check-circle"></i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>หลักสูตรประกาศนียบัตรบัณฑิตชั้นสูงทางวิทยาศาสตร์การแพทย์คลินิก</td>
                            <td>ปี 2558</td>
                            <td class="pass"><i style="color: #c23f2d;" class="fas fa-times-circle"></i></td>
                            <td>ผู้เชี่ยวชาญเฉพาะ</td>
                        </tr>
                        <tr>
                            <td>หลักสูตรประกาศนียบัตรบัณฑิตชั้นสูงทางวิทยาศาสตร์การแพทย์คลินิก</td>
                            <td>ปี 2548</td>
                            <td class="pass"><i style="color: #22cb84;" class="fas fa-check-circle"></i></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="btn-group flex-row mt-5 mb-5">
                <a href="@Url.Action("Etc", "CreateForm")"><div class="secondary-btn"><p class="text-center">ย้อนกลับ</p></div></a>
                <a href="@Url.Action("", "")"><div class="green-btn flex-row"><i class="fas fa-long-arrow-alt-right"></i><p class="text-center">ส่งเสนอขอแต่งตั้ง</p></div></a>
                <a href="@Url.Action("", "")"><div class="red-btn flex-row"><i class="fas fa-times"></i><p class="text-center">ยกเลิกเอกสาร</p></div></a>
            </div>
        </div>
    </div>
</div>