﻿@{
    ViewData["Title"] = "Search Result";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />
<link rel="stylesheet" href="~/lib/dtpickr/datepicker.css" />

<div class="container full-width-container  personal-info work-and-course">
    <div class="content">
        <div class="flex-row row">
            <div class="col-md-4"><h4>แบบฟอร์มการขอแต่งตั้งอาจารย์พิเศษ</h4></div>
            <div class="flex-row document-status"><p>สถานะเอกสาร :</p><p class="margin-left-10">บันทึกร่าง</p></div>

        </div>
        <div class="progress-createform">
            <div class="flex-row">
                <div class="head">
                    <a href="@Url.Action("PersonalInfo", "CreateForm")">
                        <div class="flex-column">
                            <div class="circle selected">1</div>
                            <div class="selected-descrip">ข้อมูลส่วนบุคคล</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle selected">2</div>
                        <div class="selected-descrip">งานและหลักสูตร</div>

                    </div>

                    @*<a class="btn"><p style="color: white; ">ดึงข้อมูลวิชาที่เคยสอน</p></a>*@
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">3</div>
                        <div class="descrip">วุฒิการศึกษา</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">4</div>
                        <div class="descrip">ประสบการณ์</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">5</div>
                        <div class="descrip">ผลงานวิชาการ</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="head">
                    <div class="flex-column">
                        <div class="circle">6</div>
                        <div class="descrip">อื่นๆ</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form work-and-course">
            <div class="flex-row">
                <div class="head-square"></div>
                <div class="topic-square">งานและหลักสูตร</div>
                <div class="pink-btn btn"><a data-toggle="modal" data-target=".modal-setting"><p style="color: white; ">ดึงข้อมูลวิชาที่เคยสอน</p></a></div>
            </div>

            <div class="flex-row margin-top-30">
                <p class="margin-right-30">ประเภทการทำงาน</p>
                <form id="myForm" class="flex-column margin-right-50">
                    <input class="margin-right-10" type="radio" name="radioName" value="1" checked /><label>สัญญาจ้างรายภาคการศึกษา</label>  <br />
                    <input class="margin-right-10" type="radio" name="radioName" value="2" /><label>ตามสัญญาจ้าง</label>  <br />
                </form>
                <div class="form-style-8">
                    <form class="enable">
                        <p class="lh-10"><span style="color:red;">* </span>ปีการศึกษา</p>
                        <input type="text" placeholder="yyyy" />
                    </form>
                </div>
            </div>
            <ul class="ul-nonstyle">
                <li>
                    <div class="item-square">รายการที่ 1</div>
                </li>
            </ul>
            <div class="flex-column">
                <div class="flex-row">
                    <div class="left">
                        <div class="flex-column">
                            <label>รหัสรายวิชา</label>
                            <div class="enable flex-row">
                                <input type="text" id="" name="" placeholder="300109">
                                <a href="">
                                    <div class="refresh-btn">
                                        <i class="fas fa-sync-alt"></i>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="search-btn">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="flex-column">
                            <label>ชื่อรายวิชา (ไทย)</label>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="เซลล์และชีววิทยาโมเลกุลพื้นฐาน" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="flex-column">
                            <label>ชื่อรายวิชา (อังกฤษ)</label>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="FUNDAMENTALS OF CELL AND MOLECULAR BIOLOGY" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                @*------------------------------------------------------------------------------------------------------------*@
                <div class="flex-row">
                    <div class="left">
                        <div class="flex-column">
                            <label>รหัสหลักสูตร</label>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="12345678901234" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="flex-column">
                            <label>ชื่อหลักสูตร (ไทย)</label>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="หลักสูตรแพทยศาสตรบัณฑิต" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="flex-column">
                            <label>ชื่อหลักสูตร (อังกฤษ)</label>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                @*------------------------------------------------------------------------------------------------------------*@
                <div class="flex-row">
                    <div class="left">
                        <div class="flex-column">
                            <label>ระดับการสอน</label>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="ปริญญาตรี" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="flex-column">
                            <label>สาขาวิชา (ถ้ามี)</label>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="หลักสูตรแพทยศาสตรบัณฑิต" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="flex-column">
                            <label>แขนงวิชา (ถ้ามี)</label>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                @*------------------------------------------------------------------------------------------------------------*@
                <div class="flex-row mb-2">
                    <div class="left">
                        <div class="flex-column">
                            <label>ระบบการศึกษา</label>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="ระบบทวิภาค" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="flex-column">
                            <label>ภาควิชา (ถ้ามี)</label>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="หลักสูตรแพทยศาสตรบัณฑิต" disabled>

                            </div>
                        </div>
                    </div>
                </div>
                @*------------------------------------------------------------------------------------------------------------*@
                <div class="flex-row">
                    <div class="left">
                        <div class="flex-column">
                            <p class="margin-right-30 mb-2">ภาคการศึกษาที่สอน</p>
                            <form id="myForm" class="">
                                <input class="margin-right-10" type="checkbox" name="radioName" value="1" checked /><label>ภาคการศึกษาต้น</label>  <br />
                                <input class="margin-right-10" type="checkbox" name="radioName" value="2" /><label>ภาคการศึกษาปลาย</label>  <br />
                                <input class="margin-right-10" type="checkbox" name="radioName" value="2" /><label>ภาคฤดูร้อน</label>  <br />
                            </form>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="flex-column">
                            <p class="margin-right-30 mb-2">ระยะเวลาที่สอน</p>
                            <form id="myForm" class="form-style-8">
                                <input class="margin-right-10" type="radio" name="radioName" value="1" checked /><label>ตลอดภาคการศึกษา</label>  <br />
                                <input class="margin-right-10" type="radio" name="radioName" value="2" /><label>ระบุช่วงวันที่สอน</label>  <br />

                                <div class="flex-row mt-2" style="position:absolute;">
                                    <p class="ml-4 mr-2 lh-21">เริ่มต้น</p>
                                    <input class="w-12" type="text" id="txtStartDate" name="txtStartDate" placeholder="DD/MM/YYYY">
                                    <p class="mx-2 ml-4 lh-21">สิ้นสุด</p>

                                    <input class="flatpickr w-12" type="text" id="txtEndDate" name="txtEndDate" placeholder="DD/MM/YYYY">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="right">
                        <div class="flex-column">
                            <p class="margin-right-30">เกณฑ์มาตรฐานหลักสูตร</p>
                            <form id="myForm" class="">
                                <input class="margin-right-10" type="radio" name="radioName" value="1" /><label>ปี 2548</label>  <br />
                                <input class="margin-right-10" type="radio" name="radioName" value="2" checked /><label>ปี 2558</label>  <br />
                                <input class="margin-right-10" type="radio" name="radioName" value="2" /><label>ปี 2565</label>  <br />
                            </form>
                        </div>
                    </div>
                </div>
                @*------------------------------------------------------------------------------------------------------------*@
                <div class="flex-row mt-4">
                    <div class="left">
                        <div class="flex-column">
                            <p class="margin-right-30">ชั่วโมงการสอน</p>
                            <form id="myForm" class="">
                                <input class="margin-right-10" type="radio" name="radioName" value="1" checked /><label>มีชั่วโมงการสอนเกินร้อยละ 50</label>  <br />
                                <input class="margin-right-10" type="radio" name="radioName" value="2" /><label>มีชั่วโมงการสอนไม่เกินร้อยละ 50</label>  <br />
                            </form>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="flex-column">
                            <p class=""><span style="color:red;">* </span>อาจารย์ประจำที่รับผิดชอบรายวิชา</p>
                            <div class="enable flex-row">
                                <div class="width-100-percent" style="width: 26.1em;">
                                    <form class="form-style-8">
                                        <input class="" type="text" id="" name="" placeholder="ผศ.ดร. กาญจนา แก้วสกุลทอง">
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="right">
                        <div class="flex-column">
                            <p class="">มติสภา/มติคณะกรรมการนโยบายวิชาการ</p>
                            <div class="enable flex-row">
                                <p class="margin-right-10 mt-1">ครั้งที่</p>
                                <div style="width: 90px;">
                                    <form class="form-style-8">
                                        <input style="width: 100%;" type="text" id="" name="" placeholder="">
                                    </form>
                                </div>
                                <p class="margin-left-20 margin-right-10 mt-1">วันที่</p>
                                <div style="width: 150px;">
                                    <form class="form-style-8">
                                        <input style="width: 100%;" class="flatpickr" type="text" id="txCommiteeDate" name="txCommiteeDate">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="flex-row mt-3">
                <a href="#"><div class="border-button"><i class="fas fa-plus"></i>เพิ่มรายการ</div></a>
                @*<a  class="primary-btn"><p style="color: white; ">ดึงข้อมูลวิชาที่เคยสอน</p></a>*@
            </div>
            <div class="under-line-pink"></div>

            <table class="styled-table table-gray">
                <thead>
                    <tr>

                        <th>หลักสูตรรายวิชา</th>
                        <th>
                            เกณฑ์มาตรฐาน
                            หลักสูตร
                        </th>
                        <th>
                            ชั่วโมงสอน
                            มากกว่า 50%
                        </th>
                        <th>ระยะเวลาที่สอน</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>หลักสูตรแพทยศาสตรบัณฑิต</td>
                        <td>ปี 2558</td>
                        <td></td>
                        <td></td>
                        <td class="flex-row table-icon">
                            <div class="edit-btn"><i class="fa fa-edit"></i></div>
                            <div class="delete-btn"><i class="fa fa-trash"></i></div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
    <div class="btn-group flex-row mt-2 mb-5">
        <a href="@Url.Action("PersonalInfo", "CreateForm")"><div class="secondary-btn"><p class="text-center">ย้อนกลับ</p></div></a>
        <a href="@Url.Action("Education", "Education")"><div class="primary-btn"><p class="text-center">ถัดไป</p></div></a>
    </div>
</div>


<div id="LDAPModal" class="modal fade modal-setting" style="z-index: 1100;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header mt-2" style="padding: 12px 15px;">
                <p class="mb-0">ดึงข้อมูลวิชาที่เคยสอน</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="~/Image/icon/cross-g.png" class="img-icon" />
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12 col-xs-12 item-middle text-center" style="min-height:130px;">
                    <span>
                        <div class="svg-box">
                            <div class="row mb-3 mt-2">
                                <div class="col-md-10 flex-row">
                                    <form class="form-style-8 w-100">
                                        <input type="text" name="" id="" value="" placeholder="ระบุ รหัสหลักสูตร  ชื่อหลักสูตร(ไทย) รหัสรายวิชา ชื่อรายวิชา(ไทย)" />
                                    </form>
                                </div>

                                <div class="col-md-2 flex-row ">
                                    <div class="pink-btn">
                                        <p>ค้นหา</p>
                                    </div>
                                </div>
                            </div>
                            <table class="styled-table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="" name="" value=""></th>
                                        <th>
                                            รหัสรายวิชา
                                        </th>
                                        <th>
                                            ชื่อรายวิชา (ไทย)
                                        </th>
                                        <th>ชื่อรายวิชา (อังกฤษ)</th>
                                        <th>รหัสหลักสูตร</th>
                                        <th>ชื่อหลักสูตร (ไทย)</th>
                                        <th>ชื่อหลักสูตร (อังกฤษ)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <svg class="circular success-stroke">
                                <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                            </svg>
                            <svg class="checkmark success-stroke">
                                <g transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-489.57,-205.679)">
                                    <path class="checkmark__check" fill="none" d="M616.306,283.025L634.087,300.805L673.361,261.53" />
                                </g>
                            </svg>

                        </div>

                        <p class="text-green-b" style="font-size:24px;">@Html.Raw(TempData["Success"])</p>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                    <div class="form-group" style="margin-bottom:5px;">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6 p-0 text-center">
                                <button type="button" class="btn btn-gray" style="margin-top:5px;" data-dismiss="modal" aria-label="Close">
                                    ยืนยัน
                                </button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 p-0 text-center">
                                <button type="button" class="btn btn-gray" style="margin-top:5px;" data-dismiss="modal" aria-label="Close">
                                    ปิด
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/dtpickr/bootstrap-datepicker.js"></script>
<script src="~/lib/th/bootstrap-datepicker-thai.js"></script>
<script src="~/lib/th/bootstrap-datepicker-th.js"></script>


<script>
    $(function () {
        $('#txtStartDate').datepicker({
            language: 'th-th',
            format: 'dd/mm/yyyy',
        });

        $('#txtEndDate').datepicker({
            language: 'th-th',
            format: 'dd/mm/yyyy',
        });
    });

</script>
