﻿@{ ViewData["Title"] = "403 การเข้าถึงถูกปฏิเสธ/ไม่ได้รับอนุญาต"; }

<div class="col-md-12 col-sm-12 col-xs-12 error_detail">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 form-frame" style="margin:0px auto;">
            <div style="text-align: center !important">
                <div style="font-size: 6rem;line-height: normal;font-weight: bold;color: #DB5F8E;">403</div>
                <div style="font-size: 1.8rem;line-height: normal;font-weight: bold;color: #DB5F8E;">ไม่ได้รับอนุญาตในการเข้าถึงข้อมูลดังกล่าว</div>
                <a href="@Url.Action("Login", "Account")" class="btn btn-theme" style="margin-top:2.2rem;">กลับสู่หน้าหลัก</a>
            </div>
        </div>
    </div>
</div>