﻿@{ ViewData["Title"] = "401 ไม่ได้รับอนุญาตในการเข้าถึงข้อมูล"; }

<div class="col-md-12 col-sm-12 col-xs-12 error_detail">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 form-frame" style="margin:0px auto;">
            <div style="text-align: center !important">
                <div style="font-size: 6rem;line-height: normal;font-weight: bold;color: #DB5F8E;">401</div>
                <div style="font-size: 1.8rem;line-height: normal;font-weight: bold;color: #DB5F8E;">ไม่ได้รับอนุญาตในการเข้าถึงข้อมูล<br>กรุณาเข้าสู่ระบบ</div>
                <a href="@Url.Action("Index", "Home")" class="btn btn-theme" style="margin-top:2.2rem;">กลับสู่หน้าหลัก</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var delay = 3500;
        setTimeout(function () { window.location = "@Url.Action("Login","Account")"; }, delay);
    });
</script>