﻿@{
    ViewData["Title"] = "ImportExcel";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />
<link rel="stylesheet" href="~/css/layout.css" />
<style>
    body {
        background-image: url(../../Image/background.png) !important;
        background-repeat: no-repeat, no-repeat;
        display: flex;
        flex-direction: column;
    }
</style>

<div class="container full-width-container upload-excel">
    <div class="content">
        <div class="col-md-12 col-sm-12 col-xs-12 type-group ">
            <p class="head-text mb-3">นำเข้าข้อมูลจากไฟล์</p>

            <div class="add-image-layout">
                @*<p class="mb-3 mr-2 font-18"></p>*@
                @using (Html.BeginForm("Import", "Excel", FormMethod.Post, new { EncType = "multipart/form-data" }))
                {
                <div class="flex-row row mb-2 ">
                    <div class="col-md-2">
                        <label for="namefile"><span style="color:red;">*</span>ไฟล์รายชื่อผู้ใช้</label>
                    </div>
                    <div class="col-md-2">
                        <label for="excelfile" class="btn btn-theme mt-0">
                            <img src="/image/icon/add-w.png" class="img-icon"> เลือกไฟล์
                        </label>
                        <input class="form-control" required="required" type="text" value="" autocomplete="off" id="FileName" name="FileName" readonly />
                        <input type="file" id="excelfile" name="excelfile" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                    </div>
                </div>
                <div class="flex-row row mb-5 mt-4">
                    <div class="col-md-2">
                        <label for="imagefile" class="mt-2">นำเข้าข้อมูลรุปภาพ</label>
                        
                    </div>
                    <div class="col-md-10 frame-image">
                        <div class="flex-row">
                            <label for="files" class="btn btn-theme mt-0">
                                <img src="/image/icon/add-w.png" class="img-icon"> เลือกรูป
                            </label>
                            <span>ระบบรองรับไฟล์ประเภท .jpg ขนาดไม่ต่ำกว่า 50 KB และไม่เกิน 200 KB</span>
                        </div>
                        <input type="file" id="files" name="Imgs" multiple accept="image/jpeg">
                        <div id="fileList" class="dropzone-border">
                            <ul class="ul-nonstyle grid-10-list">
                                <li><img id="cover-img" src="/image/mockup/profile.png"></li>
                                <li><img id="cover-img" src="/image/mockup/profile.png"></li>
                                <li><img id="cover-img" src="/image/mockup/profile.png"></li>
                                <li><img id="cover-img" src="/image/mockup/profile.png"></li>
                                <li><img id="cover-img" src="/image/mockup/profile.png"></li>
                                <li><img id="cover-img" src="/image/mockup/profile.png"></li>
                                <li><img id="cover-img" src="/image/mockup/profile.png"></li>
                                <li><img id="cover-img" src="/image/mockup/profile.png"></li>
                                <li><img id="cover-img" src="/image/mockup/profile.png"></li>
                                <li><img id="cover-img" src="/image/mockup/profile.png"></li>
                                <li><img id="cover-img" src="/image/mockup/profile.png"></li>
                                <li><img id="cover-img" src="/image/mockup/profile.png"></li>
                                <li><img id="cover-img" src="/image/mockup/profile.png"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                }
                <div class="btn-group flex-row">
                    <a href="@Url.Action("Index","Menu")">
                        <div class="secondary-btn"><p class="text-center">ย้อนกลับ</p></div>
                    </a>
                    <a href=""><div class="primary-btn"><p class="text-center">นำเข้าข้อมูล</p></div></a>
                </div>
            </div>
            
        </div>
       
    </div>
</div>



