﻿@model CU.Models.FTPDisplay
@{
    ViewData["Title"] = "เกณฑ์มาตรฐานหลักสูตร";

}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />

<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row flex-row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center head flex-row">
                <h1 class="mt-5">ตั้งค่าเกณฑ์มาตรฐานหลักสูตร</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ftp">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0 btn-setting row flex-row ">
                    <div class="btn-group mb-3">

                        <a href="@Url.Action("Index", "Admin")" class="secondary-btn">ย้อนกลับ</a>
                        <a class="primary-btn" data-toggle="modal" data-target=".modal-setting"><span><img src="~/Image/icon/gear-w.png" class="img-icon">&nbsp;ตั้งค่า</span></a>
                    </div>
                </div>
                <div class="col-md-11 col-sm-12 col-xs-12 smtp-group p-0" style="margin:0 auto 30px;">
                    @*@if (gateway.id == 0)
                        {
                            <div id="divNoInfo"><h5 class="font-weight-bold">ไม่มีค่าพื้นฐาน</h5></div>
                        }
                        else
                        {

                        }*@
                    <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                        <table width="100%" class="table table-condensed table-bordered">
                            <tbody>
                                <tr>
                                    <td>เกณฑ์มาตรฐาน</td>
                                    <td>
                                        <select>
                                            <option>กรุณาเลือก</option>
                                            <option value="2548">2548</option>
                                            <option value="2558">2558</option>
                                            <option value="2565">2565</option>
                                        </select>
                                    </td>
                                    <td>หลักสูตร</td>
                                    <td>
                                        <select>
                                            <option>กรุณาเลือก</option>
                                            <option value="">ระดับปริญญาตรี</option>
                                            <option value="">ระดับประกาศนียบัตร</option>
                                            <option value="">ระดับปริญญาโท</option>
                                            <option value="">ระดับประกาศนียบัตรชั้นสูง</option>
                                            <option value="">ระดับปริญญาเอก</option>
                                        </select>
                                    </td>
                                </tr>
                                @*<tr>
                                    <td>วุฒิการศึกษา</td>
                                    <td>
                                        <input type="text" placeholder="ระบุขั้นตอนการอนุมัติ" />
                                    </td>
                                    <td>ตำแหน่งทางวิชาการ</td>
                                    <td>
                                        <input type="checkbox" value="Y" /><span>&nbsp; ข้ามขั้นตอน</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ผลงานทางวิชาการ</td>
                                    <td></td>
                                    <td>ประสบการณ์ทำงาน</td>
                                    <td></td>
                                   
                                </tr>*@


                            </tbody>
                        </table>
                        <div class="row">
                            @*----------HR---------*@
                            <div class="col-md-12 col-sm-12 col-xs-12 mt-20">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 title-page">
                                        <h3>เงื่อนไขมาตรฐานหลักสูตร</h3>
                                    </div>
                                </div>
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <thead class="topic">
                                        <tr>
                                            <th class="topic-title">
                                                หน้าที่
                                            </th>
                                            <th class="topic-disallow">
                                                วุฒิการศึกษา
                                            </th>
                                            <th class="topic-readonly">
                                                ตำแหน่งทางวิชาการ
                                            </th>
                                            <th class="topic-allcontrol">
                                                ผลงานทางวิชาการ
                                            </th>
                                            <th class="topic-allcontrol">
                                                ประสบการณ์ทำงาน
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody class="detail">
                                        <tr>
                                            <td class="detail-title">
                                                เงื่อนไข
                                            </td>
                                            <td class="detail-disallow">
                                                <a class="radio">
                                                    @*@Html.RadioButtonFor(m => m.HrDigitalID, AuthorityOption.Deny, new { id = "hr-digitalid-d" })*@
                                                    <input type="radio" />
                                                    <label for="hr-digitalid-d" class="check-custom">
                                                        <span class="img-circle"></span>
                                                        <p class="show-m">ปริญญาโทขึ้นไป หรือเที่ยบเท่า</p>
                                                    </label>
                                                </a>
                                            </td>
                                            <td class="detail-readonly">
                                                <a class="radio">
                                                    @*@Html.RadioButtonFor(m => m.HrDigitalID, AuthorityOption.ReadOnly, new { id = "hr-digitalid-r" })*@
                                                    <input type="radio" />
                                                    <label for="hr-digitalid-r" class="check-custom">
                                                        <span class="img-circle"></span>
                                                        <p class="show-m">ผศ. ขึ้นไป</p>
                                                    </label>
                                                </a>
                                            </td>
                                            <td class="detail-allcontrol">
                                                <a class="radio">
                                                    @*@Html.RadioButtonFor(m => m.HrDigitalID, AuthorityOption.Allow, new { id = "hr-digitalid-a" })*@
                                                    <input type="radio" />
                                                    <label for="hr-digitalid-a" class="check-custom">
                                                        <span class="img-circle"></span>
                                                        <p class="show-m">1 รายการขึ้นไป</p>
                                                    </label>
                                                </a>
                                                <a class="radio">
                                                    @*@Html.RadioButtonFor(m => m.HrDigitalID, AuthorityOption.Allow, new { id = "hr-digitalid-a" })*@
                                                    <input type="radio" />
                                                    <label for="hr-digitalid-a" class="check-custom">
                                                        <span class="img-circle"></span>
                                                        <p class="show-m">1 รายการขึ้นไปในรอบ 5 ปี</p>
                                                    </label>
                                                </a>
                                            </td>
                                            <td class="detail-allcontrol">
                                                <a class="radio">
                                                    @*@Html.RadioButtonFor(m => m.HrDigitalID, AuthorityOption.Allow, new { id = "hr-digitalid-a" })*@
                                                    <input type="radio" />
                                                    <label for="hr-digitalid-a" class="check-custom">
                                                        <span class="img-circle"></span>
                                                        <p class="show-m">6 ปีขึ้นไป</p>
                                                    </label>
                                                </a>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            @*----------.HR---------*@

                        
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@*--------Modal Setting---------*@
<div id="FTPModal" class="modal fade modal-setting" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">

</div>
@*--------.Modal Setting---------*@

<script>
        $(function () {
        if (@ViewBag.showPopUp != null && @ViewBag.showPopUp == true) {
            $('#SmtpModal').modal('show');
        }
        });

        $('.openmodel').on('click', function () {
            openModal($(this).data('id'));
        });

        function openModal(Id) {
            $('#FTPModal').empty();
            $('#FTPModal').load("@Url.Action("GetById", "FTP")/" + Id, function (response, status, xhr) {
                if (status === "success") {
                    $('#FTPModal').modal('show');
                }
            });
        }
</script>

