﻿@{
    ViewData["Title"] = "Admin";
}
@{ Layout = "_AuthorizeLayout"; }
<link rel="stylesheet" href="~/css/createform.css" />
@*<link rel="stylesheet" href="~/css/global.css" />
<link rel="stylesheet" href="~/css/home.css" />*@

<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center head">
                <h3>ผู้ดูแลระบบ</h3>
            </div>
        </div>

        <div class="row mt-3 ml-3">
            <div class="col-md-12 col-sm-12 col-xs-12 type-group ">
                <div class="flex-row">
                    <div class="w-50">
                        <div class="flex-row mb-3">
                            <div class="head-square"></div>
                            <div class="topic-square">
                                ตั้งค่าระบบ
                            </div>
                        </div>
                        <ul class="ul-nonestyle admin-nav-vertical">
                            <li class="menu-item">
                                <a href="@Url.Action("Index", "Ldap")">AD หรือ LADP</a>
                            </li>
                            <li class="menu-item">
                                <a href="@Url.Action("Index", "Smtp")">SMTP Server</a>
                            </li>
                            <li class="menu-item">
                                <a href="@Url.Action("Index", "FTP")">FTP Server</a>
                            </li>
                            
                            <li class="menu-item">
                                <a href="@Url.Action("Index", "Scheduler")">Job Scheduler</a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-50 ">
                        <div class="flex-row mb-3">
                            <div class="head-square"></div>
                            <div class="topic-square">
                                ผู้ใช้งานระบบ
                            </div>
                        </div>
                        <ul class="ul-nonestyle admin-nav-vertical">
                            <li class="menu-item">
                                <a href="@Url.Action("Index", "User")">ผู้ใช้งานระบบ</a>
                            </li>
                            <li class="menu-item">
                                <a href="@Url.Action("Index", "Role")">หน้าที่</a>
                            </li>
                            <li class="menu-item">
                                <a href="@Url.Action("Index", "ActivityLogging")">ข้อมูลการใช้งาน</a>
                            </li>
                            <li class="menu-item">
                                <a href="@Url.Action("Index", "CSVUser")">ตรวจสอบข้อมูลนำเข้า</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <input type="button" name="Sync" id="Sync" value="Sync"/>
        </div>
    </div>
</div>

<script>

    $('#Sync').on('click', function () {
        $.ajax({
            url: "/Admin/SyncUser",
            type: 'GET'
        }).done(function (obj) {
            console.log(obj);
            
        });
    });
</script>               