﻿/*---------------Login Page---------------*/
.login-page .form-frame {}
.login-page .form-frame .btn-back {
    position: absolute;
    top: -17px;
    right: -13px;
    padding: 0px;
    min-width: 75px;
    background: transparent;
    color: #fff !important;
    font-weight: normal;
    box-shadow: none;
    border: 1px solid;
}
.login-page .form-frame .btn-back:hover {
    background: #d23b74;
    border-color: #d23b74;
}
    .login-page .form-frame:before {
        content: '';
        position: absolute;
        top: -15px;
        right: -15px;
        /*height: 260px;*/
        height: 63%;
        width: 98%;
        border-radius: 10px;
        background: linear-gradient(201deg, rgb(226 75 133)0%,rgb(219 95 142 / 40%)100%);
        z-index: -1;
    }
.login-page .form-frame .login-frame {
    padding: 20px;
    margin-bottom:20px;
}
.login-page .form-frame .login-frame .inner {
    display:table;
    width:300px;
    margin:0px auto;
}
    .login-page .form-frame .login-frame h3 {
        color: #fff;
        letter-spacing: 1px;
    }
.login-page .form-frame .login-frame .form-control {
    background: transparent;
    color: #fff;
    padding-left: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    transition: all ease .3s;
}
    .login-page .form-frame .login-frame .form-control:focus,
    .login-page .form-frame .login-frame .form-control:-webkit-autofill {
        background: rgb(219 97 143 / 0.6) !important;
        outline: none;
        border: none;
        border-radius: 5px;
        box-shadow: inset 0px -1px 2px #fda8c8;
    }
.login-page ::placeholder {
        color: #fff;
    }
.login-page .form-group {
    position:relative;
    margin-bottom:10px;
}
.login-page .form-group img {
    position: absolute;
    top: 11px;
    left: 8px;
    opacity: .9;
}
.login-page .form-frame .login-frame input:-webkit-autofill::first-line {
    font-family: 'THSarabunPSK', sans-serif !important;
    font-size: 20px;
}
.login-page .form-frame .login-frame input:-webkit-autofill,
.login-page .form-frame .login-frame input:-webkit-autofill:hover,
.login-page .form-frame .login-frame input:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: inset 0px -1.2px 1px #fda8c8, 0 0 0px 1000px rgb(219 97 143 / 0.9) inset !important;
    transition: background-color 5000s ease-in-out 0s;
}
.login-page .form-frame .btn-main {
    width: 270px;
    margin: 0 auto;
    display: table;
}
.text-danger {
    color: #bd0012 !important;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
}
.btn-text {
    color: #DB5F8E;
    display:table;
    margin:20px auto 0px;
    font-weight:bold;
    letter-spacing:1px;
}
/*--------------------------------------------------------
    Start: Responsive
----------------------------------------------------------*/
@media (max-width: 1199px) and (min-height: 769px) {
}

    @media (max-width: 1199px) and (max-height: 769px) {
    }

    @media (max-width: 1199px) {
        .login-page .form-frame .login-frame .inner {
            width: 300px;
        }
    }

    @media (max-width: 991px) {
        .login-page .form-frame .login-frame .inner {
            width: 100%;
        }
        .login-page .form-frame:before {
            width: 100%;
        }
    }
/* iPad*/
@media (max-width: 769px) {
}

@media (max-width: 769px) and (max-height: 481px) {
}

@media (max-width: 767px) {
    .login-page .form-frame .login-frame .inner {
        width: 300px;
    }
    .login-page .form-frame:before {
        width: 95%;
    }
}
/* Smartphone*/
@media (max-width: 569px) {
}

@media (max-width: 481px) {
    .login-page .form-frame:before {
        right: 5%;
        width: 90%;
        background: linear-gradient(201deg, rgb(226 75 133)0%,rgb(219 95 142 / 60%)100%);
    }
    .login-page .form-frame .btn-back {
        position: absolute;
        top: -17px;
        right: 6%;
    }
}

@media (max-width: 414px) {
}
/* iPhone6*/
@media (max-width: 376px) {
    .login-page .form-frame .login-frame .inner {
        width: 100%;
    }

    .login-page .form-frame .btn-main {
        width: 230px;
    }
    /* iPhone4,5*/
    @media (max-width: 321px) {
    }
}
/*--------------------------------------------------------
    End: Responsive
----------------------------------------------------------*/

