﻿.search-result {
    background: white;
}

body{
    background:white !important;
}
.head-text {
    color: #E25384;
    font-size: 20px;
    font-weight: bold;
}

.personal-info .status .form-style-8 p {
    line-height: 20px;
}

.head-field {
    color: #595959;
    width: 11%;
}

.field {
    color: #e2709a;
    width: 70%;
}

.createform .box {
    top: 18%;
    width: 416px;
    height: auto;
    background: #FFFFFF;
    border-radius: 20px;
}

    .createform .box .content .text {
        display: flex;
        flex-direction: row;
        font-weight:normal;
        font-size:16px;
    }
    .createform .box .content .head-field {
        margin-right: 65px;
    }

    .createform .box .btn {
        padding: 16px 29px;
        background: #e2709a;
        color: white;
        font-size: 18px;
        font-weight: bold;
        width: 254px;
        height: 52px;
        background: #E2709A;
        box-shadow: 0px 2px 0px rgb(0 0 0 / 4%);
        border-radius: 9px;
    }

.back-btn {
    padding: 14px 17px 0px 17px;
    border: 2px solid #e2709a;
    border-radius: 11px;
    height: 52px;
    width: fit-content;
}
    .back-btn i {
        font-size: 20px;
        color: #e2709a;
    }

.createform label {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.createform input {
    background-color: #e2709a;
}


.form-item {
    margin-bottom: 5px;
}

.personal-info .form-item {
    width: 100%;
}

.personal-info .item-3-col .form-item {
    width: 380px;
    margin-right: 30px;
}

.personal-info .item-2-col .form-item {
    width: 584px;
    margin-right: 40px;
}

.personal-info .item-1-col .form-item {
    width: 1209px;
    margin-right: 0px;
}

.show-more-address i {
    font-size:30px;
}

.show-more-bank i {
    font-size: 30px;
}


.flex-row {
    display: flex;
    flex-direction: row;
}







/* 1 PersoanlInfo -------------------------------------------------------------------------------------------------------*/
.ps {
    margin-bottom: 30px;
}
.personal-info {
    background: white !important;
}
   
.personal-info h4 {
    font-size: 20px;
    font-weight: bold;
    color: #595959;
}
.document-status {
    right: 9em;
    position: absolute;
}
    .progress-createform {
    }
        .progress-createform .head {
            width: 10%;
        }

        .progress-createform .external-circle {
            margin: 0px 0px 10px 20px;
            width: 57px;
            padding: 3px;
            border-radius: 50px;
            border: 3px solid #E2709A;
        }

        .progress-createform .gray-external-circle {
            margin: 0px 0px 10px 20px;
            width: 57px;
            padding: 3px;
            border-radius: 50px;
            border: 3px solid #e7ddce !important;
        }
        .progress-createform .gray-external-circle .circle {
            margin: 0px !important;
        }
        .progress-createform .external-circle .circle {
            margin: 0px !important;
        }
            .progress-createform .circle {
            margin: 0px 0px 10px 26px;
            background: #e7ddce;
            color: #514d48;
            width: 45px;
            border-radius: 50px;
            height: 45px;
            left: 143px;
            top: 216px;
            text-align: center;
            padding-top: 13px;
            font-size: 18px;
            font-weight: bold
        }
        .progress-createform .edit .circle {
            margin: 6px 0px 16px 26px;
        }
        .progress-createform .selected {
            background: #E2709A !important;
            color: white;
        }

        .progress-createform .line {
            width: 10%;
            height: 5px;
            background: #e7ddce;
            margin: 20px 0px;
            border-radius: 5px;
        }

        .progress-createform .selected-descrip {
            text-align: center;
            color: #E2709A;
            font-size: 15px;
        }

        .progress-createform .descrip {
            text-align: center;
        }

.form {
    margin-top: 15px;
}
    .form .head-topic {
        margin-right: 30px;
        margin-bottom: 30px;
    }
.head-square {
    width: 7px;
    height: 30px;
    background: #E25384;
}

    .topic-square {
        font-size: 16px;
        height: 30px;
        background: #E25384;
        width: auto;
        padding: 7px 10px;
        margin-left: 5px;
        color: white;
    }

    .form .add-image {
        margin-top: 20px;
        margin-bottom: -20px;
    }
    .form .add-image-square {
        padding: 42% 31%;
        width: 135px;
        height: 169px;
        background: rgba(226, 112, 154, 0.25);
        border-radius: 10px;
    }
        .form .add-image-square i {
            font-size: 60px;
            color: white;
        }

.personal-info .form-item {
    
}

.personal-info .sub-form {
    height: 30px;
    margin-bottom: 15px;
    float: left;
}
    .personal-info .sub-form label {
        margin-left: 5px;
        width: fit-content;
    }

.personal-info .sub-form input {
    margin-right: 5px;
}

    .personal-info .sub-form p {
        width: fit-content;
    }

/* 1 Work and Course -------------------------------------------------------------------------------------------------------*/

.item-square {
    background: #ffd9e6;
    width: 100%;
    padding: 6px 0px 0px 24px;
    color: #e25384;
    margin-bottom: 10px;
    
}

.border-button {
    transition: .2s;
    height: 36px;
    border-radius: 42px;
    font-weight: bold;
    color: #e25384;
    background: white;
    width: 130px;
    padding: 6px 15px 0px 16px;
    border: 4px solid;
    margin-bottom: 20px;
}
    .border-button i {
        color: #e25384;
        margin-right: 10px;
    }

    .border-button:hover {
        border: 4px solid #e25384;
        color: white;
        background: #e25384;
    }

    .border-button:hover i{
        color: white;
    }

.under-line-pink {
    margin-bottom: 25px;
    width: 100%;
    background: #e25384;
    height: 2px;
}

.table-display {
    width: 100%;
    border: 1px solid #EEEEEE;
}

    .table-display .table-header {
        display: flex;
        width: 100%;
        background: #e7ddce;
        padding-left:15px;
        padding-top: 7px;
    }

    .table-display .table-row {
        display: flex;
        width: 100%;
        padding-left: 15px;
        border-bottom: 1px solid #EEEEEE;
    }

.table-display .table-data, .header__item {
    flex: 1 1 20%;
    text-align: left;
}

.edit-btn {
    margin-right: 6px;
    height: 30px;
    width: 29px;
    padding: 7px;
    border-radius: 3px;
    background: #f0c62f;
    cursor: pointer;
}

.delete-btn {
    margin-right: 20px;
    height: 30px;
    width: 29px;
    padding: 7px 8px;
    border-radius: 3px;
    background: #d62a1f;
    cursor: pointer;
}

.delete-btn i{
    color:white;
}

    .edit-btn  i {
        color: white;
    }

.work-and-course .left {
    margin-left: 0px;
    width: 21%;
    padding: 10px;
}

.work-and-course .middle {
    width: 40%;
    padding: 10px;
}
.work-and-course .right {
    position: static !important;
    width: 40%;
    display: inline-block;
    padding: 10px;
}
.work-and-course .pink-btn {
    position: static;
    width: 186px !important;
    margin-left: 51em !important;
}
.enable input {
    background-color: white;
    border: none !important;
    border-bottom: 1px solid #dddddd !important;
    width: 63%;
}
.enable select {
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    font-size: 15px;
    font-family: CHULALONGKORN;
}

input:focus {
    border: none !important;
    border-bottom: 1px solid #8f897f !important;
}

    .width-100-percent input {
}

.enable .width-100-percent input {
    width: 100% !important;
}

.work-and-course .width-40-percent input {
    width: 40% !important;
}

.disable input {
    padding: 5px 0px 0px 0px;
    border: none !important;
    background: #fbfafa !important;
    width: 97% !important;
}


.work-and-course .refresh-btn {
    margin-right: 5px;
    background: #e2709a;
    padding: 8px 8px;
    border-radius: 20px;
    height: 31px;
}

.work-and-course .search-btn {
    background: #1890ff;
    padding: 8px 8px;
    border-radius: 20px;
    height: 31px;
}

.refresh-btn i {
    color: white;
}

.search-btn i {
    color: white;
}
/* Education -------------------------------------------------------------------------------------------------------*/
/* Article -------------------------------------------------------------------------------------------------------*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.form-item {
    padding: 10px 0px 0px 0px;
}



/*--------------------------------------------------------
    Start: Responsive
----------------------------------------------------------*/
/* iPad Pro*/
@media (max-width: 1199px) {
    body {
        background-size: 271% 246% ;
    }
    .form-control {
        min-width: 43em !important;
    }
    .frame-image span {
        left: 22% !important;
    }
}

@media (max-width: 991px) {
    
}
/* iPad*/
@media (max-width: 769px) {
   
}

@media (max-width: 767px) {
    
}

@media (max-width: 668px) {
    
}

@media (max-width: 569px) {
    
}
/* Smartphone*/
@media (max-width: 481px) {
   
}
/* iPhone6*/
@media (max-width: 376px) {
    
}
/* iPhone4,5*/
@media (max-width: 321px) {
    
}
/*--------------------------------------------------------
    End: Responsive
----------------------------------------------------------*/