﻿p {
    min-width: fit-content;
}

.collapsible {
    background-color: #ffdfeb;
    color: #e25384;
    cursor: pointer;
    padding: 19px 20px 6px 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;

}

    .active, .collapsible:hover {
        background-color: #ffc1d9;
    }

    .collapsible:after {
        font-size: 20px;
        content: '\002B';
        color: #e25384;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\2212";
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #fdf4f9;
}

.dashboard li {
    padding: 15px 20px 10px;
    border-bottom: 1px solid #e25384;
}

.dashboard li:last-child {
    border-bottom: none;
}

.dashboard .pink-btn {
    min-width: 121px;
    top: 24px;
    position: absolute;
}

.column {
    height: 200px;
    max-width: 95%;
}

.chart-container-s {
    width: 360px;
    height: 205px;
}

.chart-container-m {
    width: 440px;
    height: 250px;
}
.chart-container-400 {
    width: 400px;
    height: 200px;
}

.chart-container-l {
    width: 470px;
    height: 390px;
}

.chart-container-495 {
    width: 495px;
    height: 247px;
}

.chart-container-230 {
    width: 230px;
    height: 225px;
}

.chart-container-300 {
    width: 300px;
    height: 300px;
}