﻿/*--------------------------------------- 
    Button
---------------------------------------*/
button:focus {
    outline: none !important;
}
/*--- button theme ---------*/
.btn {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50px;
}

.btn-theme {
    background: #DE5C8E;
    min-width: 116px;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0px 2px 0px rgb(0 0 0 / 4%);
    border: none;
    font-weight: bold;
    color: #fff !important;
    margin: 0px 0px 10px 0px;
    font-size: 17px;
    letter-spacing: 0.8px;
    display: inline-block;
    text-align: center;
    padding: 10px 15px 0px 15px;
}

    .btn-theme:hover {
        background: #db2867;
        color: #fff !important;
        box-shadow: 0px 2px 0px rgb(0 0 0 / 6%);
    }
/*--- button theme border ---------*/
.btn-theme-border {
    border: 1px solid #d9276c;
    min-width: 90px;
    border-radius: 5px;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.2);
    font-weight: bold;
    color: #d9276c !important;
    margin: 10px 5px 0px;
    font-size: 17px;
    letter-spacing: 0.8px;
    display: inline-block;
    text-align: center;
}

    .btn-theme-border.white {
        border-color: #fff;
        color: #fff !important;
    }

    .btn-theme-border:hover {
        background: #DE5C8E;
        color: #fff !important;
        box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
        border-color: #d9276c;
    }

.back-bg {
    background-image: url('../../Image/background.png') !important;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
}

.img-icon {
    margin-bottom: 3px;
    width: 15px;
    margin-right: 5px;
}

.dropbtn {
    border: none;
}

.dropdown {
    /*position: relative;*/
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #fff2f7;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: none;
}

.loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.7;
    background-color: #fff;
    z-index: 100;
    text-align: center;
    display: none;
}

    .loading:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
        background-image: url('/Image/loader.svg');
        background-position: 50% 47%;
        background-size: 80px;
        background-repeat: no-repeat;
    }

.loading-text {
    position: absolute;
    top: 54%;
    left: 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.w-15{
    width:15% !important;
}
.w-17 {
    width: 17% !important;
}
.w-45 {
    width:45% !important;
}
.w-85 {
    width: 85% !important;
}
.min-h-170 {
    min-height:170px;
}

.min-h-235 {
    min-height: 235px
}
.mt-2-5 {
    margin-top:0.75em !important;
}

.admin-nav {
    background: white;
    border-radius: 4px;
    margin: 2em 25em;
    width: 600px;
}
    .admin-nav a {
        transition-duration: .2s;
    }
    .admin-nav a:hover {
        color: #da588e;

    }

    .admin-nav li {
        text-align: center;
        width: 150px;
        border-right: 1px solid #ffd0e5;
    }

    .admin-nav li:last-child {
        border-right: none;
    }

.admin-nav-vertical {
    background: white;
    border-radius: 10px;
    
    width: 400px;
}
    .admin-nav-vertical li {
        padding: 22px 0px 0px 20px;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #ffd0e5;
        height: 56px;
    }

    .admin-nav-vertical li:last-child {
        border:none;
    }
    .admin-nav-vertical a:hover {
        color: #da588e;
    }
    .w-35{
        width:35% !important;
    }
.w-12 {
    width: 12% !important;
}

.w-33 {
    width: 33% !important;
}


.w-65 {
    width: 65% !important;
}

.w-7{
    width:7% !important;
}

.w-f {
   width:fit-content;
}
.form-control {
    min-width: 48em ;
    background: #f7f7f7 !important;
}
    .form-control:focus {
        color: #495057;
        outline: 0;
        box-shadow: none !important;
        border: 1px solid #ced4da !important;
    }
    .type-group {
    padding: 50px 75px;
    background: hsla(337, 100%, 89%, 0.50);
    border-radius: 22px;
}

.upload-excel .type-group {
    padding: 35px 55px !important;
    background: hsla(350, 100%, 100%, 0.7) !important;
    border-radius: 22px !important;
}

.btn-setting .btn-group {
    left: 63%;
}

    .btn-setting .btn-group .secondary-btn {
        padding: 10px 25px;
    }

    .btn-setting .btn-group .primary-btn {
        padding: 12px 20px;
    }

    .btn-setting .btn-group .primary-btn span{
        color:white;
    }
.ftp .btn-setting .btn-group {
    left: 53em !important;
}

.smtp-group .btn-setting .btn-group {
    left: 37%;
}

.modal-dialog {
    max-width: 1000px !important;
}

.modal .modal-dialog .modal-content .modal-header p {
    font-size: 20px;
    float: left;
    margin-left: 14px;
}

.modal .modal-dialog .modal-content .modal-header .pink-btn {
    width: 125px !important;
    height: 36px !important;
}


/*tab set -------------------------------------------------------------------------------*/
/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6),
.tabset > input:nth-child(13):checked ~ .tab-panels > .tab-panel:nth-child(7) {
    display: block;
    padding-bottom: 0px;
}

/*
 Styling
*/

.tabset > label {
    margin-bottom: 0px;
    min-width: 140px;
    position: relative;
    display: inline-block;
    padding: 10px 15px 15px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 500;
}

    .tabset > label::after {
        content: "";
        position: absolute;
        left: 15px;
        bottom: 10px;
        width: 22px;
        height: 4px;
        background: #8d8d8d;
    }

    .tabset > label:hover,
    .tabset > input:focus + label {
        color: #e25384;
    }

        .tabset > label:hover::after,
        .tabset > input:focus + label::after,
        .tabset > input:checked + label::after {
            background: #e25384;
        }

.tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}


.tabset {
    max-width: 72em;
}

.font-18 {
    font-size:18px;
}

.col-md-2-5 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.w-80 {
    width: 80% !important;
}

.fs-12 {
    font-size: 12px;
}
.fs-16 {
    font-size: 16px;
}
.w-90{
    width:90% !important;
}
.w-93 {
    width: 93% !important;
}
.fs-30{
    font-size:30px !important;
}
.fs-27 {
    font-size: 27px !important;
}
.grid-10-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.grid-2-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pending-task li:nth-child(even) {
    margin-left: -90px;
    width:100%;
}

.grid-3-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.col-md-9-5 {
    -ms-flex: 0 0 75%;
    flex: 0 0 83%;
    max-width: 83%;
}
.grid-5-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* check box css*/




/*--------------------------------------------------------
    Start: Responsive
----------------------------------------------------------*/
/* iPad Pro*/
@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}
/* iPad*/
@media (max-width: 769px) {
}

@media (max-width: 767px) {
}

@media (max-width: 668px) {
}

@media (max-width: 569px) {
}
/* Smartphone*/
@media (max-width: 481px) {
}
/* iPhone6*/
@media (max-width: 376px) {
}
/* iPhone4,5*/
@media (max-width: 321px) {
}
/*--------------------------------------------------------
    End: Responsive
----------------------------------------------------------*/