﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: CHULALONGKORN;
    color: #595959;
}

a:hover {
    text-decoration: none !important;
}
.full-width-container{
    margin-top:30px;
}
body {
    background-color:white;
    /*background-image: url('../../Image/background.png') !important;*/
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
}
/*body{
    background-image: url("https://www.img.in.th/images/4bbec1a8ef369b2674c5395d873a044c.png");
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
}*/
.log-in{
    display:flex;
    flex-direction:row;
}
    .log-in .image {
        width: 59%;
        height: auto;
        position: absolute;
        left: 0%;
    }

        .log-in .image img {
            width: 100%;
            object-position: 0em 0em;
            background-repeat: no-repeat, no-repeat;
            display: flex;
            max-height: 612px;
            overflow: hidden;
            flex-direction: column;
        }

    .log-in .content {
        height: 91%;
        width: 41%;
        position: absolute;
        right: 0%;
        padding: 90px 0px 0px 70px;
    }
        .log-in .content img {
            width: 40%;
            margin-left: 106px;
        }
        .log-in .content p {
            font-size: 22px;
            text-align: center;
            color: #e2709a;
            font-weight: bold;
            margin-left: -15%;
            margin-bottom: 10px;
        }
.horizon-box {
    padding: 0px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: fit-content;
}

    .horizon-box img {
        height: 33px;
        margin-top: 6px;
    }

    .horizon-box i {
        margin-top: 10px;
        font-size: 21px;
        color: #e2709a;
    }

    .horizon-box .white {
        width: 370px;
        background: white;
        border: 3px solid #e2709a;
        color: #e2709a;
        padding: 8px 45px;
        border-radius: 8px;
        display: flex;
    }

    .horizon-box .pink {
        width: 370px;
        background: #e2709a;
        color: white;
        padding: 8px 45px;
        border-radius: 8px;
        display: flex;
    }
        .horizon-box .pink .head {
            color: white;
            margin-top: 0.6em;
            margin-left: 3.2em;
            font-size: 18px;
        }

    .horizon-box .white .head {
        color: #e2709a;
        margin-top: 0.4em;
        margin-left: 3.6em;
        font-size: 18px;
    }

.home .home-menu {
    margin: 11em 0em 0em 0em;
}

* a {
    text-decoration: none;
    color: #151515;
}

.login {
    width: 29em;
    margin-left: 38px;
}

.login__field {
    padding: 10px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 22px;
    color: #e25384;
}

.login__input {
    border: none;
    border-bottom: 1px solid #8f897f;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 300;
    width: 75%;
    transition: .2s;
}

    .login__input:active,
    .login__input:focus,
    .login__input:hover {
        outline: none;
        border-bottom-color: #e25384;
    }

.login__submit {
    background: #e2709a;
    font-size: 18px;
    margin-top: 30px;
    padding: 5px 130px 0px 127px;
    border-radius: 6px;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 75%;
    color: white;
    cursor: pointer;
    transition: .2s;
}
.login__submit span{
    color:white;
}
    .login__submit:active, .login__submit:focus, .login__submit:hover {
    }

.button__icon {
    margin-bottom: 5px;
    font-size: 20px;
    margin-left: auto;
    color: white;
}
.button__text{
    font-size:18px;
}
.navbar {
    display: flex;
    flex-wrap: nowrap !important;
    align-items: center;
    background-color: #da588e;
    padding: 0px 0px 0px 0px;
    justify-content: space-between;
    height: 50px;
}
    .navbar .home {
        display: flex;
        flex-direction: column;
    }

.left {
    margin-left: 25px;
    display: flex;
    align-items: center;
    width: 50%;
}

    .left .logo {
        padding: 10px 0px 12px 0px;
        overflow: hidden;
        width: 110px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .left .logo img {
            height: 41px;
        }
    .left .home {
        height: 3rem;
        color: #fff;
        margin-left: 15px;
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
    }
    .white-text{
        color:white;
    }

.home .content .box-list ul {
    width: 100%;
    margin-bottom: 20px;
}

.home .content .box-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.home .content .box-list li {
    padding: 0px 25px 25px 0px;
    line-height: 1.5em;
    float: left;
    display: inline;
}
.home-menu .text-head{

}

#double li {
    width: 50%;
}

#triple li {
    width: 33.333%;
}

#quad li {
    width: 25%;
}

#six li {
    width: 16.666%;
}


.pink-box img {
    margin: 40px 0px 0px 29px;
    width: 55px;
}

.right {
    position: absolute;
    left: 80%;
    text-align: left;
    width: 20%;
    display: inline-block;
    align-items: center;
    color: white;
}

    .right .logo i {
        color:white;
        font-size: 30px;
        margin-right: 20px;
        margin-top: 18px;
    }
    .right .home .name {
        font-size: 16px;
        line-height: 19px;
        padding-top: 7px;
    }
    .right .home .role {
        font-size: 15px;
        opacity: 0.9;
    }

    .right .logo {
        margin-bottom: 9px;
    }

.box {
    display:flex;
    position: absolute;
    width: 583px;
    height: 312px;
    left: 38%;
    top: 33%;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgb(222 222 222 / 24%);
    border-radius: 20px;
}

    .box .content {
    }

    .box .content .field{
        display:flex;
        width:100px;
    }
.pink-box {
    border: 2px solid #e25384;
    background: #e25384;
    border-radius: 8px;
    padding: 15px 20px 9px 45px;
    height: fit-content;
    width: 93%;
}
    .pink-box p {
        color: white;
        font-size: 17px;
    }
.light-pink-box {
    border: 2px solid #e25384;
    background: #ffd9e6;
    border-radius: 8px;
    padding: 15px 20px 9px 45px;
    height: fit-content;
    width: 93%;
}

    .light-pink-box p {
        color: #e25384;
        font-size: 17px;
        font-weight:bold;
    }
.white-box {
    margin-top: 5px;
    background: white;
    border-radius: 8px;
    border: 2px solid #e25384;
    padding: 15px 20px 9px 45px;
    height: fit-content;
    width: 93%;
}

    .white-box p {
        color: #575757;
        font-size: 17px;
    }

.big-pink-box {
    padding: 20px 25px;
    width: 80%;
    height: fit-content;
    background: #e25384;
    border: 3px solid #e25384;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgb(0 0 0 / 4%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.big-pink-box p{
    color:white;
    font-size:19px;
}
    .big-pink-box .num-task {
        bottom: -15px;
        position: relative;
    }
    .big-pink-box .text {
        min-height: 55px;
    }
    .big-pink-box i {
        color: white;
        font-size: 27px;
        margin-right: 10px;
    }
.pink {
    color: #E25384;
}
.big-white-box {
    margin-top: 8px;
    padding: 20px 25px;
    width: 94%;
    height: fit-content;
    background: #fff2f6;
    border: 3px solid #e25384;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgb(0 0 0 / 4%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
    .big-white-box p {
        font-weight: normal;
        color: #e25384;
        font-size: 16px;
    }

    .big-white-box .num-task {
        bottom: -15px;
        position: relative;
    }

    .big-white-box .text {
        min-height: 55px;
    }

    .big-white-box i {
        color: #e25384;
        font-size: 27px;
        margin-right: 10px;
    }


/* IMG BOX ------------------------------------------------------------------- */
.content .secondary {
    background-image: url("https://sv1.picz.in.th/images/2021/11/30/6iZstq.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 25% 75%;
    display: flex;
    flex-direction: column;
}

    .content .secondary .number {
        font-size: 35px;
        color: #676767;
    }

    .content .secondary .head {
        width:100%;
        font-size: 23px;
        font-weight: normal;
    }
    .content .secondary i {
        margin: 25px 10px 0px 3px;
        font-size: 42px;
    }
aside {
    height: 602px;
    width: 240px;
    background: #ffd9e6;
}

ul {
    padding: 0px;
    margin: 0px;
    
}

    ul li {
        list-style-type: none;
        color: #594c51;
        padding: 10px 0px 0px 0px;
        overflow: auto;
        cursor: pointer;
    }

        ul li:first-child {
            border-top: none;
        }

.selected {
    background: #e2709a;
    color:white;
}
.fa {
    color: #18a3fc;
    display: block;
}

ul li:hover .fa {
    color: #0f82da;
}


    ul li div {
    float: left;
}

.icons {
    padding: 10px;
}
.selected .icons i{
    color:white;
}

.linktitle {
    font-size: 18px;
    line-height: 23px;
    padding-left: 10px;
    padding-top: 15px;
}
.aside {
    width: 19%;
}
.home {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
    .home .content {
        width: 100%;
        padding: 0em 9em;
        display: flex;
        flex-direction: column;
    }
    .home .content p {
        color: #E25384;
        font-size: 26px;
        font-weight: bold;
    }

/* Reponsive menu code */
@media all and (max-width: 600px) {
    aside {
        width: 60px;
        padding: 0px 10px;
    }

    ul li {
        overflow: hidden;
        padding: 0px 10px;
    }

    .linktitle {
        position: absolute;
        z-index: -1;
        left: -50px;
        padding: 29px 15px;
        line-height: 0px;
        background: #222527;
    }

    ul li:hover .linktitle {
        left: 80px;
    }

    .icons {
        padding: 20px 10px;
    }

    ul li:hover .icons {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.ul-nonstyle{
    list-style:none;
}

.item-2-col ul {
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
}
.home-menu .head {
    font-size: 20px;
    text-align: center;
}
.home .home-menu .text-head p{
    margin-bottom:40px; 
    text-align:center; 
}
.home-menu .create-form .icon-box {
    height: 200px;
    width: 200px;
    padding: 47px 0px 0px 45px;
    border-radius: 100px;
    border: 10px solid white;
    background: #ffce34;
    margin-left: 15px;
    margin-bottom: 20px;
    transition: transform 0.5s;
}

.home-menu .icon-box:hover {
    position: relative;
    transform: translateY(-20px);
}

.home-menu .icon-box i {
    color: white;
    font-size: 85px;
}

.home-menu .edit-form .icon-box {
    height: 200px;
    width: 200px;
    padding: 43px 0px 0px 50px;
    border-radius: 100px;
    border: 10px solid white;
    background: #5490cc;
    margin-left: 15px;
    margin-bottom: 20px;
    transition: transform 0.5s;
}
.home-menu .search-form .icon-box {
    height: 200px;
    width: 200px;
    padding: 45px 0px 0px 48px;
    border-radius: 100px;
    border: 10px solid white;
    background: #1ca39d;
    margin-left: 15px;
    margin-bottom: 20px;
    transition: transform 0.5s;
}

.pink-btn {
    /*position: absolute;*/
    width: fit-content;
    height: 37px;
    background: #e2709a;
    box-shadow: 0px 2px 0px rgb(0 0 0 / 4%);
    border-radius: 6px;
    padding: 10px 20px 2px 20px;
    text-align: center;
}

.search .pink-btn {
    min-width: 135px;
    top: -28%;
    position: absolute;
}
.pink-btn p{
   color:white;
}
.item-3-col ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.margin-right-30{
    margin-right:30px;
}
.margin-top-10 {
    margin-top: 10px;
}


.home ul li {
    padding-left:20px;
}

.margin-left-30 {
    margin-left:30px;
}

.margin-left-10 {
    margin-left:10px;
}

.margin-left-20 {
    margin-left: 20px;
}
.mb-6px {
    margin-bottom: 6px;
}
.margin-top-30 {
    margin-top: 30px;
}

.width-33-percent {
    width: 33%;
    padding: 0px 40px 20px 0px;
}

.width-50-percent {
    padding: 0px 40px 20px 0px;
    width: 50%;
}
.width-48-percent {
    width: 48%;
}
.width-25-percent {
    width: 25%;
}
.width-99-percent {
    width: 99%;
}
.width-85-percent {
    width: 85%;
}
.width-97-percent {
    width: 97%;
}

.margin-right-10 {
    margin-right: 10px;
}

.width-100{
    width:100px;
}

.margin-right-40 {
    margin-right: 40px;
}

.margin-right-50 {
    margin-right: 50px;
}



/* BTN ---------------------------------------------------------------------------- */

.round-icon-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    width: 157px;
    height: 37px;
    left: 1116px;
    top: 136px;
    background: #E2709A;
    float: right;
    color: white;
    box-shadow: 0px 2px 0px rgb(0 0 0 / 4%);
    border-radius: 41px;
}

    .round-icon-btn i {
        color: white;
        font-size: 17px;
        margin: 0px 0px 0px 0px;
    }

    .round-icon-btn p {
        color: white;
        font-size: 16px;
        margin: 7px 0px 0px 12px;
    }

    
/* Button Group -------------------------------------------------------------------------------------------------------*/

.btn-group {
    float: right;
}

.upload-excel .btn-group {
    float: none !important;
}

.btn-group i {
    color: white;
    margin-right: 10px;
}

.btn-group .primary-btn {
    margin-right: 15px;
    background: #e2709a;
    padding: 0px 20px;
    min-width: 105px;
    height: 38px;
    width: auto;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 5px;
    cursor: pointer;
}

        .btn-group .primary-btn p {
            padding-top: 11px;
            font-size: 17px;
            color: white;
        }

.btn-group .secondary-btn {
    min-width: 105px;
    margin-right: 15px;
    background: white;
    color: #e2709a !important;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgb(0 0 0 / 2%);
    border-radius: 5px;
    height: 38px;
    width: auto;
    padding: 0px 25px;
    cursor: pointer;
}

        .btn-group .secondary-btn p {
            padding-top: 11px;
            font-size: 17px;
        }

.btn-group .red-btn {
    min-width: 100px;
    background: #f44336;
    height: 38px;
    width: auto;
    padding: 12px 25px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 5px;
}

        .btn-group .red-btn p {
            font-size: 16px;
            color: white;
        }

.btn-group .green-btn {
    min-width: 100px;
    margin-right: 15px;
    background: #47a44b;
    height: 38px;
    width: auto;
    padding: 12px 25px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 5px;
}

        .btn-group .green-btn p {
            font-size: 16px;
            color: white;
        }

/* FORM ---------------------------------------------------------------------------------------------*/

.form-style-8 p {
    line-height: 0px;
}

.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: CHULALONGKORN;
}

.form-style-8 textarea {
    resize: none;
    overflow: hidden;
}

/* TABLE -------------------------------------------------------------------------------------*/
.styled-table {
    overflow-x: auto;
    white-space: nowrap;
    margin: 0px 0px 30px 0px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
}

    .styled-table thead tr {
        background-color: #ffd2e3;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th {
        font-weight: normal;
        height: fit-content;
        color: #e25384;
        padding: 10px 10px 3px 20px;
        text-align: left;
    }

    .styled-table td {
        padding: 10px 0px 1px 20px;
        color: #595959;
        font-weight: normal;
        text-align: left;
    }
        .styled-table .pass  i {
            margin: .4em 0em 0em 3.4em;
            font-size: 17px;
        }

    .styled-table .table-icon {
        top: -4px;
        position: relative;
    }



    .styled-table input {
        /*margin: 10px 10px 10px 10px;*/
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #ffd9e6;
    }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #fff9fb
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #ffd2e3;
        }

        .styled-table tbody tr.active-row {
            color: #ffd2e3;
        }

.table-gray thead tr {
    background-color: #e7ddce !important;
    color: #514d48 !important;
}

.table-gray tbody tr {
    border-bottom: 1px solid #595959 !important;
}

    .table-gray tbody tr:nth-of-type(even) {
        background-color: #ffffff !important;
    }

    .table-gray tbody tr:last-of-type {
        border-bottom: 2px solid #595959 !important;
    }

.table-gray th {
    color: #514d48 !important;
}





/* ADDITIONAL */

.overflow-visible{
    overflow:visible;
}

.w-30 {
    width:30%;
}

.w-70 {
    width: 70%;
}

.mw-11 {
    max-width: 11.666667%;
}

.w-55 {
    width: 55%;
}
.mw-17 {
    max-width: 17.666667% !important; 
}

.lh-4 {
    line-height: 4px !important;
}
.lh-6 {
    line-height: 6px !important;
}
.lh-10 {
    line-height: 10px !important;
}
.lh-21 {
    line-height: 21px !important;
}
.h-40 {
    height: 40px;
}

.lh-18 {
    line-height: 18px !important;
}

.lh-31 {
    line-height: 31px !important;
}

.menu .side-navbar {
    min-height: 617px;
    background: #ffd9e6;
    width: 100%;
    margin-left: -9em;
    margin-top: -2em;
    padding: 30px 40px;
    overflow: hidden;
}
    .menu .side-navbar .head {
        color: #E25384;
        font-weight: bold;
        font-size: 17px;
    }
    .menu .side-navbar .list-menu {
        align-items: center;
        margin: 0em -2.6em;
        padding: 7px 0px 7px 40px;
    }

        .menu .side-navbar .list-menu p {
            margin: 10px 0px 0px 0px;
            font-size: 15px;
        }

    .menu .side-navbar .icon-box {
        padding: 8px 9px;
        background: white;
        border: 2px solid #e25384;
        border-radius: 33px;
        width: 55px;
        height: 55px;
    }

        .menu .side-navbar .icon-box img {
            width: 33px;
        }
.menu {
    min-width: 1230px !important;
}
    .menu .side-navbar .selected {
        background: #e25384;
        width: 245px;
    }

    .menu .side-navbar .selected p{
        color:white;
    }
        .menu .side-navbar .selected i {
            color: white;
        }
#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}


.pink-bold {
    color: #e25384;
    font-weight:bold;
}

/* search page menu*/
.search-page .excel-btn {
    background: white;
    border: 2px solid #12a345;
    min-width: fit-content;
    width: fit-content;
    padding: 8px 12px 0px 12px;
    color: #12a345;
    border-radius: 6px;
}

    .search-page .excel-btn i {
        color: #12a345;
        margin-right: 5px;
    }

/*--------------------------------------------------------
    Start: Responsive
----------------------------------------------------------*/
/* iPad Pro*/
@media (max-width: 1199px) {

    /* log in */
    .navbar {
        width: 112%;
        height: 70px;
    }

    .left .home {
        font-size: 20px;
    }

    .log-in .image img {
        display: none;
    }

    .log-in .content {
        height: 100%;
        width: 93%;
        position: absolute;
        right: -6%;
        padding: 90px 0px 0px 0px;
        margin-top: 17em;
        margin-right: 2em;
    }

        .log-in .content img {
            width: 22%;
            margin-left: 21em;
        }

    .login {
        width: 35em;
        margin-top: 3em;
        margin-left: 15em;
    }

    .log-in .content p {
        font-size: 30px;
        margin-left: -11%;
        margin-bottom: 15px;
    }

    .login__icon {
        font-size: 16px;
    }

    .login__input {
        font-size: 20px;
    }

    .login__submit {
        padding: 5px 130px 0px 168px;
    }

        .login__submit span {
            font-size: 20px;
        }


    /* nav bar user */
    .right {
        left: 69%;
    }

    /* admin */
    .admin-nav {
        margin: 2em 15em;
    }

    /* home page */
    .home .content {
        width: 100%;
        padding: 0em 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body {
        background-size: 271% 246%;
    }
    .home .content p {
        font-size: 30px;
    }
    .home-menu .create-form .icon-box {
        margin-left: 0px;
    }
    .homepage-menu {
        margin-left:2em;
    }

    /* menu */
    .menu .side-navbar {
        min-height: 87em;
        margin-left: -4em;
    }
    .max-w-57{
        max-width:57% !important;
    }
    .min-w-116 {
        min-width: 116%;
    }
    .min-w-100 {
        min-width: 100%;
    }
    .min-w-77 {
        margin-top: 10px;
        min-width: 77%;
    }
    
    .menu .search {
        margin-top: 10px;
    }
    .min-w-98 {
        min-width: 98%;
    }
    }

    @media (max-width: 991px) {
    }
    /* iPad*/
    @media (max-width: 769px) {
    }

    @media (max-width: 767px) {
    }

    @media (max-width: 668px) {
    }

    @media (max-width: 569px) {
    }
    /* Smartphone*/
    @media (max-width: 481px) {
    }
    /* iPhone6*/
    @media (max-width: 376px) {
    }
    /* iPhone4,5*/
    @media (max-width: 321px) {
    }
    /*--------------------------------------------------------
    End: Responsive
----------------------------------------------------------*/

   