﻿/*--------------------------------------- 
   Add Image
---------------------------------------*/
.add-image-layout input[type="file"] {
    display: none;
}

.frame-image {
    display: inline-block;
    /*background: #fff;*/
    width: 100%;
}

    .frame-image .dropzone-border {
        display: flex;
        width: 100%;
        min-height: 120px;
        position: relative;
        text-align: center;
        cursor: pointer;
    }

        .frame-image .dropzone-border img {
            max-height: 80px;
            margin-right: 10px;
        }



.custom-content .frame-image .dropzone-border img {
    max-height: 192px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}

.frame-image span {
    position: absolute;
    top: 10px;
    left: 18%;
    width: 90%;
}

.frame-image .btn-gray {
    font-size: 20px;
    font-weight: bold;
    opacity: .8;
}

    .frame-image .btn-gray:hover {
        background: #a8a8a8;
    }

.frame-image span .btn-gray img {
    height: 20px;
}

/*--------------------------------------------------------
    Start: Responsive
----------------------------------------------------------*/
/* iPad Pro*/
@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}
/* iPad*/
@media (max-width: 769px) {
}

@media (max-width: 767px) {
}

@media (max-width: 668px) {
}

@media (max-width: 569px) {
}
/* Smartphone*/
@media (max-width: 481px) {
}
/* iPhone6*/
@media (max-width: 376px) {
}
/* iPhone4,5*/
@media (max-width: 321px) {
}
/*--------------------------------------------------------
    End: Responsive
----------------------------------------------------------*/