﻿@model CU.Models.FTPDisplay
@{
    ViewData["Title"] = "Work Flow";

}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />

<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row flex-row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center head flex-row">
                <h1 class="mt-5">ตั้งค่าการอนุมัติ</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ftp">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0 btn-setting row flex-row ">
                    <div class="btn-group mb-3">

                        <a href="@Url.Action("Index", "Admin")" class="secondary-btn">ย้อนกลับ</a>
                        <a class="primary-btn" data-toggle="modal" data-target=".modal-setting"><span><img src="~/Image/icon/gear-w.png" class="img-icon">&nbsp;ตั้งค่า</span></a>
                    </div>
                </div>
                <div class="col-md-11 col-sm-12 col-xs-12 smtp-group p-0" style="margin:0 auto 30px;">
                    @*@if (gateway.id == 0)
                        {
                            <div id="divNoInfo"><h5 class="font-weight-bold">ไม่มีค่าพื้นฐาน</h5></div>
                        }
                        else
                        {

                        }*@
                    <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                        <table width="100%" class="table table-condensed table-bordered">
                            <tbody>
                                <tr>
                                    <td>ระดับการแต่งตั้ง</td>
                                    <td>
                                        <select>
                                            <option>กรุณาเลือก</option>
                                            <option value="">ระดับปริญญาตรี</option>
                                            <option value="">ระดับปริญญาโท และระดับประกาศนียบัตร</option>
                                            <option value="">ระดับปริญญาเอก และระดับประกาศนียบัตรชั้นสูง</option>
                                        </select>
                                    </td>
                                    <td>ส่วนงาน</td>
                                    <td>
                                        <select>
                                            <option>กรุณาเลือก</option>
                                            <option value="">คณะครุศาสตร์</option>
                                            <option value="">คณะแพทยศาสตร์</option>
                                            <option value="">คณะวิศวกรรมศาสตร์</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ชื่อขั้นตอน</td>
                                    <td>
                                        <input type="text" placeholder="ระบุขั้นตอนการอนุมัติ" />
                                    </td>
                                    <td>ตรวจสอบข้อมูล</td>
                                    <td>
                                        <input type="checkbox" value="Y" /><span>&nbsp; ข้ามขั้นตอน</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ชื่อผู้อนุมัติ</td>
                                    <td></td>
                                    <td>Port</td>
                                    <td></td>
                                    @*@if (gateway.isauthenticated)
                                        {
                                        <td><img src="~/Image/icon/tick-color.png" style="height:23px;"></td>
                                        }
                                        else
                                        {
                                        <td><img src="~/Image/icon/cross-color.png" style="height:23px;" /></td>
                                        }*@
                                </tr>
                                @*@if (gateway.isauthenticated)
                                    {
                                    <tr>
                                        <td class="">ชื่อผู้ใช้งาน</td>
                                        <td>@gateway.username</td>
                                    </tr>
                                    }*@

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@*--------Modal Setting---------*@
<div id="FTPModal" class="modal fade modal-setting" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">

</div>
@*--------.Modal Setting---------*@

<script>
        $(function () {
        if (@ViewBag.showPopUp != null && @ViewBag.showPopUp == true) {
            $('#SmtpModal').modal('show');
        }
        });

        $('.openmodel').on('click', function () {
            openModal($(this).data('id'));
        });

        function openModal(Id) {
            $('#FTPModal').empty();
            $('#FTPModal').load("@Url.Action("GetById", "FTP")/" + Id, function (response, status, xhr) {
                if (status === "success") {
                    $('#FTPModal').modal('show');
                }
            });
        }
</script>

