﻿@model CU.Models.AuthenUser
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css">


<div class="log-in flex-row row">
    <div class="image">
        <img src="../../Image/LoginBackground.png" border="0" />
    </div>
    <div class="content" style="background: white;">
        <div class="flex-column" style="background-color:white;">
            <p>
                ระบบสารสนเทศเพื่อรองรับอาจารย์พิเศษ<br />
                และอาจารย์ชาวต่างชาติ
            </p>
            <img src="../../Image/chula-logo-white-bg.png" alt="03293e7ec6c19ad0c56c36ab01beec14.png" border="0" />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
        <div class="login">
            <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    @*<input type="text" class="login__input" placeholder="Username">*@
                    @Html.TextBoxFor(m => m.username, new { placeholder = "Username", @class = "login__input", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.username, "", new { @class = "field-validation-valid text-danger" })
            </div>
            <div class="login__field">
                <i class="login__icon fas fa-lock"></i>
                @*<input type="password" class="login__input" placeholder="Password">*@
                @Html.PasswordFor(m => m.password, new { placeholder = "Password", @class = "login__input", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.password, "", new { @class = "field-validation-valid text-danger" })
            </div>
            <div class="form-group">
                @Html.ValidationMessage("ErrorMsg", new { @class = "text-danger" })
            </div>

            <div class="button login__submit">
                <button type="submit" class="btn"><span class="button__text text-center">Log In </span></button>
            </div>
            @*<a href="@Url.Action("HomePage", "Home" )">
                <div class="button login__submit">
                    <span class="button__text text-center">Log In </span>
                </div>
            </a>*@

        </div>
            }

        </div>
    </div>


</div>

