﻿@model CU.Models.JobDisplay

@using (Html.BeginForm("UpdateSchedule", "Scheduler", FormMethod.Post))
{
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="padding:12px 15px;">
                <h4 class="modal-title">ตั้งค่า Job Schedule</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="~/Image/icon/cross-g.png" class="img-icon" />
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.Hidden("JobID", CU.Utilities.CryptoHelpers.UrlEncrypt(Model.Id.ToString()))
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                            <div class="form-group">
                                <label>Job name</label>
                                @Html.TextBoxFor(m => m.JobName, new { @class = "form-control", @readonly = "readonly", @id = "" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                            <div class="form-group">
                                <label>Minutes <span class="text-red-b">*</span></label>
                                @Html.TextBoxFor(m => m.Minutes, new { @class = "form-control", required = "required", maxlength = "10", autocomplete = "off", @id = "" })
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                            <div class="form-group">
                                <label>Hours <span class="text-red-b">*</span></label>
                                @Html.TextBoxFor(m => m.Hours, new { @class = "form-control required-auth", maxlength = "10", autocomplete = "off", @id = "" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                            <div class="form-group">
                                <label>Day of month <span class="text-red-b">*</span></label>
                                @Html.TextBoxFor(m => m.DayofMonth, new { @class = "form-control", required = "required", maxlength = "10", autocomplete = "off", @id = "" })
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                            <div class="form-group">
                                <label>Month <span class="text-red-b">*</span></label>
                                @Html.TextBoxFor(m => m.Month, new { @class = "form-control", required = "required", maxlength = "10", autocomplete = "off", @id = "" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                            <div class="form-group">
                                <label>Day of Week <span class="text-red-b">*</span></label>
                                @Html.TextBoxFor(m => m.DayofWeek, new { @class = "form-control", required = "required", maxlength = "10", autocomplete = "off", @id = "" })
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                            <div class="col-sm-12 checkbox-group">
                                @Html.CheckBoxFor(m => m.JobEnable, new { @class = "form-check-input", @id = "JobEnable" })
                                <label for="JobEnable" class="check-custom">Enable</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                    <div class="form-group" style="margin-bottom:5px;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p-0 text-center">
                                <button type="submit" class="btn btn-main" style="margin-top:5px;">
                                    บันทึก
                                </button>
                                <button type="button" class="btn btn-gray" style="margin-top:5px;" data-dismiss="modal" aria-label="Close">
                                    ยกเลิก
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}