﻿@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />
<style>
    body {
        background-color: white !important;
    }
</style>
<div class="container full-width-container createform personal-info preview ">
    <div class="content">
        <div class="flex-row">
            <div><h4>แบบฟอร์มแก้ไขข้อมูลอาจารย์พิเศษ</h4></div>
        </div>
        <div class="progress-createform mt-3 ">
            <div class="flex-row edit">
                <div class="head">
                    <a href="@Url.Action("Index", "Edit")">
                        <div class="flex-column">
                                <div class="circle selected">1</div>
                            <div class="selected-descrip">ข้อมูลส่วนบุคคล</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("WorkandCourse", "Edit")">
                        <div class="flex-column">
                                <div class="circle ">2</div>
                            <div class="descrip">งานและหลักสูตร</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Education", "Edit")">
                        <div class="flex-column">
                                <div class="circle selected">3</div>
                            <div class="selected-descrip">วุฒิการศึกษา</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Experience", "Edit")">
                        <div class="flex-column">
                                <div class="circle selected">4</div>
                            <div class="selected-descrip">ประสบการณ์</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Article", "Edit")">
                        <div class="flex-column">
                                <div class="circle selected">5</div>
                            <div class="selected-descrip">ผลงานวิชาการ</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Etc", "Edit")">
                        <div class="flex-column">
                            <div class="external-circle">
                                <div class="circle selected">6</div>
                            </div>
                            <div class="selected-descrip">อื่นๆ</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        @*-------------------------------   6   ETC   ------------------------------------------------------------*@
    <div class="form">
        <div class="flex-row ">
            <div class="head-square"></div>
            <div class="topic-square">เอกสารที่เกี่ยวข้อง</div>
            <a href="#"><div class="border-button ml-3 mb-1"><i class="fas fa-plus"></i>อัปโหลดไฟล์</div></a>
        </div>
        <div class="margin-top-10">
            <table class="styled-table">
                <thead>
                    <tr>

                        <th>ประเภทเอกสาร</th>
                        <th>ชื่อเอกสาร</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CV</td>
                        <td><i class="fas fa-paperclip margin-right-10"></i>CV.pdf</td>
                        <td class="flex-row icon-group">
                            <div class="delete-btn"><i class="fa fa-trash"></i></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex-row ">
            <div class="head-square"></div>
            <div class="topic-square">อื่นๆ</div>
        </div>
        <div class="flex-column width-100-percent">
            <div class="form-item margin-top-10">
                <form class="form-style-8">
                    <p>ระบุเหตุผลกรณีเสนอขอแต่งตั้งนอกระยะเวลาที่กำหนด</p>
                    <input style="width:100%" type="text" name="" placeholder="" />
                </form>
            </div>
        </div>
    </div>




    <div class="btn-group flex-row mt-5 mb-5">
        <a href="@Url.Action("Etc", "Edit" )"><div class="primary-btn"><p class="text-center">บันทึก</p></div></a>
        <a href="@Url.Action("Etc", "Edit" )"><div class="secondary-btn"><p class="text-center">ยกเลิก</p></div></a>
    </div>
    </div>
</div>




