﻿@using CU.Constants;
@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />
<style>
    body {
        background-color: white !important;
    }
</style>
<div class="container full-width-container createform personal-info preview ">
    <div class="content">
        <div class="flex-row">
            <div><h4>แบบฟอร์มแก้ไขข้อมูลอาจารย์พิเศษ</h4></div>
        </div>
        <div class="progress-createform mt-3 ">
            <div class="flex-row edit">
                <div class="head">
                    <a href="@Url.Action("Index", "Edit")">
                        <div class="flex-column">
                                <div class="circle selected">1</div>
                            <div class="selected-descrip">ข้อมูลส่วนบุคคล</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("WorkandCourse", "Edit")">
                        <div class="flex-column">
                                <div class="circle ">2</div>
                            <div class="descrip">งานและหลักสูตร</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Education", "Edit")">
                        <div class="flex-column">
                                <div class="circle selected">3</div>
                            <div class="selected-descrip">วุฒิการศึกษา</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Experience", "Edit")">
                        <div class="flex-column">
                            <div class="external-circle">
                                <div class="circle selected">4</div>
                            </div>
                            <div class="selected-descrip">ประสบการณ์</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Article", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">5</div>
                            <div class="selected-descrip">ผลงานวิชาการ</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Etc", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">6</div>
                            <div class="selected-descrip">อื่นๆ</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        @*-------------------------------   4   EXPERIENCE   ------------------------------------------------------------*@
    <div class="form">
        <div class="flex-row mt-4">
            <div class="head-square"></div>
            <div class="topic-square">ประสบการณ์การทำงานเกี่ยวกับวิชาที่สอน</div>
            <div class="margin-left-10 flex-row" style="margin-top:7px;">รวมระยะเวลาประสบการณ์ทำงาน  <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight: bold;">2</div> ปี <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight: bold;">0</div> เดือน</div>
        </div>
        <ul class="ul-nonstyle">
            <li>
                <div class="item-square mb-4">รายการที่ 1</div>
            </li>
        </ul>
        <div class="flex-column ml-3">
            <div class="width-100-percent flex-row">
                <div class="width-50-percent">
                    <form class="form-style-8">
                        <p class="lh-4 ml-1">ตำแหน่งงาน</p>
                        <input type="text" name="" placeholder="" />
                        @*<select id="" name="">
                            <option value="">กรุณาเลือก</option>
                            <option value="">yy</option>
                            <option value="">zz</option>
                            <option value="">...</option>
                        </select>*@
                    </form>
                </div>
                <div class="width-50-percent">
                    <form class="form-style-8 ">
                        <p class="lh-10">สถานที่ทำงาน</p>
                        <input type="text" name="" placeholder="" />
                    </form>
                </div>

            </div>
            <div class="width-100-percent flex-row">
                <div class="width-33-percent pb-0  flex-row">
                    <div class="w-50 pr-4">
                        <form class="form-style-8">
                            <p>เดือนที่เริ่มทำงาน</p>
                            <select id="status" name="status">
                                <option selected>กรุณาเลือก</option>
                                @{int x = 0;}
                                @foreach (var type in AppConstant.MonthSelect)
                                {
                                    <option value=@x>@type</option>
                                    x++;
                                }
                            </select>
                        </form>
                    </div>
                    <div class="w-50">
                        <form class="form-style-8">
                            <p>ปีที่เริ่มทำงาน</p>
                            @*<input type="text" name="" placeholder="yyyy" />*@
                            <select id="StartYear" name="StartYear">
                                <option selected>กรุณาเลือก</option>
                                @{int y = DateTime.Now.Year + 543;}

                                @for (var n = 0; n < AppConstant.YearCount; n++)
                                {
                                    <option value=@y>@y</option>
                                    y--;
                                }
                            </select>
                        </form>
                    </div>
                </div>
                <div class="width-33-percent pb-0 flex-row working-end">
                    <div class="w-50 pr-4">
                        <form class="form-style-8">
                            <p>เดือนที่สิ้นสุดการทำงาน</p>
                            @*<input type="text" name="" placeholder="mm" />*@
                            <select id="status" name="status">
                                <option selected>กรุณาเลือก</option>
                                @{int m = 0;}
                                @foreach (var type in AppConstant.MonthSelect)
                                {
                                    <option value=@m>@type</option>
                                    m++;
                                }
                            </select>
                        </form>
                    </div>
                    <div class="w-50">
                        <form class="form-style-8">
                            <p>ปีที่สิ้นสุดการทำงาน</p>
                            @*<input type="text" name="" placeholder="yyyy" />*@
                            <select id="EndYear" name="EndYear">
                                <option selected>กรุณาเลือก</option>
                                @{int j = DateTime.Now.Year + 543;}

                                @for (var n = 0; n < AppConstant.YearCount; n++)
                                {
                                    <option value=@j>@j</option>
                                    j--;
                                }
                            </select>
                        </form>
                    </div>
                </div>

                <div class="width-33-percent pb-0  flex-row">
                    <form class="form-style-8">
                        <p>ระยะเวลาที่ทำงาน</p>
                        <div class="disable flex-row">
                            <input type="text" name="" placeholder="0 ปี 0 เดือน" />
                        </div>
                    </form>
                </div>
            </div>
            <div class=" flex-row pt-2">
                <input type="checkbox" id="working" onclick="checkWorking()" name="" value="" /> <p class="pl-2">ปัจจุบันยังทำงานในตำแหน่งนี้อยู่</p>
            </div>
            <a href="#"><div class="border-button"><i class="fas fa-plus"></i>เพิ่มรายการ</div></a>

            @*----------------------------------------------------------------------------------------*@


                <div class="btn-group flex-row mt-3 mb-5">
                    <a href="@Url.Action("Experience", "Edit" )"><div class="primary-btn"><p class="text-center">บันทึก</p></div></a>
                    <a href="@Url.Action("Experience", "Edit" )"><div class="secondary-btn"><p class="text-center">ยกเลิก</p></div></a>
                </div>

            </div>
        </div>
    </div>
        
    </div>

<script>
    function checkTeaching() {
        // Get the checkbox
        var checkBox = document.getElementById("teaching");
        if (checkBox.checked == true) {
            $(".teaching-end").hide();
        } else {
            $(".teaching-end").show();
        }
    }

    function checkWorking() {
        // Get the checkbox
        var checkBox = document.getElementById("working");
        if (checkBox.checked == true) {
            $(".working-end").hide();
        } else {
            $(".working-end").show();
        }
    }


</script>


