﻿@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />
<style>
    body {
        background-color: white !important;
    }
</style>
<div class="container full-width-container createform personal-info preview ">
    <div class="content">
        <div class="flex-row">
            <div><h4>แบบฟอร์มแก้ไขข้อมูลอาจารย์พิเศษ</h4></div>
        </div>
        <div class="progress-createform mt-3 ">
            <div class="flex-row edit">
                <div class="head">
                    <a href="@Url.Action("Index", "Edit")">
                        <div class="flex-column">
                                <div class="circle selected">1</div>
                            <div class="selected-descrip">ข้อมูลส่วนบุคคล</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("WorkandCourse", "Edit")">
                        <div class="flex-column">
                                <div class="circle ">2</div>
                            <div class="descrip">งานและหลักสูตร</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Education", "Edit")">
                        <div class="flex-column">
                            <div class="external-circle">
                                <div class="circle selected">3</div>
                            </div>
                            <div class="selected-descrip">วุฒิการศึกษา</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Experience", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">4</div>
                            <div class="selected-descrip">ประสบการณ์</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Article", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">5</div>
                            <div class="selected-descrip">ผลงานวิชาการ</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Etc", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">6</div>
                            <div class="selected-descrip">อื่นๆ</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        @*-------------------------------   3   EDUCATION   ------------------------------------------------------------*@
    <div class="form">
        <div class="flex-row">
            <div class="head-square"></div>
            <div class="topic-square">วุฒิการศึกษา</div>
        </div>
        <ul class="ul-nonstyle">
            <li>
                <div class="item-square mb-4">รายการที่ 1</div>
            </li>
        </ul>
        <div class="flex-column ml-3">
            <div class="width-100-percent flex-row">
                <div class="width-33-percent">
                    <form class="form-style-8">
                        <p class="lh-4"><span style="color:red;">* </span>ระดับการศึกษา</p>

                        <select id="selLevelEdu" name="selLevelEdu">
                            <option value="">กรุณาเลือก</option>

                        </select>
                    </form>
                </div>
                <div class="width-33-percent">
                    <form class="form-style-8">
                        <p class="lh-4">วุฒิการศึกษา</p>
                        <select id="selDegree" name="selDegree">
                            <option value="">กรุณาเลือก</option>
                        </select>
                    </form>
                </div>
                <div class="width-33-percent">
                    <form class="form-style-8">
                        <p class="lh-4">สาขาที่จบการศึกษา</p>
                        <select id="selMajor" name="selMajor">
                            <option value="">กรุณาเลือก</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="width-100-percent flex-row">
                <div class="width-33-percent">
                    <form class="form-style-8">
                        <p class="lh-4">สถานศึกษา</p>
                        <select id="selInstitution" name="selInstitution">
                            <option value="">กรุณาเลือก</option>
                        </select>
                    </form>
                </div>
                <div class="width-33-percent">
                    <form class="form-style-8">
                        <p class="lh-10"><span style="color:red;">* </span>เดือนที่จบการศึกษา</p>
                        <input type="text" class="flatpickr" name="txtMonth" id="txtMonth" />
                    </form>

                </div>
                <div class="width-33-percent">
                    <form class="form-style-8">
                        <p class="lh-4"><span style="color:red;">* </span>ประเทศที่จบการศึกษา</p>
                        <select id="selCountry" name="selCountry">
                            <option value="">กรุณาเลือก</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <a href="#"><div class="border-button"><i class="fas fa-plus"></i>เพิ่มรายการ</div></a>
        <div class="under-line-pink"></div>

        
        <div class="btn-group flex-row mt-2 mb-5">
            <a href="@Url.Action("Education", "Edit" )"><div class="primary-btn"><p class="text-center">บันทึก</p></div></a>
            <a href="@Url.Action("Education", "Edit" )"><div class="secondary-btn"><p class="text-center">ยกเลิก</p></div></a>
        </div>
    </div>
    </div>
</div>




