﻿@using CU.Constants;
@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />
<style>
    body {
        background-color: white !important;
    }
</style>
<div class="container full-width-container createform personal-info preview ">
    <div class="content">
        <div class="flex-row">
            <div><h4>แบบฟอร์มแก้ไขข้อมูลอาจารย์พิเศษ</h4></div>
        </div>
        <div class="progress-createform mt-3 ">
            <div class="flex-row edit">
                <div class="head">
                    <a href="@Url.Action("Index", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">1</div>
                            <div class="selected-descrip">ข้อมูลส่วนบุคคล</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("WorkandCourse", "Edit")">
                        <div class="flex-column">
                            <div class="circle ">2</div>
                            <div class="descrip">งานและหลักสูตร</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Education", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">3</div>
                            <div class="selected-descrip">วุฒิการศึกษา</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Experience", "Edit")">
                        <div class="flex-column">
                            <div class="external-circle">
                                <div class="circle selected">4</div>
                            </div>
                            <div class="selected-descrip">ประสบการณ์</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Article", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">5</div>
                            <div class="selected-descrip">ผลงานวิชาการ</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Etc", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">6</div>
                            <div class="selected-descrip">อื่นๆ</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        @*-------------------------------   4   EXPERIENCE   ------------------------------------------------------------*@
        <div class="form">
            @*----------------------------------------------------------------------------------------*@

            <div class="flex-row">
                <div class="head-square"></div>
                <div class="topic-square">ประสบการณ์งานสอน</div>
                <div class="ml-3 flex-row" style="margin-top:7px;">รวมระยะเวลางานสอน  <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight:bold;">6</div> ปี <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight:bold;">0</div> เดือน</div>
            </div>
            <ul class="ul-nonstyle">
                <li>
                    <div class="item-square mb-4">รายการที่ 1</div>
                </li>
            </ul>
            <div class="flex-column ml-3">
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-4 ml-1">ตำแหน่งงาน</p>
                            <input type="text" name="" placeholder="" />
                            @*<select id="" name="">
                                    <option value="">กรุณาเลือก</option>
                                    <option value="">yy</option>
                                    <option value="">zz</option>
                                    <option value="">...</option>
                                </select>*@
                        </form>
                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8">
                            <p class="lh-4">ระดับที่สอน</p>

                            <select id="status" name="status">
                                <option selected>กรุณาเลือก</option>
                                @{int cnt = 0;}
                                @foreach (var type in AppConstant.JobLevel)
                                {
                                    <option value=@cnt>@type</option>
                                    cnt++;
                                }
                            </select>
                        </form>
                    </div>
                    <div class="width-33-percent">
                        <form class="form-style-8 ">
                            <p class="lh-10">สถาบันหรือหน่วยงานที่สอน</p>
                            <input type="text" name="" placeholder="" />
                        </form>
                    </div>
                </div>
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent pb-0 flex-row">
                        <div class="w-50 pr-4">
                            <form class="form-style-8">
                                <p>เดือนที่เริ่มต้นการสอน</p>
                                @*<input type="text" name="" placeholder="mm" />*@
                                <select id="StartMonth" name="StartMonth">
                                    <option selected>กรุณาเลือก</option>
                                    @{int k = 0;}
                                    @foreach (var type in AppConstant.MonthSelect)
                                    {
                                        <option value=@k>@type</option>
                                        k++;
                                    }
                                </select>
                            </form>
                        </div>
                        <div class="w-50">
                            <form class="form-style-8">
                                <p>ปีที่เริ่มต้นการสอน</p>
                                @*<input type="text" name="" placeholder="yyyy" />*@
                                <select id="StartYear" name="StartYear">
                                    <option selected>กรุณาเลือก</option>
                                    @{int l = DateTime.Now.Year + 543;}

                                    @for (var n = 0; n < AppConstant.YearCount; n++)
                                    {
                                        <option value=@l>@l</option>
                                        l--;
                                    }
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="width-33-percent pb-0  flex-row teaching-end">
                        <div class="w-50 pr-4">
                            <form class="form-style-8">
                                <p>เดือนที่สิ้นสุดการสอน</p>
                                <select id="status" name="status">
                                    <option selected>กรุณาเลือก</option>
                                    @{int i = 0;}
                                    @foreach (var type in AppConstant.MonthSelect)
                                    {
                                        <option value=@i>@type</option>
                                        i++;
                                    }
                                </select>
                            </form>
                        </div>
                        <div class="w-50">
                            <form class="form-style-8">
                                <p>ปีที่สิ้นสุดการสอน</p>
                                @*<input type="text" name="" placeholder="yyyy" />*@
                                <select id="EndYear" name="EndYear">
                                    <option selected>กรุณาเลือก</option>
                                    @{int h = DateTime.Now.Year + 543;}
                                    @for (var n = 0; n < AppConstant.YearCount; n++)
                                    {
                                        <option value=@h>@h</option>
                                        h--;
                                    }
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="width-33-percent pb-0 ">
                        <form class="form-style-8">
                            <p>ระยะเวลาที่สอน</p>
                            <div class="disable flex-row">
                                <input type="text" name="" placeholder="0 ปี 0 เดือน" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class=" flex-row pt-2">
                    <input type="checkbox" id="teaching" onclick="checkTeaching()" name="" value="" /> <p class="pl-2">ปัจจุบันยังทำการสอนอยู่</p>
                </div>
                <a href="#"><div class="border-button"><i class="fas fa-plus"></i>เพิ่มรายการ</div></a>
                <div class="under-line-pink"></div>

                <div class="btn-group flex-row mt-3 mb-5">
                    <a href="@Url.Action("Experience", "Edit" )"><div class="primary-btn"><p class="text-center">บันทึก</p></div></a>
                    <a href="@Url.Action("Experience", "Edit" )"><div class="secondary-btn"><p class="text-center">ยกเลิก</p></div></a>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    function checkTeaching() {
        // Get the checkbox
        var checkBox = document.getElementById("teaching");
        if (checkBox.checked == true) {
            $(".teaching-end").hide();
        } else {
            $(".teaching-end").show();
        }
    }

    function checkWorking() {
        // Get the checkbox
        var checkBox = document.getElementById("working");
        if (checkBox.checked == true) {
            $(".working-end").hide();
        } else {
            $(".working-end").show();
        }
    }


</script>


