﻿@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />
<style>
    body {
        background-color: white !important;
    }
</style>
<div class="container full-width-container createform personal-info preview ">
    <div class="content">
        <div class="flex-row">
            <div><h4>แบบฟอร์มแก้ไขข้อมูลอาจารย์พิเศษ</h4></div>
        </div>
        <div class="progress-createform mt-3 ">
            <div class="flex-row edit">
                <div class="head">
                    <a href="@Url.Action("Index", "Edit")">
                        <div class="flex-column">
                                <div class="circle selected">1</div>
                            <div class="selected-descrip">ข้อมูลส่วนบุคคล</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("WorkandCourse", "Edit")">
                        <div class="flex-column">
                                <div class="circle ">2</div>
                            <div class="descrip">งานและหลักสูตร</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Education", "Edit")">
                        <div class="flex-column">
                            <div class="external-circle">
                                <div class="circle selected">3</div>
                            </div>
                            <div class="selected-descrip">วุฒิการศึกษา</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Experience", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">4</div>
                            <div class="selected-descrip">ประสบการณ์</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Article", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">5</div>
                            <div class="selected-descrip">ผลงานวิชาการ</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Etc", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">6</div>
                            <div class="selected-descrip">อื่นๆ</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        @*-------------------------------   3   EDUCATION   ------------------------------------------------------------*@
        <div class="flex-row mt-3">
            <div class="head-square"></div>
            <div class="topic-square">วุฒิการศึกษา</div>
        </div>
        <table class="styled-table mt-3">
            <thead>
                <tr>

                    <th>ระดับการศึกษา</th>
                    <th>วุฒิการศึกษา</th>
                    <th>สาขาที่จบการศึกษา</th>
                    <th>สถานศึกษา</th>
                    <th>เดือนที่จบการศึกษา</th>
                    <th>ประเทศที่จบการศึกษา</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ปริญญาโท</td>
                    <td>วิทยาศาสตรมหาบัณฑิต</td>
                    <td>สาขาวิชาเคมีทางการแพทย์</td>
                    <td>จุฬาลงกรณ์มหาวิทยาลัย</td>
                    <td>02/2545</td>
                    <td>ไทย</td>

                </tr>
                <tr class="active-row">
                    <td>ปริญญาตรี</td>
                    <td>แพทยศาสตรบัณฑิต</td>
                    <td>สาขาวิชาแพทยศาสตร์</td>
                    <td>จุฬาลงกรณ์มหาวิทยาลัย</td>
                    <td>05/2540</td>
                    <td>ไทย</td>

                </tr>
            </tbody>
        </table>



        <div class="btn-group flex-row mt-5 mb-5">
            <a href="@Url.Action("WorkandCourse", "Edit")"><div class="secondary-btn"><p class="text-center">ย้อนกลับ</p></div></a>
            <a href=""><div class="primary-btn"><p class="text-center">แก้ไข</p></div></a>
            <a href="@Url.Action("Experience", "Edit")"><div class="secondary-btn"><p class="text-center">ถัดไป</p></div></a>
        </div>
    </div>
</div>




