﻿@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />
<style>
    body {
        background-color: white !important;
    }
</style>
<div class="container full-width-container createform personal-info preview ">
    <div class="content">
        <div class="flex-row">
            <div><h4>แบบฟอร์มแก้ไขข้อมูลอาจารย์พิเศษ</h4></div>
        </div>
        <div class="progress-createform mt-3 ">
            <div class="flex-row edit">
                <div class="head">
                    <a href="@Url.Action("Index", "Edit")">
                        <div class="flex-column">
                                <div class="circle selected">1</div>
                            <div class="selected-descrip">ข้อมูลส่วนบุคคล</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("WorkandCourse", "Edit")">
                        <div class="flex-column">
                                <div class="circle ">2</div>
                            <div class="descrip">งานและหลักสูตร</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Education", "Edit")">
                        <div class="flex-column">
                                <div class="circle selected">3</div>
                            <div class="selected-descrip">วุฒิการศึกษา</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Experience", "Edit")">
                        <div class="flex-column">
                            <div class="external-circle">
                                <div class="circle selected">4</div>
                            </div>
                            <div class="selected-descrip">ประสบการณ์</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Article", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">5</div>
                            <div class="selected-descrip">ผลงานวิชาการ</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Etc", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">6</div>
                            <div class="selected-descrip">อื่นๆ</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        @*-------------------------------   4   EXPERIENCE   ------------------------------------------------------------*@
        <div class="flex-row mt-3">
            <div class="head-square"></div>
            <div class="topic-square">ประสบการณ์การทำงานเกี่ยวกับวิชาที่สอน</div>
            <div class="margin-left-10 flex-row" style="margin-top:7px;">รวมระยะเวลาประสบการณ์ทำงาน  <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight: bold;">2</div> ปี <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight: bold;">0</div> เดือน</div>
        </div>
        <table class="styled-table  mt-3">
            <thead>
                <tr>

                    <th>ตำแหน่งงาน</th>
                    <th>สถาบันหรือหน่วยงานที่ทำงาน</th>
                    <th>เดือนที่เริ่มทำงาน</th>
                    <th>เดือนที่สิ้นสุดการทำงาน</th>
                    <th>ระยะเวลาที่ทำงาน</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>นายแพทย์</td>
                    <td>โรงพยาบาลจุฬาลงกรณ์</td>
                    <td>02/2545</td>
                    <td>02/2546</td>
                    <td>1 ปี 0 เดือน</td>
                    
                </tr>
                <tr class="active-row">
                    <td>นายแพทย์</td>
                    <td>โรงพยาบาลสมิติเวช สุขุมวิท</td>
                    <td>05/2544</td>
                    <td>05/2545</td>
                    <td>1 ปี 0 เดือน</td>
                    <td class="flex-row">
                    </td>
                </tr>
            </tbody>
        </table>
        @*---------------------------------------------------------------------------------*@
        <div class="flex-row mt-3">
            <div class="head-square"></div>
            <div class="topic-square">ประสบการณ์งานสอน</div>
            <div class="ml-3 flex-row" style="margin-top:7px;">รวมระยะเวลางานสอน  <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight:bold;">6</div> ปี <div class="margin-left-10 margin-right-10" style="color: #e25384; font-weight:bold;">0</div> เดือน</div>
        </div>

        <table class="styled-table  mt-3">
            <thead>
                <tr>
                    <th>ตำแหน่งงาน</th>
                    <th>ระดับที่สอน</th>
                    <th>สถาบันหรือหน่วยงานที่สอน</th>
                    <th>เดือนที่เริ่มต้น</th>
                    <th>เดือนที่สิ้นสุดการสอน</th>
                    <th>ระยะเวลาที่สอน</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>อาจารย์</td>
                    <td>ปริญญาโท</td>
                    <td>จุฬาลงกรณ์มหาวิทยาลัย</td>
                    <td>01/2550</td>
                    <td>01/2555</td>
                    <td>5 ปี 0 เดือน</td>
                    
                </tr>
                <tr class="active-row">
                    <td>อาจารย์</td>
                    <td>ปริญญาตรี</td>
                    <td>จุฬาลงกรณ์มหาวิทยาลัย</td>
                    <td>03/2548</td>
                    <td>03/2549</td>
                    <td>1 ปี 0 เดือน</td>
                    <td class="flex-row">
                    </td>
                </tr>
            </tbody>
        </table>



        <div class="btn-group flex-row mt-5 mb-5">
            <a href="@Url.Action("Education", "Edit")"><div class="secondary-btn"><p class="text-center">ย้อนกลับ</p></div></a>
            <a href=""><div class="primary-btn"><p class="text-center">แก้ไข</p></div></a>
            <a href="@Url.Action("Article", "Edit")"><div class="secondary-btn"><p class="text-center">ถัดไป</p></div></a>
        </div>
    </div>
</div>




