﻿@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />
<style>
    body {
        background-color: white !important;
    }
</style>
<div class="container full-width-container createform personal-info preview ">
    <div class="content">
        <div class="flex-row">
            <div><h4>แบบฟอร์มแก้ไขข้อมูลอาจารย์พิเศษ</h4></div>
        </div>
        <div class="progress-createform mt-3 ">
            <div class="flex-row edit">
                <div class="head">
                    <a href="@Url.Action("Index", "Edit")">
                        <div class="flex-column">
                            <div class="external-circle">
                                <div class="circle selected">1</div>
                            </div>
                            <div class="selected-descrip">ข้อมูลส่วนบุคคล</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("WorkandCourse", "Edit")">
                        <div class="flex-column">
                                <div class="circle ">2</div>
                            <div class="descrip">งานและหลักสูตร</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Education", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">3</div>
                            <div class="selected-descrip">วุฒิการศึกษา</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Experience", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">4</div>
                            <div class="selected-descrip">ประสบการณ์</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Article", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">5</div>
                            <div class="selected-descrip">ผลงานวิชาการ</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Etc", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">6</div>
                            <div class="selected-descrip">อื่นๆ</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        @*-------------------------------  1   PERSONAL INFO      ------------------------------------------------------------*@
        <div class="form">
            <div class="flex-row">
                <div class="head-square"></div>
                <div class="topic-square">ข้อมูลส่วนบุคคล</div>
            </div>
            <div class="flex-row add-image">
                <div class="flex-column head-topic margin-right-10">
                    <p class="mb-0">รูปภาพโปรไฟล์</p>
                    <div class="add-image-square">
                    </div>
                </div>
                <div class="flex-column head-topic margin-right-10">
                    <p class="mb-0">รูปสำหรับออกบัตร</p>
                    <div class="add-image-square">
                    </div>
                </div>
                <div class="flex-column form-item">
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>คำนำหน้าชื่อ (ไทย)</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="นาย" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>ชื่อ (ไทย)</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="ประเสริฐ" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>นามสกุล (ไทย)</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="ดีเลิศ" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@

                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>คำนำหน้าชื่อ (อังกฤษ)</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="Mr." disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>ชื่อ (อังกฤษ)</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="Prasert" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>นามสกุล (อังกฤษ)</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="Deelert" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@
                </div>
            </div>
            <div class="flex-column">

                <div class="width-100-percent flex-row margin-top-30">
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">คำนำหน้าทางวิชาการ/วิชาชีพ (1)</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">ยศทางทหาร</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">คำนำหน้าทางวิชาการ/วิชาชีพ (2)</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                @*----------------------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">คำนำหน้าอื่น (ดร.)</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">ราชทินนาม</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                @*----------------------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>เพศ</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="ชาย" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>เพศ</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="27/2/2535" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>สัญชาติ</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="ไทย" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                @*--------------ID NUMBER--------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>เลขบัตรประชาชน</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="1309827771823" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>วันที่ออกบัตรประชาชน</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="1/2/2555" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>วันหมดอายุบัตรประชาชน</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="1/2/2560" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                @*----------PASSPORT------------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row" style="display:none;">
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>เลขที่หนังสือเดินทาง (กรณีชาวต่างชาติ)</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="1309827771823" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>วันที่ออกเลขหนังสือเดินทาง</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="1/2/2555" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible"><span style="color:red;">* </span>วันหมดอายุเลขหนังสือเดินทาง</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="1/2/2560" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                @*----------------------------------------------------------------------------------------------------------------------------------------------*@
                <div class="width-100-percent flex-row">
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">อีเมลส่วนตัว</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="1/2/2560" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">เบอร์โทรศัพท์มือถือ</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">เลขที่เสียภาษี</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                @*---------BANK ACCOUNT-----------------------------------------------------------------------------------*@
                <div class="flex-row mb-3" style="margin: 10px 0px 10px 0px;">
                    <div class="head-square"></div>
                    <div class="topic-square">ข้อมูลธนาคาร</div>
                </div>
                <div class="width-100-percent bank-account" style="display: flex; " id="bank-account">
                    <div class="width-33-percent ">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">ธนาคาร</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">สาขา</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="width-33-percent">
                        <div class="flex-column">
                            <p class="mb-0 pb-0 overflow-visible">เลขที่บัญชีธนาคาร</p>
                            <div class="disable flex-row">
                                <input type="text" id="" name="" placeholder="" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                @*---------------------------------------------------------ที่อยู่ที่สามารถติดต่อได้-----------------------------------------------------------------------------------*@
                <div class="flex-row mb-3" style="margin: 10px 0px 10px 0px; ">
                    <div class="head-square"></div>
                    <div class="topic-square">ที่อยู่ที่สามารถติดต่อได้</div>
                </div>
                <div class="contact-address flex-column" style="display: flex;" id="contact-address">
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">อาคาร</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">เลขที่ห้อง</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">ชั้น</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">หมู่บ้าน</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">บ้านเลขที่</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">หมู่</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">ตรอก/ซอย</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">ถนน</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">จังหวัด</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">อำเภอ/เขต</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">ตำบล/แขวง</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">รหัสไปรษณีย์</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*--------------------------------------------------------------------------------------------*@
                    <div class="width-100-percent flex-row">
                        <div class="width-33-percent">
                            <div class="flex-column">
                                <p class="mb-0 pb-0 overflow-visible">ประเทศ</p>
                                <div class="disable flex-row">
                                    <input type="text" id="" name="" placeholder="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="width-33-percent">

                        </div>
                        <div class="width-33-percent">

                        </div>
                    </div>
                </div>
                @*------------------END ADDRESS--------------------------------------------------------------------------*@

                <div class="flex-column mt-3">
                    <p>สถานภาพ</p>
                    <div class="flex-row ml-3">
                        <div class="row">
                            <div class="col-md-2 flex-row pl-0 mw-11">
                                <input type="radio" id="" name="" value="" checked>
                                <p class="ml-2">นักวิจัยพันธมิตร</p>
                            </div>
                            <div class="col-md-2 mw-17">
                                <div class="flex-row">
                                    <p class="w-50 mb-0 pb-0">ระบุมติ ครั้งที่</p>
                                    <div class="disable flex-row w-50 ">
                                        <input class="pt-0 mt-0" type="text" id="" name="" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="flex-row">
                                    <p class="w-25 mb-0 pb-0">วันที่</p>
                                    <div class="disable flex-row w-75 ">
                                        <input class="pt-0 mt-0" type="text" id="" name="" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="flex-row">
                                    <p class="w-30 mb-0 pb-0">วันที่เริ่มต้น</p>
                                    <div class="disable flex-row w-55 ">
                                        <input class="pt-0 mt-0" type="text" id="" name="" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="flex-row">
                                    <p class="w-30 mb-0 pb-0">วันที่สิ้นสุด</p>
                                    <div class="disable flex-row w-55 ">
                                        <input class="pt-0 mt-0" type="text" id="" name="" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-group flex-row mt-5 mb-5">
                    <a href="@Url.Action("Edit", "Menu")"><div class="secondary-btn"><p class="text-center">ยกเลิก</p></div></a>
                    <a href="@Url.Action("EditPersonalInfo", "Menu")"><div class="primary-btn"><p class="text-center">แก้ไข</p></div></a>
                    <a href="@Url.Action("WorkandCourse", "Edit")"><div class="secondary-btn"><p class="text-center">ถัดไป</p></div></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showmeaddress(id) {
        var divid = document.getElementById(id);
        var clicky = document.getElementById("clickyaddress");
        if (divid.style.display == 'block') {
            divid.style.display = 'none';
            clicky.innerHTML = "<i class='far fa-plus-square margin-left-10' style='color: #e25384;'></i>";
        } else {
            divid.style.display = 'block';
            clicky.innerHTML = "<i class='far fa-minus-square margin-left-10' style='color: #e25384;'></i>";
        }
    }
    function showmebank(id) {
        var divid = document.getElementById(id);
        var clicky = document.getElementById("clickybank");
        if (divid.style.display == 'flex') {
            divid.style.display = 'none';
            clicky.innerHTML = "<i class='far fa-plus-square margin-left-10' style='color: #e25384;'></i>";
        } else {
            divid.style.display = 'flex';
            clicky.innerHTML = "<i class='far fa-minus-square margin-left-10' style='color: #e25384;'></i>";
        }
    }

</script>


