﻿@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />
<style>
    body {
        background-color: white !important;
    }
</style>
<div class="container full-width-container createform personal-info preview ">
    <div class="content">
        <div class="flex-row">
            <div><h4>แบบฟอร์มแก้ไขข้อมูลอาจารย์พิเศษ</h4></div>
        </div>
        <div class="progress-createform mt-3 ">
            <div class="flex-row edit">
                <div class="head">
                    <a href="@Url.Action("Index", "Edit")">
                        <div class="flex-column">
                                <div class="circle selected">1</div>
                            <div class="selected-descrip">ข้อมูลส่วนบุคคล</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("WorkandCourse", "Edit")">
                        <div class="flex-column">
                            <div class="gray-external-circle">
                                <div class="circle ">2</div>
                            </div>
                            <div class="descrip">งานและหลักสูตร</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Education", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">3</div>
                            <div class="selected-descrip">วุฒิการศึกษา</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Experience", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">4</div>
                            <div class="selected-descrip">ประสบการณ์</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Article", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">5</div>
                            <div class="selected-descrip">ผลงานวิชาการ</div>
                        </div>
                    </a>
                </div>
                <div class="line selected"></div>
                <div class="head">
                    <a href="@Url.Action("Etc", "Edit")">
                        <div class="flex-column">
                            <div class="circle selected">6</div>
                            <div class="selected-descrip">อื่นๆ</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        @*-------------------------------   2   WORK AND COURSE   ------------------------------------------------------------*@
        <div class="flex-row mt-3">
            <div class="head-square"></div>
            <div class="topic-square">งานและหลักสูตร</div>
        </div>
        <div class="row mt-3">
            <div class="col-md-5 flex-row">
                <p class="mb-0 pt-1 mr-2">ประเภทการทำงาน</p>
                <div class="disable flex-row">
                    <input type="text" id="" name="" placeholder="สัญญาจ้างรายภาคการศึกษา" disabled>
                </div>
            </div>
            <div class="col-md-4 flex-row">
                <p class="mb-0 pt-1 mr-2">ปีการศึกษา</p>
                <div class="disable flex-row w-35">
                    <input type="text" id="" name="" placeholder="2564" disabled>
                </div>
            </div>
        </div>
        <table class="styled-table mt-3">
            <thead>
                <tr>

                    <th>หลักสูตรรายวิชา</th>
                    <th>
                        เกณฑ์มาตรฐาน
                        หลักสูตร
                    </th>
                    <th>
                        ชั่วโมงสอน
                        มากกว่า 50%
                    </th>
                    <th>ระยะเวลาที่สอน</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>หลักสูตรแพทยศาสตรบัณฑิต</td>
                    <td>ปี 2558</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="btn-group flex-row mt-5 mb-5">
            <a href="@Url.Action("Index", "Edit")"><div class="secondary-btn"><p class="text-center">ย้อนกลับ</p></div></a>
            <a href="@Url.Action("Education", "Edit")"><div class="primary-btn"><p class="text-center">ถัดไป</p></div></a>
        </div>
    </div>
</div>




