﻿@{
    ViewData["Title"] = "Search";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<style>
    body {
        background-color: white !important;
    }
</style>
<div class="container full-width-container menu">
    <div class="row">
        <div class="col-md-2-5 side-navbar">
            <div class="flex-column">
                <p class="head"> ข้อมูลอาจารย์พิเศษ </p>
                <a href="@Url.Action("Index", "Search")">
                    <div class="flex-row mt-3 selected list-menu">
                        <i class="fas fa-search"></i><p class="ml-3 selected">ค้นหาข้อมูล</p>
                    </div>
                </a>
                <a href="@Url.Action("HomePage", "Home")">
                    <div class="flex-row mt-1 list-menu">
                        <i class="fas fa-home"></i><p class="ml-3">หน้าหลัก</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-10 col-xs-10 col-sm-10 content ml-4 search-page">
            <div class="row mb-1">

                <div class="col-md-3 flex-row min-w-98">
                    <p>ชื่อ</p>
                    <form class="form-style-8 ml-2 w-100">
                        <input type="text" name="" id="" value="" />
                    </form>
                </div>
                <div class="col-md-4 flex-row min-w-98">
                    <p>หลักสูตร</p>
                    <form class="form-style-8 ml-2 w-100">
                        <input type="text" name="" id="" value="" />
                    </form>
                </div>
                <div class="col-md-3 flex-row min-w-77">
                    <p>ปีการศึกษา</p>
                    <form class="form-style-8 ml-2 w-65">
                        <input type="text" name="" id="" value="" />
                    </form>
                </div>

                <div class="col-md-2 flex-row search">
                    <div class="pink-btn">
                        <p>ค้นหา</p>
                    </div>
                </div>
            </div>
            <div class="excel-btn mb-3"><i class="fas fa-file-export"></i>Export Excel</div>
            <table class="styled-table ">
                <thead>
                    <tr>
                        <th>
                            ชื่อ-นามสกุล<i class="fs-12 fas fa-sort ml-2 pink"></i>
                        </th>
                        <th>หลักสูตร<i class="fas fa-sort fs-12 ml-2 pink"></i></th>
                        <th>มติครั้งที่<i class="fas fa-sort fs-12 ml-2 pink"></i></th>
                        <th>วันที่มีมติ<i class="fas fa-sort fs-12 ml-2 pink"></i></th>
                        <th>วันที่เริ่มต้น<i class="fas fa-sort fs-12 ml-2 pink"></i></th>
                        <th>วันที่สิ้นสุด<i class="fas fa-sort fs-12 ml-2 pink"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ผศ. กาญจนา แก้วสกุล</td>
                        <td>แพทยศาสตรบัณฑิต</td>
                        <td>3806/2563</td>
                        <td>22/06/2563</td>
                        <td>22/06/2563</td>
                        <td>21/06/2568</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
