﻿@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css">
<style>
    body {
        background-image: url('../../Image/background.png') !important;
        background-repeat: no-repeat, no-repeat;
        display: flex;
        flex-direction: column;
    }
</style>

<div class="container home" >
    <div class="content flex-column home-menu">
        <div class="width-100-percent">
            @*<p class="text-head text-center mb-5">ระบบสารสนเทศเพื่อรองรับอาจารย์พิเศษและอาจารย์ชาวต่างชาติ</p>*@
        </div>
        <div class="width-100-percent flex-row homepage-menu" style="display: flex;">
            <div class="width-33-percent ml-2">
                <a href="@Url.Action("Create", "Menu" )">
                    <div class="create-form">
                        <div class="flex-column">
                            <div class="icon-box">
                                <img src="../../Image/icon/document.png" />
                            </div>
                            <div class="head text-center">ขอแต่งตั้งอาจารย์พิเศษ</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="width-33-percent ml-2">
                <a href="@Url.Action("Edit", "Menu" )">
                    <div class="edit-form">
                        <div class="flex-column">
                            <div class="icon-box">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="head text-center">ขอแก้ไขข้อมูลอาจารย์พิเศษ<br /><span class="fs-16">(ปรับปรุงข้อมูลหลังการแต่งตั้ง)</span></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="width-33-percent ml-2">
                <a href="@Url.Action("Index", "Search")">
                    <div class="search-form">
                        <div class="flex-column">
                            <div class="icon-box">
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="head text-center">ค้นหาข้อมูลอาจารย์พิเศษ<br /><span class="fs-16">(ที่ผ่านการแต่งตั้งแล้ว)</span></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


    </div>
    @*<div class="content">
                        <div class="box-list flex-row">
                            <ul id="triple">
                                <li><a href="@Url.Action("Index", "CreateForm")">
                    <div class="pink-box">
                        <div class="left">
                            <div class="head">ขอแต่งตั้งอาจารย์พิเศษ</div>
                            <div class="sub-head">Create Form</div>
                        </div>
                        <div class="right">
                            <div><img src="https://sv1.picz.in.th/images/2021/12/13/6udNVe.png" alt="6udNVe.png" border="0" /></div>
                        </div>
                    </div>
                </a></li>
                                <li><a href="">
                    <div class="white-box">
                        <div class="left">
                            <div class="head">ขอแก้ไขข้อมูลอาจารย์พิเศษ</div>
                        </div>
                        <div class="right">
                            <div><i class="fas fa-pen"></i></div>
                        </div>
                    </div>
                </a></li>
                                <li><a href="">
                    <div class="white-box">
                        <div class="left">
                            <div class="head">ค้นหาข้อมูลอาจารย์พิเศษ</div>
                        </div>
                        <div class="right">
                            <div><i class="fas fa-search"></i></div>
                        </div>
                    </div>
                </a></li>
                            </ul>





                                -----<li>
                            <div class="content-box">
                                <div class="left">
                                    <div class="head">ขอแก้ไขข้อมูลอาจารย์พิเศษ</div>
                                </div>
                                <div class="right excel">
                                    <div><i class="fas fa-file-csv"></i></div>
                                </div>
                            </div>
                        </li>-----

        </div>

            </div>

                Horizontal Menu------------------------------------------------------------------------

                <a href="@Url.Action("Index", "CreateForm")">
                    <div class="horizon-box flex-row">
                        <div class="pink">
                            <img src="https://sv1.picz.in.th/images/2021/12/13/6udNVe.png" alt="6udNVe.png" border="0" />
                            <div class="head">ขอแต่งตั้งอาจารย์พิเศษ</div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="horizon-box flex-row">
                        <div class="white">
                            <i class="fas fa-pen"></i>
                            <div class="head">ขอแก้ไขข้อมูลอาจารย์พิเศษ</div>
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="horizon-box flex-row">
                        <div class="white">
                            <i class="fas fa-search"></i>
                            <div class="head">ค้นหาข้อมูลอาจารย์พิเศษ</div>
                        </div>
                    </div>
                    </a>


    *@





</div>



@*<div class="container">
        <div class="box">
            <div class="content field">
                <p>สัญชาติ</p>

                <input type="radio" id="thai" name="region" value="thai"
                       checked>
                <label for="thai">ไทย</label>

                <input type="radio" id="inter" name="region" value="inter"
                       checked>
                <label for="inter">ต่างประเทศ</label>

            </div>
        </div>
    </div>*@

