﻿@model CU.Models.LdapDisplay
@{
    ViewData["Title"] = "AD หรือ LDAP";
}
@*@{ Layout = "_AuthorizeLayout"; }*@
<link rel="stylesheet" href="~/css/account.css" />
<link rel="stylesheet" href="~/css/global.css" />
<link rel="stylesheet" href="~/css/home.css" />

<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row flex-row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center head flex-row">
                <h1 class="mt-5">AD หรือ LDAP</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0 btn-setting row flex-row">
                    <div class="btn-group mb-3">
                        <a href="@Url.Action("Index", "Admin")" class="secondary-btn">ย้อนกลับ</a>
                        <a class="primary-btn" data-toggle="modal" data-target=".modal-setting"><span><img src="~/Image/icon/gear-w.png" class="img-icon">&nbsp;ตั้งค่า</span></a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 ldap-group p-0 row" style="margin:0 auto;">
                    @if (@Model.id == 0)
                    {
                        <div id="divNoInfo"><h5 class="font-weight-bold">ไม่มีค่าพื้นฐาน</h5></div>
                    }
                    else
                    {
                        <div class="hidden col-md-12 col-sm-12 col-xs-12 p-0">
                            <table class="table table-condensed table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Host Name</td>
                                        <td>@Model.host_name</td>
                                    </tr>
                                    <tr>
                                        <td>Port</td>
                                        <td>@Model.port</td>
                                    </tr>
                                    <tr>
                                        <td>Base Path</td>
                                        <td>@Model.base_path</td>
                                    </tr>
                                    <tr>
                                        <td>Protocol Version</td>
                                        <td>@Model.protocol_version</td>
                                    </tr>
                                    <tr>
                                        <td>Directory Path</td>
                                        <td>@Model.directory_path</td>
                                    </tr>
                                    <tr>
                                        <td>SSL Enabled</td>
                                        @if (@Model.enable_ssl)
                                        {
                                            <td><img src="~/Image/icon/tick-color.png" style="height:23px;" /></td>
                                        }
                                        else
                                        {
                                            <td><img src="~/Image/icon/cross-color.png" style="height:23px;" /></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td class="">Required Authentication</td>
                                        @if (@Model.is_authenticated)
                                        {
                                            <td><img src="~/Image/icon/tick-color.png" style="height:23px;" /></td>
                                        }
                                        else
                                        {
                                            <td><img src="~/Image/icon/cross-color.png" style="height:23px;" /></td>
                                        }
                                    </tr>
                                    @if (@Model.is_authenticated)
                                    {
                                        <tr>
                                            <td class="">ชื่อผู้ใช้งาน</td>
                                            <td>@Model.username</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>


@*--------Modal Setting---------*@
<div id="LDAPModal" class="modal fade modal-setting" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    @using (Html.BeginForm("Update", "Ldap", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.id)
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" style="padding:12px 15px;">
                    <h4 class="modal-title">ตั้งค่า AD หรือ LDAP</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="~/Image/icon/cross-g.png" class="img-icon" />
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Host Name <span class="text-red-b">*</span></label>
                                    @Html.TextBoxFor(m => m.host_name, new { @class = "form-control ", required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                <div class="form-group">
                                    <label>Port <span class="text-red-b">*</span></label>
                                    @Html.TextBoxFor(m => m.port, new { @class = "form-control ", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                <div class="form-group">
                                    <label>Base Path <span class="text-red-b">*</span></label>
                                    @Html.TextBoxFor(m => m.base_path, new { @class = "form-control ", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                <div class="form-group">
                                    <label>Protocol Version <span class="text-red-b">*</span></label>
                                    @Html.TextBoxFor(m => m.protocol_version, new { @class = "form-control ", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                <div class="form-group">
                                    <label>Directory Path <span class="text-red-b">*</span></label>
                                    @Html.TextBoxFor(m => m.directory_path, new { @class = "form-control ", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 clear-none">
                                <div class="col-sm-12">
                                    @Html.CheckBoxFor(m => m.enable_ssl, new { @class = "form-check-input", @id = "inputSSL_Enabled" })
                                    <label for="inputSSL_Enabled" class="check-custom">SSL Enabled</label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 clear-none">
                                <div class="col-sm-12">
                                    @Html.CheckBoxFor(m => m.is_authenticated, new { @class = "form-check-input", @id = "inputAuthentication" })
                                    <label for="inputAuthentication" class="check-custom">Required Authentication</label>
                                </div>
                            </div>
                        </div>
                        <div id="requiredAuthentication">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                    <div class="form-group">
                                        <label>ชื่อผู้ใช้งาน <span class="text-red-b">*</span></label>
                                        @Html.TextBoxFor(m => m.username, new { @class = "form-control required-auth", @autocomplete = "new-user" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                    <div class="form-group">
                                        <label>รหัสผ่าน <span class="text-red-b">*</span></label>
                                        @Html.PasswordFor(m => m.password, new { @class = "form-control required-auth", @autocomplete = "new-password" })
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                    <div class="form-group">
                                        <label>ยืนยันรหัสผ่าน <span class="text-red-b">*</span></label>
                                        @Html.PasswordFor(m => m.confirmpassword, new { @class = "form-control required-auth", @autocomplete = "new-password" })
                                        @Html.ValidationMessageFor(m => m.confirmpassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                        <div class="form-group" style="margin-bottom:5px;">
                            <div class="row btn-group">
                                <div class="col-md-12 col-sm-12 col-xs-12 p-0 text-center">
                                    <button id="" type="submit" class="primary-btn" style="margin-top:5px;">
                                        บันทึก
                                    </button>
                                    <button id="" type="button" class="secondary-btn" style="margin-top:5px;" data-dismiss="modal" aria-label="Close">
                                        ยกเลิก
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@*--------.Modal Setting---------*@

<script>
    function toggleRequiredAuth() {
        if ($('#inputAuthentication').prop("checked") == true) {
            $('.required-auth').prop('required', true);
            $('#requiredAuthentication').show();
        } else {
            $('.required-auth').prop('required', false);
            $('#requiredAuthentication').hide();
        }
    }

    $(function () {
        if (@ViewBag.showPopUp != null && @ViewBag.showPopUp == true) {
            $('#LDAPModal').modal('show');
        }

        toggleRequiredAuth();

        $('#inputAuthentication').on('click',toggleRequiredAuth);
    });
</script>