﻿@using CU.Constants;
@using CU.Services;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ระบบสารสนเทศเพื่อรองรับอาจารย์พิเศษและอาจารย์ชาวต่างชาติ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/global.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/svg-icons-animate.css" />
        <link rel="stylesheet" href="~/css/hr.css" />*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body class="back-bg">
    <header>
        <div class="navbar">
            <div class="left">
                <a href="@Url.Action("HomePage", "Home")" class="logo"><img src="../../Image/chula-logo-white.png" border="0" /></a>
                <a href="@Url.Action("HomePage", "Home")" class="home">ระบบสารสนเทศเพื่อรองรับอาจารย์พิเศษและอาจารย์ชาวต่างชาติ</a>
            </div>

            <div class="right dropdown">
                @if (AppContextHelper.User != null)
                {
                    <div class="dropbtn flex-row">
                        <div class="row">
                            <div class="w-f mt-2-5 ">
                                <div class="logo white-text mr-2"><img src="../../Image/icon/person.png" border="0" /></div>
                            </div>
                            <div class="w-f mt-2">
                                <div class="name white-text">
                                    <div class="text-user-name white-text">
                                        @AppContextHelper.User.Fullname
                                    </div>
                                    <div class="role white-text">เจ้าหน้าที่สาขา</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-content">
                        <a href="#"><img class="img-icon" src="../../Image/icon/gear-p.png" border="0" />ตั้งค่าระบบ</a>
                        <a href="@Url.Action("Logout", "Account")"><img class="img-icon" src="../../Image/icon/logout.png" border="0" />Log out</a>
                    </div>
                }
            </div>
        </div>
    </header>
    @if (AppContextHelper.HasGroupAuthority(GroupAuthorityCode.Admin) || AppContextHelper.HasGroupAuthority(GroupAuthorityCode.HR))
    {
        <ul class="nav admin-nav">
            <li id="Home" class="nav-item">
                <a href="@Url.Action("HomePage", "Home")" class="nav-link">Portal</a>
            </li>
            @if (AppContextHelper.HasGroupAuthority(GroupAuthorityCode.Admin))
            {
                <li id="Admin" class="nav-item">
                    <a href="@Url.Action("Index", "Admin")" class="nav-link">ผู้ดูแลระบบ</a>
                </li>
            }
            @if (AppContextHelper.HasGroupAuthority(GroupAuthorityCode.Admin))
            {
                <li id="Admin" class="nav-item">
                    <a href="@Url.Action("Index", "Admin")" class="nav-link">ตั้งค่าข้อมูล Master</a>
                </li>
            }

            @if (AppContextHelper.HasGroupAuthority(GroupAuthorityCode.HR))
            {
                <li id="Hr" class="nav-item">
                    <a href="@Url.Action("Index", "Workflow")" class="nav-link">ตั้งค่าส่วนงาน</a>
                </li>
            }
        </ul>
    }

    <div class="container body-page full-width">
        <main role="main" class="pb-3">
            @await Html.PartialAsync("_NotificationPanel")
            @RenderBody()
            <div class="loading">
                <p class="loading-text">กรุณารอสักครู่</p>
            </div>
        </main>
    </div>

    <footer class="footer ml-4">
        <div class="copyright"><p>Copyright &copy; 2021 สำนักบริหารทรัพยากรมนุษย์ <span class="new-lines">จุฬาลงกรณ์มหาวิทยาลัย</span></p></div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)

    @if (AppContextHelper.HasGroupAuthority(GroupAuthorityCode.Admin) || AppContextHelper.HasGroupAuthority(GroupAuthorityCode.HR))
    {
        <script>
        $(function () {
            $('#@ViewContext.RouteData.Values["Controller"]').addClass('active');
        });
        </script>
    }
</body>
</html>

<script>
    $(function () {
        $(document).on('submit', function (event) {
            $(".loading").fadeIn();
        });

        $("a[href]").not('[target="_blank"]').on("click", function () {
            $(".loading").fadeIn();
        });
    });
</script>

