﻿@using CU.Services;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CU</title>
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/createform.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/brands.min.css" integrity="sha512-rQgMaFKZKIoTKfYInSVMH1dSM68mmPYshaohG8pK17b+guRbSiMl9dDbd3Sd96voXZeGerRIFFr2ewIiusEUgg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <header>
        <div class="col-md-2-5 side-navbar">
            <div class="flex-column">
                <p class="head mb-1"> การเสนอขออนุมัติแต่งตั้ง </p>
                <div class="flex-row">
                    <a href="@Url.Action("Index", "CreateForm")">
                        <div class="icon-box mr-4 ml-3">
                            <img src="../../Image/icon/create-form.png" />
                        </div>
                    </a>
                    <a href="@Url.Action("ImportExcel", "Excel")">
                        <div class="icon-box" style="padding-top: 0.75em;">
                            <img src="../../Image/icon/upload-excel.png" />
                        </div>
                    </a>
                </div>
                <a href="@Url.Action("Index", "Menu")">
                    <div class="flex-row mt-3 selected list-menu">
                        <i class="fas fa-list"></i><p class="ml-3 selected">งานที่ต้องดำเนินการ</p>
                    </div>
                </a>
                <div class="flex-row mt-1 list-menu">
                    <i class="far fa-folder"></i><p class="ml-3">ตรวจสอบคำเสนอขอแต่งตั้ง</p>
                </div>
                <div class="flex-row mt-1 list-menu">
                    <i class="far fa-folder"></i><p class="ml-3">ติดตามสถานภาพคำขอ</p>
                </div>
                <div class="flex-row mt-1 list-menu">
                    <i class="fas fa-search"></i><p class="ml-3">ค้นหาข้อมูล</p>
                </div>
                <a href="@Url.Action("Index", "Dashboard" )">
                    <div class="flex-row mt-1 list-menu">
                        <i class="far fa-chart-bar"></i><p class="ml-3">Dashboard</p>
                    </div>
                </a>
                <a href="@Url.Action("HomePage", "Home")">
                    <div class="flex-row mt-1 list-menu">
                        <i class="fas fa-home"></i><p class="ml-3">หน้าหลัก</p>
                    </div>
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <a id="btnGoTop" class="btnGoTop" onclick="topFunction();" style="display: none;">
        <i class="fa fa-chevron-up"></i>
    </a>
    

</body>
</html>
