﻿@using CU.Services;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CU</title>
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/brands.min.css" integrity="sha512-rQgMaFKZKIoTKfYInSVMH1dSM68mmPYshaohG8pK17b+guRbSiMl9dDbd3Sd96voXZeGerRIFFr2ewIiusEUgg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @*<script src="~/js/Form.js"></script>*@
    @*<script src="~/lib/dtpickr/moment.js"></script>*@
    @*<link rel="stylesheet" href="~/lib/flatpickr/flatpickr.min.css" />
        <link rel="stylesheet" href="~/lib/flatpickr/theme.css" />
        <script src="~/lib/cleave/cleave.min.js"></script>
        <script src="~/lib/flatpickr/flatpickr.min.js"></script>
        <script src="~/lib/flatpickr/th.min.js"></script>
        <script src="~/lib/Intl.js"></script>*@
</head>
<body>
    <header>
        <div class="navbar">
            <div class="left">
                <a href="@Url.Action("HomePage", "Home")" class="logo"><img src="../../Image/chula-logo-white.png" border="0" /></a>
                <a href="@Url.Action("HomePage", "Home")" class="home">ระบบสารสนเทศเพื่อรองรับอาจารย์พิเศษและอาจารย์ชาวต่างชาติ</a>
            </div>

            <div class="right dropdown">
                @if (AppContextHelper.User != null)
                {
                    <div class="dropbtn flex-row">
                        <div class="row mr-0">
                            <div class="w-f mt-2-5 ">
                                <div class="logo white-text mr-2"><img src="../../Image/icon/person.png" border="0" /></div>
                            </div>
                            <div class="w-f mt-2">
                                <div class="name white-text">
                                    <div class="text-user-name white-text">
                                        @*@AppContextHelper.User.Fullname*@
                                        ฐิติกร เกียรติสกุล
                                    </div>
                                    <div class="role white-text">เจ้าหน้าที่สาขา</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-content">
                        <a href="#"><img class="img-icon" src="../../Image/icon/gear-p.png" border="0" />ตั้งค่าระบบ</a>
                        <a href="@Url.Action("Logout", "Account")"><img class="img-icon" src="../../Image/icon/logout.png" border="0" />Log out</a>
                    </div>
                }
            </div>
        </div>


        @*

                <div class="row">
                    <div class="left">
                        left
                    </div>
                    <div class="right">
                        right
                    </div>

                </div>
                <a href="#"> <img src="https://sv1.picz.in.th/images/2021/11/30/6gVFDI.jpg" alt="6gVFDI.jpg" border="0" /></a>
            <a href="#">ระบบสารสนเทศเพื่อรองรับอาจารย์พิเศษและอาจารย์ชาวต่างชาติ</a>*@



    </header>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <a id="btnGoTop" class="btnGoTop" onclick="topFunction();" style="display: none;">
        <i class="fa fa-chevron-up"></i>
    </a>
    @*footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - CU - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    @*<footer id="footer">
            <p>Copyright © 2021 สำนักบริหารทรัพยากรมนุษย์ จุฬาลงกรณ์มหาวิทยาลัย</p>
        </footer>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>


        //Dropdown Add Clacss
        $(".dropdown").click(function () {
            var active = $(this).hasClass("hover-active");
            $(".dropdown").removeClass("hover-active");
            if (!active) {
                $(this).addClass("hover-active");
            }
        });

        $(document).on('lazybeforeunveil', function (e) {
            var bg = e.target.getAttribute('data-bg');
            if (bg) {
                e.target.style.backgroundImage = 'url(' + bg + ')';
            }
        });

        //Scroll Top
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("btnGoTop").style.display = "block";
            } else {
                document.getElementById("btnGoTop").style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

</body>
</html>
