﻿
@if (TempData["Success"] != null)
{
    <div id="SuccessModal" class="modal fade modal-alert" style="z-index: 1100;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding: 12px 15px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="~/Image/icon/cross-g.png" class="img-icon" />
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 col-sm-12 col-xs-12 item-middle text-center" style="min-height:130px;">
                        <span>
                            <div class="svg-box">
                                <svg class="circular success-stroke">
                                    <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                                </svg>
                                <svg class="checkmark success-stroke">
                                    <g transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-489.57,-205.679)">
                                        <path class="checkmark__check" fill="none" d="M616.306,283.025L634.087,300.805L673.361,261.53" />
                                    </g>
                                </svg>
                            </div>
                            <p class="text-green-b" style="font-size:24px;">@Html.Raw(TempData["Success"])</p>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                        <div class="form-group" style="margin-bottom:5px;">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 p-0 text-center">
                                    <button type="button" class="btn btn-gray" style="margin-top:5px;" data-dismiss="modal" aria-label="Close">
                                        ปิด
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#SuccessModal').modal('show');
        });
    </script>
}
@if (TempData["Failure"] != null)
{
    <div id="FailureModal" class="modal fade modal-alert" style="z-index: 1100;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding: 12px 15px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="~/Image/icon/cross-g.png" class="img-icon" />
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 col-sm-12 col-xs-12 item-middle text-center" style="min-height:130px;">
                        <span>
                            <div class="svg-box">
                                <svg class="circular alert-stroke">
                                    <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                                </svg>
                                <svg class="alert-sign alert-stroke">
                                    <g transform="matrix(1,0,0,1,-615.516,-257.346)">
                                        <g transform="matrix(0.56541,-0.56541,0.56541,0.56541,93.7153,495.69)">
                                            <path class="line" d="M634.087,300.805L673.361,261.53" fill="none" />
                                        </g>
                                        <g transform="matrix(2.27612,-2.46519e-32,0,2.27612,-792.339,-404.147)">
                                            <circle class="dot" cx="621.52" cy="317.126" r="1.318" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <p class="text-red-b" style="font-size:24px;">@Html.Raw(TempData["Failure"])</p>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                        <div class="form-group" style="margin-bottom:5px;">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 p-0 text-center">
                                    <button type="button" class="btn btn-gray" style="margin-top:5px;" data-dismiss="modal" aria-label="Close">
                                        ปิด
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#FailureModal').modal('show');
        });
    </script>
}