﻿@{
    ViewData["Title"] = "Faculty QS Ranking";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />
<link rel="stylesheet" href="~/css/dashboard.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<style>
    body {
        background-color: white !important;
    }
</style>
<div class="container full-width-container menu ">
    <div class="row">
        <div class="col-md-2-5 side-navbar">
            <div class="flex-column">
                <p class="head mb-1"> การเสนอขออนุมัติแต่งตั้ง </p>
                <div class="flex-row">
                    <a href="@Url.Action("Index", "CreateForm" )">
                        <div class="icon-box mr-4 ml-3">
                            <img src="../../Image/icon/create-form.png" />
                        </div>
                    </a>
                    <a href="@Url.Action("ImportExcel", "Excel" )">
                        <div class="icon-box" style="padding-top: 0.75em;">
                            <img src="../../Image/icon/upload-excel.png" />
                        </div>
                    </a>
                </div>
                <a href="@Url.Action("Index", "Menu" )">
                    <div class="flex-row mt-3  list-menu">
                        <i class="fas fa-list"></i><p class="ml-3 ">งานที่ต้องดำเนินการ</p>
                    </div>
                </a>
                <div class="flex-row mt-1 list-menu">
                    <i class="far fa-folder"></i><p class="ml-3">ติดตามสถานภาพคำขอ</p>
                </div>
                <div class="flex-row mt-1 list-menu">
                    <i class="fas fa-search"></i><p class="ml-3">ค้นหาข้อมูล</p>
                </div>
                <a href="@Url.Action("Index", "Dashboard" )">
                    <div class="flex-row mt-1 list-menu selected">
                        <i class="far fa-chart-bar"></i><p class="ml-3 selected">Dashboard</p>
                    </div>
                </a>
                <a href="@Url.Action("HomePage", "Home" )">
                    <div class="flex-row mt-1 list-menu">
                        <i class="fas fa-home"></i><p class="ml-3">หน้าหลัก</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-9-5 col-xs-10 col-sm-10 ml-5 max-w-57 dashboard">
            <p class="head-text mb-2 fs-20">ระดับส่วนงาน QS Ranking</p>
            <div class="flex-row dashboard">
                <div class="w-33 flex-row mr-3">
                    <p>หลักสูตร</p>
                    <form class="form-style-8 ml-2 w-100">
                        <input type="text" name="" id="" value="" />
                    </form>
                </div>
                <div class="w-25 flex-row mr-3">
                    <p>ปีการศึกษา</p>
                    <form class="form-style-8 ml-2 w-100">
                        <input type="text" name="" id="" value="" />
                    </form>
                    <p>ถึง</p>
                    <form class="form-style-8 ml-2 w-100">
                        <input type="text" name="" id="" value="" />
                    </form>
                </div>
                <div class="w-17 flex-row mr-3">
                    <p>ภาคการศึกษา</p>
                    <form class="form-style-8 ml-2 w-100">
                        <input type="text" name="" id="" value="" />
                    </form>
                </div>
                <div class="w-15">
                    <div class="pink-btn">
                        <p>ค้นหา</p>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <div class="w-50">
                    <div class="flex-row mb-2">
                        <div class="head-square"></div>
                        <div class="topic-square">
                            จำนวนอาจารย์พิเศษแยกตามระยะเวลาการสอนภายใต้หลักสูตรxxx
                        </div>
                    </div>
                    <div class="chart-container-300">
                        <canvas id="chart1" ></canvas>
                    </div>
                    </div>
                <div class="w-50">
                    <div class="flex-row ">
                        <div class="head-square"></div>
                        <div class="topic-square mb-2">
                            จำนวนผลงานทางวิชาการของอาจารย์พิเศษย์ที่มีระยะเวลาการสอน>3เดือน
                        </div>
                    </div>
                    <div class="chart-container-400">
                        <canvas id="chart2"></canvas>
                    </div>
                    </div>
                </div>
        </div>

        </div>
    </div>


<script>
    new Chart(document.getElementById("chart1"), {
        type: 'pie',
        data: {
            labels: ["มากกว่า 3 เดือน", "อื่นๆ"],
            datasets: [{
                label: "",
                backgroundColor: ["#c0d8c0", "#dd4b49"],
                data: [60.60,40.40]
            }]
        },
        options: {
            title: {
                responsive: true,
                maintainAspectRatio: false,
                display: false,
                text: ''
            }
        }
    });

    new Chart(document.getElementById("chart2"), {
        type: 'horizontalBar',
        data: {
            labels: ["งานวิจัย", "ตำรา/ หนังสือ/ บทความวิชาการ", "ผลงานทางวิชาการในลักษณะอื่น", "ผลงานวิชาการรับใช้สังคม"],
            datasets: [
                {
                    label: "",
                    backgroundColor: "#f94992",
                    data: [25, 20, 10, 5]
                }
            ]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'จำนวนผลงานวิชาการ'
            }
        }
    });
</script>