﻿@{
    ViewData["Title"] = "FacultyBudget";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />
<link rel="stylesheet" href="~/css/dashboard.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<style>
    body {
        background-color: white !important;
    }
</style>
<div class="container full-width-container menu ">
    <div class="row">
        <div class="col-md-2-5 side-navbar">
            <div class="flex-column">
                <p class="head mb-1"> การเสนอขออนุมัติแต่งตั้ง </p>
                <div class="flex-row">
                    <a href="@Url.Action("Index", "CreateForm" )">
                        <div class="icon-box mr-4 ml-3">
                            <img src="../../Image/icon/create-form.png" />
                        </div>
                    </a>
                    <a href="@Url.Action("ImportExcel", "Excel" )">
                        <div class="icon-box" style="padding-top: 0.75em;">
                            <img src="../../Image/icon/upload-excel.png" />
                        </div>
                    </a>
                </div>
                <a href="@Url.Action("Index", "Menu" )">
                    <div class="flex-row mt-3  list-menu">
                        <i class="fas fa-list"></i><p class="ml-3 ">งานที่ต้องดำเนินการ</p>
                    </div>
                </a>
                <div class="flex-row mt-1 list-menu">
                    <i class="far fa-folder"></i><p class="ml-3">ติดตามสถานภาพคำขอ</p>
                </div>
                <div class="flex-row mt-1 list-menu">
                    <i class="fas fa-search"></i><p class="ml-3">ค้นหาข้อมูล</p>
                </div>
                <a href="@Url.Action("Index", "Dashboard" )">
                    <div class="flex-row mt-1 list-menu selected">
                        <i class="far fa-chart-bar"></i><p class="ml-3 selected">Dashboard</p>
                    </div>
                </a>
                <a href="@Url.Action("HomePage", "Home" )">
                    <div class="flex-row mt-1 list-menu">
                        <i class="fas fa-home"></i><p class="ml-3">หน้าหลัก</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-9-5 col-xs-10 col-sm-10 ml-5 max-w-57 dashboard">
            <p class="head-text mb-2 fs-20">ระดับส่วนงาน จำนวนอาจารย์พิเศษของส่วนงาน (งบประมาณ)</p>
            <div class="flex-row dashboard">
                <div class="w-33 flex-row mr-3">
                    <p>หลักสูตร</p>
                    <form class="form-style-8 ml-2 w-100">
                        <input type="text" name="" id="" value="" />
                    </form>
                </div>
                <div class="w-25 flex-row mr-3">
                    <p>ปีการศึกษา</p>
                    <form class="form-style-8 ml-2 w-100">
                        <input type="text" name="" id="" value="" />
                    </form>
                    <p>ถึง</p>
                    <form class="form-style-8 ml-2 w-100">
                        <input type="text" name="" id="" value="" />
                    </form>
                </div>
                <div class="w-17 flex-row mr-3">
                    <p>ภาคการศึกษา</p>
                    <form class="form-style-8 ml-2 w-100">
                        <input type="text" name="" id="" value="" />
                    </form>
                </div>
                <div class="w-15">
                    <div class="pink-btn">
                        <p>ค้นหา</p>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <div class="w-50">
                    <div class="flex-row mb-2">
                        <div class="head-square"></div>
                        <div class="topic-square">
                            จำนวนอาจารย์พิเศษที่มาสอนในระดับxxx
                        </div>
                    </div>
                    <canvas id="chart1" width="454" height="410"></canvas>
                </div>
                <div class="w-50 pl-5">
                    <div class="min-h-235">
                        <div class="flex-row ">
                            <div class="head-square"></div>
                            <div class="topic-square">
                                จำนวนอาจารย์พิเศษแยกตามหลักสูตรที่มาสอนในระดับxxx
                            </div>
                        </div>
                        <div class="chart-container-s">
                            <canvas id="chart2" ></canvas>
                        </div>
                    </div>
                    <div class="flex-row mt-2">
                        <div class="head-square"></div>
                        <div class="topic-square">
                            จำนวนอาจารย์พิเศษแยกตามหลักสูตรที่มาสอนในหลักสูตรxxx
                        </div>
                    </div>
                    <div class="chart-container-s">
                        <canvas id="chart3" ></canvas>
                    </div>
                    </div>
                </div>
        </div>

    </div>
</div>

<script>
    var ctx = document.getElementById('chart1').getContext('2d');
    var chart1 = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["ปี 2563", "ปี 2564", "ปี 2565"],
            datasets: [
                {
                    label: "ระดับปริญญาตรี",
                    backgroundColor: "#665e8a",
                    data: [40, 61, 82]
                },
                {
                    label: "ระดับประกาศนียบัตรบัณฑิต",
                    backgroundColor: "#7997ab",
                    data: [11, 11, 11]
                },
                {
                    label: "ระดับปริญญาโท",
                    backgroundColor: "#d885a3",
                    data: [30, 30, 20]
                },
                {
                    label: "ระดับประกาศนียบัตรบัณฑิตชั้นสูง",
                    backgroundColor: "#fdceb9",
                    data: [8, 12, 10]
                },
                {
                    label: "ระดับปริญญาเอก",
                    backgroundColor: "#c0d8c0",
                    data: [19, 19, 30]
                }
            ]
        },
        options: {
            barValueSpacing: 20,
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                    }
                }]
            }
        }
    });

    new Chart(document.getElementById("chart2"), {
        type: 'pie',
        data: {
            labels: ["หลกัสูตร A", "หลักสูตร B", "หลักสูตร C", "หลักสูตร D"],
            datasets: [{
                label: "",
                backgroundColor: ["#25a19c", "#faeee7", "#335388", "#d96198"],
                data: [25.12, 35.18, 40.20, 100.5]
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: false,
                text: ''
            }
        }
    });
    new Chart(document.getElementById("chart3"), {
        type: 'doughnut',
        data: {
            labels: ["ภาคต้น", "ภาคปลาย", "ภาคฤดูร้อน"],
            datasets: [
                {
                    label: "",
                    backgroundColor: ["#096f7e", "#ffc901", "#fe7f6e"],
                    data: [100.50, 75.37, 25.13]
                }
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: false,
                text: ''
            }
        }
    });
</script>
