﻿@{
    ViewData["Title"] = "Dashboard";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/global.css" />
<link rel="stylesheet" href="~/css/dashboard.css" />
<style>
    body {
        background-color: white !important;
    }
</style>
<div class="container full-width-container menu ">
    <div class="row">
        <div class="col-md-2-5 side-navbar">
            <div class="flex-column">
                <p class="head mb-1"> การเสนอขออนุมัติแต่งตั้ง </p>
                <div class="flex-row">
                    <a href="@Url.Action("Index", "CreateForm")">
                        <div class="icon-box mr-4 ml-3">
                            <img src="../../Image/icon/create-form.png" />
                        </div>
                    </a>
                    <a href="@Url.Action("ImportExcel", "Excel")">
                        <div class="icon-box" style="padding-top: 0.75em;">
                            <img src="../../Image/icon/upload-excel.png" />
                        </div>
                    </a>
                </div>
                <a href="@Url.Action("Create", "Menu")">
                    <div class="flex-row mt-3  list-menu">
                        <i class="fas fa-list"></i><p class="ml-3 ">งานที่ต้องดำเนินการ</p>
                    </div>
                </a>
                <div class="flex-row mt-1 list-menu">
                    <i class="far fa-folder"></i><p class="ml-3">ตรวจสอบคำเสนอขอแต่งตั้ง</p>
                </div>
                <a href="@Url.Action("TrackStatus","Menu")">
                    <div class="flex-row mt-1  list-menu">
                        <i class="far fa-folder"></i><p class="ml-3">ติดตามสถานภาพคำขอ</p>
                    </div>
                </a>
                <div class="flex-row mt-1 list-menu">
                    <i class="fas fa-search"></i><p class="ml-3">ค้นหาข้อมูล</p>
                </div>
                <a href="@Url.Action("Index", "Dashboard")">
                    <div class="flex-row mt-1 selected list-menu">
                        <i class="far fa-chart-bar"></i><p class="ml-3">Dashboard</p>
                    </div>
                </a>
                <a href="@Url.Action("HomePage", "Home")">
                    <div class="flex-row mt-1 list-menu">
                        <i class="fas fa-home"></i><p class="ml-3">หน้าหลัก</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-9 col-xs-10 col-sm-10 ml-5 max-w-57 dashboard">
            <p class="head-text mb-1 fs-20">Dashboard</p>
            <div class="mb-3">
                <button class="collapsible">ระดับส่วนงาน</button>
                <div class="content">
                    <ul class="ul-nonestyle flex-column ">
                        <li onclick="location.href='@Url.Action("FacultyBudget", "Dashboard")';">จำนวนอาจารย์พิเศษของส่วนงาน (งบประมาณ)</li>
                        <li onclick="location.href='@Url.Action("FacultyInter", "Dashboard")';">Internationalization</li>
                        <li onclick="location.href='@Url.Action("FacultyResearch", "Dashboard")';">Research &amp; Innovation</li>
                        <li onclick="location.href='@Url.Action("FacultyQS", "Dashboard")';">QS Ranking</li>
                        <li onclick="location.href='@Url.Action("FacultyAcademic", "Dashboard")';">ตำแหน่งทางวิชาการ</li>
                    </ul>
                </div>
            </div>
            <button class="collapsible">ระดับวิทยาลัย</button>
            <div class="content">
                <ul class="ul-nonestyle flex-column ">
                    <li onclick="location.href='';">ภาพรวมทั้งมหาวิทยาลัย</li>
                    <li onclick="location.href='';">หลักสูตรและงบประมาณ</li>
                    <li onclick="location.href='';">Internationalization</li>
                    <li onclick="location.href='';">Research &amp; Innovation</li>
                    <li onclick="location.href='';">QS Ranking</li>
                    <li onclick="location.href='';">ตำแหน่งทางวิชาการ</li>
                </ul>
            </div>
        </div>

    </div>
    </div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>