﻿@model CU.Models.FTPDisplay


@using (Html.BeginForm("UpdateFTP", "FTP", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.id)
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header" style="padding:12px 15px;">
                        <h4 class="modal-title">ตั้งค่า FTP SERVER</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <img src="~/Image/icon/cross-g.png" class="img-icon" />
                        </button>

                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>FTP Server Name <span class="text-red-b">*</span></label>
                                        @Html.TextBoxFor(m => m.serverip, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                    <div class="form-group">
                                        <label>Port <span class="text-red-b">*</span></label>
                                        @Html.TextBoxFor(m => m.port, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            </div>

                            @if (Model.type == (int)CU.Constants.AppConstant.FtpServerType.IDM)
                            {
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                        <div class="form-group">
                                            <label>Download Path <span class="text-red-b">*</span></label>
                                            @Html.TextBoxFor(m => m.DrivePath, new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                        <div class="form-group">
                                            <label>Upload Path <span class="text-red-b">*</span></label>
                                            @Html.TextBoxFor(m => m.PathUpload, new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row">
                                <div class="col-md-4 col-sm-12 col-xs-12 clear-none">
                                    <div class="col-sm-12 checkbox-group">
                                        @Html.CheckBoxFor(m => m.isauthenticated, new { @class = "form-check-input", @id = "inputAuthentication" })
                                        <label for="inputAuthentication" class="check-custom">Authentication</label>
                                    </div>
                                </div>
                            </div>
                            <div id="requiredAuthentication">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                        <div class="form-group">
                                            <label>ชื่อผู้ใช้งาน <span class="text-red-b">*</span></label>
                                            @Html.TextBoxFor(m => m.username, new { @class = "form-control required-auth", @autocomplete = "new-user" })
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                        <div class="form-group">
                                            <label>รหัสผ่าน <span class="text-red-b">*</span></label>
                                            @Html.PasswordFor(m => m.password, new { @class = "form-control required-auth", @autocomplete = "new-password" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                        <div class="form-group">
                                            <label>ยืนยันรหัสผ่าน <span class="text-red-b">*</span></label>
                                            @Html.PasswordFor(m => m.confirmpassword, new { @class = "form-control required-auth", @autocomplete = "new-password" })
                                            @Html.ValidationMessageFor(m => m.confirmpassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                            <div class="form-group" style="margin-bottom:5px;">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 p-0 text-center">
                                        <button id="" type="submit" class="btn btn-main" style="margin-top:5px;">
                                            บันทึก
                                        </button>
                                        <button id="" type="button" class="btn btn-gray" style="margin-top:5px;" data-dismiss="modal" aria-label="Close">
                                            ยกเลิก
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    @*--------.Modal Setting---------*@

    <script>
    function toggleRequiredAuth() {
        if ($('#inputAuthentication').prop("checked") == true) {
            $('.required-auth').prop('required', true);
            $('#requiredAuthentication').show();
        } else {
            $('.required-auth').prop('required', false);
            $('#requiredAuthentication').hide();
        }
    }

    $(function () {
        toggleRequiredAuth();


        $('#inputAuthentication').on('click', toggleRequiredAuth);
    });

    </script>

