﻿@model CU.Models.FTPDisplay
@{
    ViewData["Title"] = "FTP";

    FTPDisplay gateway = ViewBag.gateway;
}
@*@{ Layout = "_AuthorizeLayout"; }*@
<link rel="stylesheet" href="~/css/account.css" />
<link rel="stylesheet" href="~/css/global.css" />
<link rel="stylesheet" href="~/css/home.css" />

<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row flex-row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center head flex-row">
                <h1 class="mt-5 pb-0">FTP Server</h1> <br />
                                                 <h4 class="pt-0">CU Data Gateway</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ftp">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0 btn-setting row flex-row ">
                    <div class="btn-group mb-3">
                        @if (gateway.id != 0)
                        {
                            @*<a data-toggle="modal" data-target="#TestSmtpModal" class="btn btn-main hidden" id="divSend"><img src="~/Image/icon/email-w.png" class="img-icon" />&nbsp;ทดสอบส่ง</a>*@
                        }
                        <a href="@Url.Action("Index", "Admin")" class="secondary-btn">ย้อนกลับ</a>
                        <a class="primary-btn openmodel" data-id="@gateway.id"><span><img src="~/Image/icon/gear-w.png" class="img-icon">&nbsp;ตั้งค่า</span></a>
                        @*<a class="primary-btn" data-toggle="modal" data-target=".modal-setting"><span><img src="~/Image/icon/gear-w.png" class="img-icon">&nbsp;ตั้งค่า</span></a>*@
                    </div>
                </div>
                            <div class="col-md-11 col-sm-12 col-xs-12 smtp-group p-0" style="margin:0 auto 30px;">
                                @if (gateway.id == 0)
                                {
                                    <div id="divNoInfo"><h5 class="font-weight-bold">ไม่มีค่าพื้นฐาน</h5></div>
                                }
                                else
                                {
                                    <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                                        <table width="100%" class="table table-condensed table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>FTP Server Name</td>
                                                    <td>@gateway.serverip</td>
                                                </tr>
                                                <tr>
                                                    <td>Port</td>
                                                    <td>@gateway.port</td>
                                                </tr>
                                                <tr>
                                                    <td class="">Authentication</td>
                                                    @if (gateway.isauthenticated)
                                                    {
                                                        <td><img src="~/Image/icon/tick-color.png" style="height:23px;"></td>
                                                    }
                                                    else
                                                    {
                                                        <td><img src="~/Image/icon/cross-color.png" style="height:23px;" /></td>
                                                    }
                                                </tr>
                                                @if (gateway.isauthenticated)
                                                {
                                                    <tr>
                                                        <td class="">ชื่อผู้ใช้งาน</td>
                                                        <td>@gateway.username</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            @*--------Modal Setting---------*@
            <div id="FTPModal" class="modal fade modal-setting" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">

            </div>
            @*--------.Modal Setting---------*@

            <script>
        $(function () {
        if (@ViewBag.showPopUp != null && @ViewBag.showPopUp == true) {
            $('#SmtpModal').modal('show');
        }
        });

        $('.openmodel').on('click', function () {
            openModal($(this).data('id'));
        });

        function openModal(Id) {
            $('#FTPModal').empty();
            $('#FTPModal').load("@Url.Action("GetById", "FTP")/" + Id, function (response, status, xhr) {
                if (status === "success") {
                    $('#FTPModal').modal('show');
                }
            });
        }
            </script>

