﻿@model CU.Models.SmtpDisplay
@{
    ViewData["Title"] = "SMTP";
}
@*@{ Layout = "_AuthorizeLayout"; }*@
<link rel="stylesheet" href="~/css/account.css" />
<link rel="stylesheet" href="~/css/global.css" />
<link rel="stylesheet" href="~/css/home.css" />

<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row flex-row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center head flex-row">
                <h1 class="mt-5">SMTP Server</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 smtp-group">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0 btn-setting row flex-row">
                    <div class="btn-group mb-3">
                        <a href="@Url.Action("Index", "Admin")" class="secondary-btn">ย้อนกลับ</a>
                        @if (Model.id != 0)
                        {
                            <a data-toggle="modal" data-target="#TestSmtpModal" class="secondary-btn hidden" id="divSend"><img src="~/Image/icon/email-p.png" class="img-icon" />&nbsp;ทดสอบส่ง</a>
                        }
                        <a class="secondary-btn" data-toggle="modal" data-target=".modal-setting"><img src="~/Image/icon/gear-p.png" class="img-icon">&nbsp;ตั้งค่า</a>
                        <a class="primary-btn" href="@Url.Action("MailTemplate", "Smtp")"><span>Mail Template</span></a>
                    </div>

                </div>
                <div class="col-md-8 col-sm-12 col-xs-12 smtp-group p-0" style="margin:0 auto;">
                    @if (Model.id == 0)
                    {
                        <div id="divNoInfo"><h5 class="font-weight-bold">ไม่มีค่าพื้นฐาน</h5></div>
                    }
                    else
                    {
                        <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                            <table width="100%" class="table table-condensed table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Host Name</td>
                                        <td>@Model.host_name</td>
                                    </tr>
                                    <tr>
                                        <td>Port</td>
                                        <td>@Model.port</td>
                                    </tr>
                                    <tr>
                                        <td>อีเมล</td>
                                        <td>@Model.sender_email</td>
                                    </tr>
                                    <tr>
                                        <td>Sender Name</td>
                                        <td>@Model.sender_name</td>
                                    </tr>
                                    <tr>
                                        <td>SSL Enabled</td>
                                        @if (Model.enable_ssl)
                                        {
                                            <td><img src="~/Image/icon/tick-color.png" style="height:23px;"></td>
                                        }
                                        else
                                        {
                                            <td><img src="~/Image/icon/cross-color.png" style="height:23px;" /></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td class="">Authentication</td>
                                        @if (Model.is_authenticated)
                                        {
                                            <td><img src="~/Image/icon/tick-color.png" style="height:23px;"></td>
                                        }
                                        else
                                        {
                                            <td><img src="~/Image/icon/cross-color.png" style="height:23px;" /></td>
                                        }
                                    </tr>
                                    @if (Model.is_authenticated)
                                    {
                                        <tr>
                                            <td class="">ชื่อผู้ใช้งาน</td>
                                            <td>@Model.username</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

            </div>

        </div>
    </div>
</div>

@*--------Modal Setting---------*@
<div id="SmtpModal" class="modal fade modal-setting" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    @using (Html.BeginForm("Update", "Smtp", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.id)
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header" style="padding:12px 15px;">
                    <h4 class="modal-title">ตั้งค่า SMTP SERVER</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="~/Image/icon/cross-g.png" class="img-icon" />
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Host Name <span class="text-red-b">*</span></label>
                                    @Html.TextBoxFor(m => m.host_name, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                <div class="form-group">
                                    <label>Port <span class="text-red-b">*</span></label>
                                    @Html.TextBoxFor(m => m.port, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                <div class="form-group">
                                    <label>อีเมล <span class="text-red-b">*</span></label>
                                    @Html.TextBoxFor(m => m.sender_email, new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(m => m.sender_email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                <div class="form-group">
                                    <label>Sender Name <span class="text-red-b">*</span></label>
                                    @Html.TextBoxFor(m => m.sender_name, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-12 col-xs-12 clear-none">
                                <div class="col-sm-12 checkbox-group">
                                    @Html.CheckBoxFor(m => m.enable_ssl, new { @class = "form-check-input", @id = "inputSSL_Enabled" })
                                    <label for="inputSSL_Enabled" class="check-custom">SSL Enabled</label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 clear-none">
                                <div class="col-sm-12 checkbox-group">
                                    @Html.CheckBoxFor(m => m.is_authenticated, new { @class = "form-check-input", @id = "inputAuthentication" })
                                    <label for="inputAuthentication" class="check-custom">Authentication</label>
                                </div>
                            </div>
                        </div>
                        <div id="requiredAuthentication">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                    <div class="form-group">
                                        <label>ชื่อผู้ใช้งาน <span class="text-red-b">*</span></label>
                                        @Html.TextBoxFor(m => m.username, new { @class = "form-control required-auth", @autocomplete = "new-user" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                    <div class="form-group">
                                        <label>รหัสผ่าน <span class="text-red-b">*</span></label>
                                        @Html.PasswordFor(m => m.password, new { @class = "form-control required-auth", @autocomplete = "new-password" })
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                                    <div class="form-group">
                                        <label>ยืนยันรหัสผ่าน <span class="text-red-b">*</span></label>
                                        @Html.PasswordFor(m => m.confirmpassword, new { @class = "form-control required-auth", @autocomplete = "new-password" })
                                        @Html.ValidationMessageFor(m => m.confirmpassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                        <div class="form-group" style="margin-bottom:5px;">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 p-0 text-center">
                                    <button id="" type="submit" class="btn btn-main" style="margin-top:5px;">
                                        บันทึก
                                    </button>
                                    <button id="" type="button" class="btn btn-gray" style="margin-top:5px;" data-dismiss="modal" aria-label="Close">
                                        ยกเลิก
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@*--------.Modal Setting---------*@

@*--------Modal Sendmail---------*@
<div id="TestSmtpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 12px 15px;">
                <h4 class="modal-title">ทดสอบส่ง</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="~/Image/icon/cross-g.png" class="img-icon" />
                </button>
            </div>
            <div class="modal-body">
                <form class="validation-form" role="form" id="validation-form" method="get">
                    <div class="row">
                        <div class="col-md-10 col-sm-12 col-xs-12" style="margin:0 auto;">
                            <div class="form-group">
                                <label>อีเมล <span class="text-red-b">*</span></label>
                                <input class="form-control" id="testEmail" name="" type="text" value="">
                                <p class="testerror text-danger" hidden>ไม่สามารถส่งอีเมลล์ได้ โปรดตรวจสอบความถูกต้องของอีเมลและการตั้งค่า Smtp Server</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                    <div class="form-group" style="margin-bottom:5px;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p-0 text-center">
                                <button id="testEmailOk" type="button" class="btn btn-main" style="margin-top:5px;">
                                    ยืนยัน
                                </button>
                                <button id="" type="button" class="btn btn-gray" style="margin-top:5px;" data-dismiss="modal" aria-label="Close">
                                    ยกเลิก
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*--------.Modal Sendmail---------*@

@*--------Modal Sendmail Success---------*@
<div id="TestSuccessModal" class="modal fade modal-alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 12px 15px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="~/Image/icon/cross-g.png" class="img-icon" />
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12 col-xs-12 item-middle text-center" style="min-height:130px;">
                    <p>ระบบได้ทำการส่งอีเมลเรียบร้อยแล้ว<br>กรุณาตรวจสอบ 'กล่องจดหมาย' ในอีเมลของคุณ</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                    <div class="form-group" style="margin-bottom:5px;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p-0 text-center">
                                <button type="button" class="btn btn-gray" style="margin-top:5px;" data-dismiss="modal" aria-label="Close">
                                    ปิด
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*--------.Modal Sendmail Success---------*@

<script>
    function toggleRequiredAuth() {
        if ($('#inputAuthentication').prop("checked") == true) {
            $('.required-auth').prop('required', true);
            $('#requiredAuthentication').show();
        } else {
            $('.required-auth').prop('required', false);
            $('#requiredAuthentication').hide();
        }
    }

    $(function () {
        if (@ViewBag.showPopUp != null && @ViewBag.showPopUp == true) {
            $('#SmtpModal').modal('show');
        }

        toggleRequiredAuth();

        $('#inputAuthentication').on('click', toggleRequiredAuth);
        $('#testEmailOk').on('click', function () {
            if ($('#testEmail').val() != "") {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("TestSmtp", "Smtp")",
                    data: {
                        'ToEmail': $('#testEmail').val()
                    },
                }).done(function (data) {
                        console.log(data);
                    if (data.status == 'SUCCESS') {
                        $('#TestSmtpModal').modal('hide');
                        $('.testerror').attr('hidden', '');
                        $('#TestSuccessModal').modal('show');
                    }
                    else {
                        $('.testerror').removeAttr('hidden');
                    }
                });
            }
        });
    });
</script>

