﻿@model CU.Models.MailTemplateDisplay

@using (Html.BeginForm("Create", "Smtp", FormMethod.Post))
{
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="padding:12px 15px;">
                <h4 class="modal-title">ตั้งค่า Mail Template</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="~/Image/icon/cross-g.png" class="img-icon" />
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.Hidden("TemplateId", CU.Utilities.CryptoHelpers.UrlEncrypt(Model.Id.ToString()))
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                            <div class="form-group">
                                <label>Key <span class="text-red-b">*</span></label>
                                @Html.TextBoxFor(m => m.MailKey, new { @class = "form-control", required = "required", autocomplete = "off", @id = "" })
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                            <div class="form-group">
                                <label>Mail Subject <span class="text-red-b">*</span></label>
                                @Html.TextBoxFor(m => m.MailSubject, new { @class = "form-control", required = "required", autocomplete = "off", @id = "" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                            <div class="form-group">
                                <label>Mail From <span class="text-red-b">*</span></label>
                                @Html.TextBoxFor(m => m.MailFrom, new { @class = "form-control", required = "required", autocomplete = "off", @id = "" })
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                            <div class="form-group">
                                <label>Mail To <span class="text-red-b">*</span></label>
                                @Html.TextBoxFor(m => m.MailTo, new { @class = "form-control required-auth", autocomplete = "off", @id = "" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                            <div class="form-group">
                                <label>Mail CC <span class="text-red-b">*</span></label>
                                @Html.TextBoxFor(m => m.MailCC, new { @class = "form-control", autocomplete = "off", @id = "" })
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                            <div class="col-sm-12 checkbox-group">
                                @Html.CheckBoxFor(m => m.IsEnable, new { @class = "form-check-input", @id = "IsEnable" })
                                <label for="IsEnable" class="check-custom">Enable</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 clear-none">
                            <div class="form-group">
                                <label>Mail Body <span class="text-red-b">*</span></label>
                                @Html.TextAreaFor(m => m.MailBody, new { @class = "form-control", @rows = "3", @cols = "20", @style = "min-height:70px;", id = "MailBody" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12 col-sm-12 col-xs-12 p-0">
                    <div class="form-group" style="margin-bottom:5px;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p-0 text-center">
                                <button type="submit" class="btn btn-main" style="margin-top:5px;">
                                    บันทึก
                                </button>
                                <button type="button" class="btn btn-gray" style="margin-top:5px;" data-dismiss="modal" aria-label="Close">
                                    ยกเลิก
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}