﻿@{
    ViewData["Title"] = "Create";
    @*Layout = "_CreateLayout";*@
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<style>
    body {
        background-color: white !important;
        background-repeat: no-repeat, no-repeat;
        display: flex;
        flex-direction: column;
    }
</style>
<div class="container full-width-container menu">
    <div class="row">
        <div class="col-md-2-5 side-navbar">
            <div class="flex-column">
                <p class="head mb-1"> การเสนอขออนุมัติแต่งตั้ง </p>
                <div class="flex-row">
                    <a href="@Url.Action("Index", "CreateForm")">
                        <div class="icon-box mr-4 ml-3">
                            <img src="../../Image/icon/create-form.png" />
                        </div>
                    </a>
                    <a href="@Url.Action("ImportExcel", "Excel")">
                        <div class="icon-box" style="padding-top: 0.75em;">
                            <img src="../../Image/icon/upload-excel.png" />
                        </div>
                    </a>
                </div>
                <a href="@Url.Action("Index", "Menu")">
                    <div class="flex-row mt-3 selected list-menu">
                        <i class="fas fa-list"></i><p class="ml-3 selected">งานที่ต้องดำเนินการ</p>
                    </div>
                </a>
                <div class="flex-row mt-1 list-menu">
                    <i class="far fa-folder"></i><p class="ml-3">ตรวจสอบคำเสนอขอแต่งตั้ง</p>
                </div>
                <a href="@Url.Action("TrackStatus","Menu")">
                    <div class="flex-row mt-1 list-menu">
                        <i class="far fa-folder"></i><p class="ml-3">ติดตามสถานภาพคำขอ</p>
                    </div>
                </a>
                    <div class="flex-row mt-1 list-menu">
                        <i class="fas fa-search"></i><p class="ml-3">ค้นหาข้อมูล</p>
                    </div>
                    <a href="@Url.Action("Index", "Dashboard" )">
                        <div class="flex-row mt-1 list-menu">
                            <i class="far fa-chart-bar"></i><p class="ml-3">Dashboard</p>
                        </div>
                    </a>
                    <a href="@Url.Action("HomePage", "Home")">
                        <div class="flex-row mt-1 list-menu">
                            <i class="fas fa-home"></i><p class="ml-3">หน้าหลัก</p>
                        </div>
                    </a>
</div>
        </div>
        <div class="col-md-10 col-xs-10 col-sm-10 content ml-4 max-w-57">
            <div class="row mb-2">
                <div class="col-md-5  flex-row  min-w-116">
                    <p>ชื่อ-นามสกุล</p>
                    <form class="form-style-8 ml-2 w-75">
                        <input type="text" name="" id="" value="" />
                    </form>
                </div>
                <div class="col-md-5 flex-row min-w-77">
                    <p>หลักสูตร</p>
                    <form class="form-style-8 ml-2 w-100">
                        <input type="text" name="" id="" value="" />
                    </form>
                </div>

                <div class="col-md-2 flex-row search">
                    <div class="pink-btn">
                        <p>ค้นหา</p>
                    </div>
                </div>
            </div>
            <div class="row mb-3 float-right mr-1">
                <div class="btn-group flex-row">
                    <a href=""><div class="green-btn"><p class="text-center"><i class="fas fa-long-arrow-alt-right mr-2"></i>ส่งเสนอขอแต่งตั้ง</p></div></a>
                    <div class="red-btn"><p class="text-center"><i class="fas fa-times mr-2"></i>ยกเลิกเอกสาร</p></div>
                </div>
            </div>
            <table class="styled-table">
                <thead>
                    <tr>

                        <th><input  type="checkbox" id="" name="" value=""></th>
                        <th>
                            ชื่อ-นามสกุล<i class="fas fa-sort fs-12 ml-2 pink"></i>
                        </th>
                        <th>
                            เกณฑ์
                        </th>
                        <th>หลักสูตร<i class="fas fa-sort fs-12 ml-2 pink"></i></th>
                        <th>สถานะคำขอ<i class="fas fa-sort fs-12 ml-2 pink"></i></th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
</div>
