﻿@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<style>
    body {
        background-color: white !important;
        background-repeat: no-repeat, no-repeat;
        display: flex;
        flex-direction: column;
    }
    
</style>
<div class="container full-width-container menu">
    <div class="row">
        <div class="col-md-2-5 side-navbar">
            <div class="flex-column">
                <p class="head"> การขอแก้ไขข้อมูล </p>

                <a href="@Url.Action("Edit", "Menu")">
                    <div class="flex-row mt-3 selected list-menu">
                        <i class="fas fa-list"></i><p class="ml-3 selected">งานที่ต้องดำเนินการ</p>
                    </div>
                </a>
                <div class="flex-row mt-1 list-menu">
                    <i class="far fa-folder"></i><p class="ml-3">ติดตามสถานภาพคำขอ</p>
                </div>
                <a href="@Url.Action("HomePage", "Home")">
                    <div class="flex-row mt-1 list-menu">
                        <i class="fas fa-home"></i><p class="ml-3">หน้าหลัก</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-10 col-xs-10 col-sm-10 content ml-4 max-w-57">
            <div class="row mb-3">

                <div class="col-md-5 flex-row min-w-98">
                    <p>ชื่อ</p>
                    <form class="form-style-8 ml-2 w-100">
                        <input type="text" name="" id="" value="" />
                    </form>
                </div>
                <div class="col-md-5 flex-row min-w-77">
                    <p>หลักสูตร</p>
                    <form class="form-style-8 ml-2 w-100">
                        <input type="text" name="" id="" value="" />
                    </form>
                </div>

                <div class="col-md-2 flex-row search">
                    <div class="pink-btn">
                        <p>ค้นหา</p>
                    </div>
                </div>
            </div>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>
                            ชื่อ-นามสกุล<i class="fs-12 fas fa-sort ml-2 pink"></i>
                        </th>
                        <th>หลักสูตร<i class="fas fa-sort fs-12 ml-2 pink"></i></th>
                        <th>วันที่เริ่มต้น<i class="fas fa-sort fs-12 ml-2 pink"></i></th>
                        <th>วันที่สิ้นสุด<i class="fas fa-sort fs-12 ml-2 pink"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class='clickable-row' data-href='@Url.Action("Index", "Edit")' style="cursor:pointer">
                        <td>ผศ. กาญจนา แก้วสกุล</td>
                        <td>แพทยศาสตรบัณฑิต</td>
                        <td>1/2/2564</td>
                        <td>1/2/2565</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>