﻿@{
    ViewData["Title"] = "Menu";
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<style>
    body {
        background-color: white !important;
        background-repeat: no-repeat, no-repeat;
        display: flex;
        flex-direction: column;
    }
    
</style>
<div class="container full-width-container menu">
    <div class="row">
        <div class="col-md-2-5 side-navbar">
            <div class="flex-column">
                <p class="head mb-1"> การเสนอขออนุมัติแต่งตั้ง </p>
                <div class="flex-row">
                    <a href="@Url.Action("Index", "CreateForm")">
                        <div class="icon-box mr-4 ml-3">
                            <img src="../../Image/icon/create-form.png" />
                        </div>
                    </a>
                    <a href="@Url.Action("ImportExcel", "Excel")">
                        <div class="icon-box" style="padding-top: 0.75em;">
                            <img src="../../Image/icon/upload-excel.png" />
                        </div>
                    </a>
                </div>
                <a href="@Url.Action("Index", "Menu")">
                    <div class="flex-row mt-3 selected list-menu">
                        <i class="fas fa-list"></i><p class="ml-3 selected">งานที่ต้องดำเนินการ</p>
                    </div>
                </a>
                <div class="flex-row mt-1 list-menu">
                    <i class="far fa-folder"></i><p class="ml-3">ติดตามสถานภาพคำขอ</p>
                </div>
                <div class="flex-row mt-1 list-menu">
                    <i class="fas fa-search"></i><p class="ml-3">ค้นหาข้อมูล</p>
                </div>
                <a href="@Url.Action("Index", "Dashboard" )">
                    <div class="flex-row mt-1 list-menu">
                        <i class="far fa-chart-bar"></i><p class="ml-3">Dashboard</p>
                    </div>
                </a>
                    <a href="@Url.Action("HomePage", "Home")">
                        <div class="flex-row mt-1 list-menu">
                            <i class="fas fa-home"></i><p class="ml-3">หน้าหลัก</p>
                        </div>
                    </a>
            </div>
        </div>
        <div class="col-md-9 col-xs-10 col-sm-10 content ml-5 max-w-57">
            <p class="head-text mb-1 fs-16">รอดำเนินการ</p>
            <ul class="ul-nonstyle grid-3-list">
                <li>
                    <a href="@Url.Action("PendingTask", "Menu" )">
                        <div class="pink-box">
                            <div class="row flex-row w-100">
                                <p class="mb-0 w-75">รอตรวจสอบทั้งหมด</p>
                                <p class="mb-0 w-25 text-right">110</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="light-pink-box mt-0">
                        <div class="row flex-row w-100">
                            <p class="mb-0 w-75">บัณฑิตวิทยาลัย</p>
                            <p class="mb-0 w-25 text-right">0</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="white-box mt-0">
                        <div class="row flex-row w-100">
                            <p class="mb-0 w-75">เอกสารส่งกลับแก้ไข</p>
                            <p class="mb-0 w-25 text-right">0</p>
                        </div>
                    </div>
                </li>
            </ul>
            
            <ul class="ul-nonstyle grid-3-list">
                <li>
                    <div class="white-box">
                        <div class="row flex-row w-100">
                            <p class="mb-0 w-75">คณะครุศาสตร์</p>
                            <p class="mb-0 w-25 text-right">20</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="white-box">
                        <div class="row flex-row w-100">
                            <p class="mb-0 w-75">คณะทันตแพทยศาสตร์</p>
                            <p class="mb-0 w-25 text-right">20</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="white-box">
                        <div class="row flex-row w-100">
                            <p class="mb-0 w-75">คณะนิติศาสตร์</p>
                            <p class="mb-0 w-25 text-right">20</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="white-box">
                        <div class="row flex-row w-100">
                            <p class="mb-0 w-75">คณะนิเทศศาสตร์</p>
                            <p class="mb-0 w-25 text-right">20</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="white-box">
                        <div class="row flex-row w-100">
                            <p class="mb-0 w-75">คณะพยาบาลศาสตร์</p>
                            <p class="mb-0 w-25 text-right">20</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


