﻿@{
    ViewData["Title"] = "Create";
    @*Layout = "_CreateLayout";*@
}

<link rel="stylesheet" href="~/css/createform.css">
<link rel="stylesheet" href="~/css/home.css" />
<style>
    body {
        background-color: white !important;
        background-repeat: no-repeat, no-repeat;
        display: flex;
        flex-direction: column;
    }
</style>
<div class="container full-width-container menu">
    <div class="row">
        <div class="col-md-2-5 side-navbar">
            <div class="flex-column">
                <p class="head mb-1"> การเสนอขออนุมัติแต่งตั้ง </p>
                <div class="flex-row">
                    <a href="@Url.Action("Index", "CreateForm")">
                        <div class="icon-box mr-4 ml-3">
                            <img src="../../Image/icon/create-form.png" />
                        </div>
                    </a>
                    <a href="@Url.Action("ImportExcel", "Excel")">
                        <div class="icon-box" style="padding-top: 0.75em;">
                            <img src="../../Image/icon/upload-excel.png" />
                        </div>
                    </a>
                </div>
                <a href="@Url.Action("Create", "Menu")">
                    <div class="flex-row mt-3  list-menu">
                        <i class="fas fa-list"></i><p class="ml-3 ">งานที่ต้องดำเนินการ</p>
                    </div>
                </a>
                <div class="flex-row mt-1 list-menu">
                    <i class="far fa-folder"></i><p class="ml-3">ตรวจสอบคำเสนอขอแต่งตั้ง</p>
                </div>
                <a href="@Url.Action("TrackStatus","Menu")">
                    <div class="flex-row mt-1 selected list-menu">
                        <i class="far fa-folder"></i><p class="ml-3">ติดตามสถานภาพคำขอ</p>
                    </div>
                 </a>
                    <div class="flex-row mt-1 list-menu">
                        <i class="fas fa-search"></i><p class="ml-3">ค้นหาข้อมูล</p>
                    </div>
                    <a href="@Url.Action("Index", "Dashboard")">
                        <div class="flex-row mt-1 list-menu">
                            <i class="far fa-chart-bar"></i><p class="ml-3">Dashboard</p>
                        </div>
                    </a>
                    <a href="@Url.Action("HomePage", "Home")">
                        <div class="flex-row mt-1 list-menu">
                            <i class="fas fa-home"></i><p class="ml-3">หน้าหลัก</p>
                        </div>
                    </a>
            </div>
        </div>
        <div class="col-md-10 col-xs-10 col-sm-10 content ml-4 max-w-57">
            <p class="head-text mb-0 fs-20">ติดตามสถานภาพคำขอ</p>
            <ul class="ul-nonstyle grid-3-list">
                <li>
                    <a href="">
                        <div class="big-white-box">
                            <div class="w-100">
                                <p class="mb-0 w-100 text">รายการที่อยู่ระหว่างการพิจารณาของส่วนงาน</p>
                                <div class="flex-row num-task">
                                    <i class="far fa-file-alt"></i>
                                    <p class="mb-0 w-25 text-right fs-27">4</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="big-white-box">
                            <div class="w-100">
                                <p class="mb-0 w-100 text">รายการที่อยู่ระหว่างการพิจารณาของสำนักบริหารวิชาการ</p>
                                <div class="flex-row num-task">
                                    <i class="far fa-file-alt"></i>
                                    <p class="mb-0 w-25 text-right fs-27">4</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="big-white-box">
                            <div class="w-100">
                                <p class="mb-0 w-100 text">รายการที่อยู่ระหว่างการพิจารณาของบัณฑิตวิทยาลัย</p>
                                <div class="flex-row num-task">
                                    <i class="far fa-file-alt"></i>
                                    <p class="mb-0 w-25 text-right fs-27">4</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="big-white-box">
                            <div class="w-100">
                                <p class="mb-0 w-100 text">รายการที่อยู่ระหว่างออกประกาศแต่งตั้ง</p>
                                <div class="flex-row num-task">
                                    <i class="far fa-file-alt"></i>
                                    <p class="mb-0 w-25 text-right fs-27">4</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="big-white-box">
                            <div class="w-100">
                                <p class="mb-0 w-100 text">รายการที่ประกาศแต่งตั้งเรียบร้อยแล้ว</p>
                                <div class="flex-row num-task">
                                    <i class="far fa-file-alt"></i>
                                    <p class="mb-0 w-25 text-right fs-27">4</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="big-white-box">
                            <div class="w-100">
                                <p class="mb-0 w-100 text">รายการที่ถูกยกเลิก</p>
                                <div class="flex-row num-task">
                                    <i class="far fa-file-alt"></i>
                                    <p class="mb-0 w-25 text-right fs-27">4</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="big-white-box">
                            <div class="w-100">
                                <p class="mb-0 w-100 text">รายการขอแต่งตั้งทั้งหมด</p>
                                <div class="flex-row num-task">
                                    <i class="far fa-file-alt"></i>
                                    <p class="mb-0 w-25 text-right fs-27">4</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
